<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/activities1global.css" />
    <link rel="stylesheet" href="/css/activities1index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="activities">
      <div class="frame-parent">
        <div class="search-parent">
          <div class="search">
            <div class="search-child"></div>
            <div class="search-task-documents-activi-parent">
              <div class="search-task-documents">
                Search Task, Documents, Activities...
              </div>
              <img
                class="iconlylight-outlinesearch"
                alt=""
                src="/images/activities1/iconlylight-outlinesearch.svg"
              />
            </div>
          </div>
          <img class="toggle-icon" alt="" src="/images/activities1/toggle.svg" />
        </div>
        <div class="left-barhistory-wrapper">
          <div class="left-barhistory">
            <div class="left-barhistory-inner">
              <div class="instance-child"></div>
            </div>
            <div class="calendar" id="calendarContainer">
              <div class="calendar-parent">
                <b class="calendar1">Calendar</b>
                <img class="group-icon" alt="" src="/images/activities1/group.svg" />
              </div>
            </div>
            <div class="home" id="homeContainer">
              <div class="left-barhistory-inner">
                <b class="home1">Home</b>
                <img
                  class="iconlyboldhome"
                  alt=""
                  src="/images/activities1/iconlyboldhome.svg"
                />
              </div>
            </div>
            <div class="history">
              <div class="rectangle-parent">
                <div class="frame-child"></div>
                <div class="frame-item"></div>
              </div>
              <div class="bookmarks" id="bookmarksContainer">
                <b class="history1" id="historyText">History</b>
              </div>
              <img class="vector-icon" alt="" src="/images/activities1/vector.svg" />
            </div>
            <div class="messages" id="messagesContainer">
              <b class="messages1" id="messagesText">Messages</b>
              <img
                class="iconlylight-outlinechat"
                alt=""
                src="/images/activities1/iconlylight-outlinechat.svg"
              />

              <div class="ellipse-parent">
                <div class="group-child"></div>
                <b class="b">4</b>
              </div>
            </div>
            <div class="settings" id="settingsContainer">
              <b class="settings1" id="settingsText">Settings</b>
              <img
                class="iconlylight-outlinesetting"
                alt=""
                src="/images/activities1/iconlylight-outlinesetting.svg"
              />
            </div>
            <div class="sign-out">
              <b class="sign-out1" id="signOutText">Sign Out</b>
              <img
                class="iconlylight-outlinelogout"
                alt=""
                src="/images/activities1/iconlylight-outlinelogout@2x.png"
              />
            </div>
            <div class="logo">
              <img class="logo-child" alt="" src="/images/activities1/group-1.svg" />

              <b class="kpi-edu">
                <span>KPI</span>
                <span class="edu"> Edu</span>
              </b>
            </div>
            <div class="plan" id="planContainer">
              <div class="group-parent">
                <div class="classes-wrapper" id="groupContainer">
                  <div class="left-barhistory-inner">
                    <b class="kpi">Plan</b>
                  </div>
                </div>
                <img
                  class="iconlylight-outline3-user"
                  alt=""
                  src="/images/activities1/iconlylight-outline3-user.svg"
                />
              </div>
            </div>
            <div class="documents" id="documentsContainer">
              <div class="carbonsummary-kpi-parent">
                <img
                  class="carbonsummary-kpi-icon"
                  alt=""
                  src="/images/activities1/carbonsummarykpi.svg"
                />

                <b class="kpi1">KPI</b>
              </div>
            </div>
          </div>
        </div>
        <div class="rectangle-group">
          <div class="instance-item"></div>
          <div class="activities1">
            <b class="history2">History</b>
            <div class="social-ins">
              <div class="social-ins-child"></div>
              <div class="social-ins-inner">
                <div class="survay-parent">
                  <b class="survay">Survay</b>
                  <b class="update-status">update status</b>
                  <div class="th-july-2021-parent">
                    <b class="th-july-2021">13th July 2021</b>
                    <b class="am-9">8 A.M - 9 A.M </b>
                    <div class="group-item"></div>
                  </div>
                </div>
              </div>
              <img class="social-ins-item" alt="" src="/images/activities1/group-3.svg" />
            </div>
            <div class="adv-maths">
              <div class="adv-maths-child"></div>
              <div class="adv-maths-inner">
                <div class="blackwhite-design-parent">
                  <b class="blackwhite-design">Black&White Design</b>
                  <b class="completed">completed</b>
                  <div class="th-july-2021-parent">
                    <b class="th-july-2021">18th July 2021</b>
                    <b class="am-9">8 A.M - 9 A.M </b>
                    <div class="group-item"></div>
                  </div>
                </div>
              </div>
              <img class="adv-maths-item" alt="" src="/images/activities1/group-31.svg" />

              <img
                class="flowbitetrash-bin-outline-icon"
                alt=""
                src="/images/activities1/flowbitetrashbinoutline.svg"
              />
            </div>
            <div class="dr-dipo">
              <div class="adv-maths-child"></div>
              <img
                class="flowbitetrash-bin-outline-icon"
                alt=""
                src="/images/activities1/flowbitetrashbinoutline.svg"
              />

              <div class="dr-dipo-inner">
                <div class="fix-design-parent">
                  <b class="fix-design">Fix Design</b>
                  <b class="created">created</b>
                  <div class="rd-july-2021-parent">
                    <b class="th-july-2021">23rd July 2021</b>
                    <b class="am-1">10 A.M - 1 P.M </b>
                    <div class="group-item"></div>
                  </div>
                </div>
              </div>
              <img class="adv-maths-item" alt="" src="/images/activities1/group-32.svg" />
            </div>
            <div class="life-con">
              <div class="adv-maths-child"></div>
              <b class="layout-design">Layout Design</b>
              <img class="adv-maths-item" alt="" src="/images/activities1/group-33.svg" />

              <div class="icon-chevron-left"></div>
              <div class="life-con-inner">
                <div class="update-processing-parent">
                  <b class="update-processing">update processing</b>
                  <div class="th-july-2021-container">
                    <b class="th-july-20212">10th July 2021</b>
                    <b class="am-92">8 A.M - 9 A.M </b>
                    <div class="group-child1"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="scroll">
              <div class="scroll-child"></div>
              <div class="scroll-item"></div>
            </div>
          </div>
          <img
            class="flowbitetrash-bin-outline-icon2"
            alt=""
            src="/images/activities1/flowbitetrashbinoutline.svg"
          />

          <img
            class="icon-circle-tick"
            alt=""
            src="/images/activities1/-icon-circle-tick.svg"
          />

          <b class="delete-all" id="deleteAllText">Delete all</b>
          <img
            class="flowbitetrash-bin-outline-icon3"
            alt=""
            src="/images/activities1/flowbitetrashbinoutline.svg"
          />
        </div>
      </div>
      <img class="component-15-icon" alt="" src="/images/activities1/component-15.svg" />
    </div>

    <div id="frameContainer" class="popup-overlay" style="display: none">
      <div class="rectangle-root">
        <div class="frame-inner"></div>
        <div class="text"></div>
        <div class="delete-all1">Delete all?</div>
        <div class="group-container">
          <div class="rectangle-wrapper">
            <div class="rectangle-div"></div>
          </div>
          <b class="yes">Yes</b>
        </div>
        <div class="rectangle-container">
          <div class="group-child2"></div>
          <b class="no">No</b>
        </div>
      </div>
    </div>

    <script>
      var calendarContainer = document.getElementById("calendarContainer");
      if (calendarContainer) {
        calendarContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          // Please sync "Dashboard" to the project
        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var messagesContainer = document.getElementById("messagesContainer");
      if (messagesContainer) {
        messagesContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var planContainer = document.getElementById("planContainer");
      if (planContainer) {
        planContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "KPI" to the project
        });
      }
      
      var deleteAllText = document.getElementById("deleteAllText");
      if (deleteAllText) {
        deleteAllText.addEventListener("click", function () {
          var popup = document.getElementById("frameContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      </script>
  </body>
</html>
