<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/calendar_3global.css" />
    <link rel="stylesheet" href="/css/calendar_3index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="calendar">
      <div class="calendar-child"></div>
      <div class="search">
        <div class="search-child"></div>
        <div class="search-task-documents-activi-parent">
          <div class="search-task-documents">
            Search Task, Documents, Activities...
          </div>
          <img
            class="iconlylight-outlinesearch"
            alt=""
            src="/images/calendar_3/iconlylight-outlinesearch.svg"
          />
        </div>
      </div>
      <img class="toggle-icon" alt="" src="/images/calendar_3/toggle.svg" />

      <b class="calendar1">Calendar</b>
      <div class="left-bar-calendar">
        <div class="left-barcalendar">
          <div class="left-barcalendar-inner">
            <div class="instance-child"></div>
          </div>
          <div class="calendar2" id="calendarContainer">
            <div class="rectangle-parent">
              <div class="frame-child"></div>
              <div class="frame-item"></div>
            </div>
            <div class="calendar-parent">
              <b class="calendar3">Calendar</b>
              <img class="group-icon" alt="" src="/images/calendar_3/group.svg" />
            </div>
          </div>
          <div class="home" id="homeContainer">
            <div class="left-barcalendar-inner">
              <b class="home1">Home</b>
              <img
                class="iconlyboldhome"
                alt=""
                src="/images/calendar_3/iconlyboldhome.svg"
              />
            </div>
          </div>
          <div class="history">
            <div class="bookmarks" id="bookmarksContainer">
              <b class="history1" id="historyText">History</b>
            </div>
            <img class="vector-icon" alt="" src="/images/calendar_3/vector.svg" />
          </div>
          <div class="messages" id="messagesContainer">
            <b class="messages1" id="messagesText">Messages</b>
            <img
              class="iconlylight-outlinechat"
              alt=""
              src="/images/calendar_3/iconlylight-outlinechat.svg"
            />

            <div class="ellipse-parent">
              <div class="group-child"></div>
              <b class="b">4</b>
            </div>
          </div>
          <div class="settings" id="settingsContainer">
            <b class="settings1" id="settingsText">Settings</b>
            <img
              class="iconlylight-outlinesetting"
              alt=""
              src="/images/calendar_3/iconlylight-outlinesetting.svg"
            />
          </div>
          <div class="sign-out">
            <b class="sign-out1" id="signOutText">Sign Out</b>
            <img
              class="iconlylight-outlinelogout"
              alt=""
              src="/images/calendar_3/iconlylight-outlinelogout@2x.png"
            />
          </div>
          <div class="logo">
            <img class="logo-child" alt="" src="/images/calendar_3/group-1.svg" />

            <b class="kpi-edu">
              <span>KPI</span>
              <span class="edu"> Edu</span>
            </b>
          </div>
          <div class="plan" id="planContainer">
            <div class="group-parent">
              <div class="classes-wrapper" id="groupContainer">
                <div class="left-barcalendar-inner">
                  <b class="kpi">Plan</b>
                </div>
              </div>
              <img
                class="iconlylight-outline3-user"
                alt=""
                src="/images/calendar_3/iconlylight-outline3-user.svg"
              />
            </div>
          </div>
          <div class="documents" id="documentsContainer">
            <div class="carbonsummary-kpi-parent">
              <img
                class="carbonsummary-kpi-icon"
                alt=""
                src="/images/calendar_3/carbonsummarykpi.svg"
              />

              <b class="kpi1">KPI</b>
            </div>
          </div>
        </div>
      </div>
      <div class="group-container">
        <div class="rectangle-group">
          <div class="group-item"></div>
          <div class="today-parent">
            <b class="today">Today</b>
            <div class="checkbox-parent">
              <div class="checkbox"></div>
              <div class="design-review">Design Review</div>
              <div class="review">review</div>
              <div class="column-header">
                <div class="april-25-2024">April 25, 2024 6:00 - 7:00</div>
              </div>
            </div>
            <div class="checkbox-group">
              <div class="checkbox1"></div>
              <div class="design-review">
                <p class="read">Read</p>
                <p class="read">book</p>
              </div>
              <div class="review">10 pages</div>
              <div class="column-header">
                <div class="april-25-2024">April 25, 2024 5:00 - 6:00</div>
              </div>
            </div>
            <div class="checkbox-container">
              <div class="checkbox2"></div>
              <div class="design-review">
                <p class="read">Teach</p>
              </div>
              <div class="review">D9-501</div>
              <div class="column-header">
                <div class="april-25-2024">April 25, 2024 13:00 - 15:00</div>
              </div>
            </div>
            <img class="frame-inner" alt="" src="/images/calendar_3/line-11.svg" />
          </div>
          <div class="this-week-parent">
            <b class="this-week">This Week</b>
            <div class="frame-div">
              <div class="checkbox"></div>
              <div class="fix-design">Fix Design</div>
              <div class="review">Sales website design</div>
              <div class="column-header">
                <div class="april-25-2024">May 9, 2024 6:00 - 7:00</div>
              </div>
            </div>
            <div class="checkbox-parent1">
              <div class="checkbox4"></div>
              <div class="design-review">Task 3</div>
              <div class="review">Sales website design</div>
              <div class="column-header">
                <div class="april-25-2024">May 8, 2024 13:00 - 16:00</div>
              </div>
            </div>
            <div class="checkbox-parent2">
              <div class="checkbox4"></div>
              <div class="design-review">Code HTML</div>
              <div class="review">KPI website design</div>
              <div class="column-header">
                <div class="april-25-2024">May 8, 2024 5:00 - 6:00</div>
              </div>
            </div>
            <div class="checkbox-parent3">
              <div class="checkbox4"></div>
              <div class="design-review">Code React</div>
              <div class="review">KPI website design</div>
              <div class="column-header">
                <div class="april-25-2024">May 7, 2024 15:00 - 66:00</div>
              </div>
            </div>
            <div class="checkbox-parent4">
              <div class="checkbox4"></div>
              <div class="design-review">Up Web</div>
              <div class="review">KPI website design</div>
              <div class="column-header">
                <div class="april-25-2024">May 7, 2024 5:00 - 6:00</div>
              </div>
            </div>
            <div class="checkbox-parent5">
              <div class="checkbox8"></div>
              <div class="design-review">Survey</div>
              <div class="review">Sales website design</div>
              <div class="column-header">
                <div class="april-25-2024">May 6, 2024 5:00 - 6:00</div>
              </div>
            </div>
            <div class="checkbox-parent6">
              <div class="checkbox8"></div>
              <div class="design-review">Layout Design</div>
              <div class="review">Sales website design</div>
              <div class="column-header">
                <div class="april-25-2024">May 5, 2024 5:00 - 6:00</div>
              </div>
            </div>
            <div class="checkbox-parent7">
              <div class="checkbox"></div>
              <div class="design-review">
                <p class="read">Task 2</p>
              </div>
              <div class="review">Sales website design</div>
              <div class="column-header">
                <div class="april-25-2024">May 9, 2024 14:00 - 17:00</div>
              </div>
            </div>
            <img class="line-icon" alt="" src="/images/calendar_3/line-111.svg" />

            <div class="scroll">
              <div class="scroll-child"></div>
              <div class="scroll-child"></div>
              <div class="scroll-inner"></div>
            </div>
            <b class="see-all" id="seeAllText">See all</b>
          </div>
        </div>
        <div class="component-3profile-parent">
          <div class="component-3profile">
            <div class="component-3profile-child"></div>
            <div class="allura-avatar-parent">
              <img
                class="allura-avatar-icon"
                alt=""
                src="/images/calendar_3/allura-avatar@2x.png"
              />

              <b class="soict">SOICT</b>
            </div>
            <img
              class="icon-chevron-left"
              alt=""
              src="/images/calendar_3/icon--chevron-left@2x.png"
            />
          </div>
          <img
            class="iconlylight-outlinenotificat"
            alt=""
            src="/images/calendar_3/iconlylight-outlinenotification.svg"
            id="iconlyLightOutlineNotificat"
          />

          <img
            class="component-3mingcutearow-to-r-icon"
            alt=""
            src="/images/calendar_3/component-3mingcutearowtorightline.svg"
          />

          <img
            class="material-symbolshelp-outline-icon"
            alt=""
            src="/images/calendar_3/materialsymbolshelpoutline.svg"
            id="materialSymbolshelpOutlineIcon"
          />
        </div>
      </div>
      <div class="rectangle-container" id="groupContainer">
        <div class="group-inner"></div>
        <div class="calendar-base">
          <div class="header">
            <div class="field">
              <div class="field-master">
                <img class="icon" alt="" src="/images/calendar_3/icon.svg" />

                <div class="search1">Search</div>
                <img class="icon1" alt="" src="/images/calendar_3/icon1.svg" />
              </div>
            </div>
          </div>
          <div class="arrows">
            <div class="icon-button">
              <div class="icon-button-master">
                <img class="icon" alt="" src="/images/calendar_3/icon2.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="button-master">
                <img class="icon1" alt="" src="/images/calendar_3/icon3.svg" />

                <div class="text">Today</div>
                <img class="icon1" alt="" src="/images/calendar_3/icon4.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="icon-button-master1">
                <img class="icon" alt="" src="/images/calendar_3/icon5.svg" />
              </div>
            </div>
          </div>
          <div class="day-toggle">
            <div class="icon-button">
              <div class="button-master1">
                <img class="icon1" alt="" src="/images/calendar_3/icon6.svg" />

                <div class="text1">Day</div>
                <img class="icon1" alt="" src="/images/calendar_3/icon7.svg" />
              </div>
            </div>
            <div class="button2">
              <div class="button-master2">
                <img class="icon1" alt="" src="/images/calendar_3/icon8.svg" />

                <div class="text1">Week</div>
                <img class="icon1" alt="" src="/images/calendar_3/icon9.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="button-master1">
                <img class="icon1" alt="" src="/images/calendar_3/icon10.svg" />

                <div class="text1">Month</div>
                <img class="icon1" alt="" src="/images/calendar_3/icon11.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="button-master1">
                <img class="icon1" alt="" src="/images/calendar_3/icon12.svg" />

                <div class="text1">Year</div>
                <img class="icon1" alt="" src="/images/calendar_3/icon13.svg" />
              </div>
            </div>
          </div>
          <div class="inner-stack">
            <div class="block"></div>
            <div class="week-days">
              <div class="days">
                <div class="day">
                  <b class="sun">SUN</b>
                  <div class="div">21</div>
                </div>
                <div class="day1">
                  <b class="sun">MON</b>
                  <div class="div">22</div>
                </div>
                <div class="day2">
                  <b class="sun">TUE</b>
                  <div class="div">23</div>
                </div>
                <div class="day3">
                  <b class="sun">WED</b>
                  <div class="div">24</div>
                </div>
                <div class="day4">
                  <b class="sun">THU</b>
                  <div class="div">25</div>
                </div>
                <div class="day5">
                  <b class="sun">FRI</b>
                  <div class="div">26</div>
                </div>
                <div class="day6">
                  <b class="sun">SAT</b>
                  <div class="div">27</div>
                </div>
              </div>
              <div class="gmt-5">GMT-5</div>
            </div>
            <div class="hour-row">
              <div class="time">7 AM</div>
              <div class="blocks">
                <div class="block1">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block4">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block7">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block10">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block13">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block16">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block19">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time1">7 AM</div>
            </div>
            <div class="hour-row1">
              <div class="time">8 AM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time3">8 AM</div>
            </div>
            <div class="hour-row2">
              <div class="time">9 AM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time5">9 AM</div>
            </div>
            <div class="hour-row3">
              <div class="time">10 AM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time7">10 AM</div>
            </div>
            <div class="hour-row4">
              <div class="time">11 AM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time9">11 AM</div>
            </div>
            <div class="hour-row5">
              <div class="time">12 PM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time11">12 PM</div>
            </div>
            <div class="hour-row6">
              <div class="time">1 PM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time13">1 PM</div>
            </div>
            <div class="hour-row7">
              <div class="time">2 PM</div>
              <div class="blocks7">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="event">
                    <div class="bar"></div>
                    <div class="body">
                      <div class="time15">
                        <div class="end">2:00</div>
                        <div class="end">PM</div>
                        <div class="video-camera-wrapper">
                          <img
                            class="video-camera-icon"
                            alt=""
                            src="/images/calendar_3/videocamera.svg"
                          />
                        </div>
                      </div>
                      <div class="end1">Write Report</div>
                    </div>
                  </div>
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time16">2 PM</div>
            </div>
            <div class="hour-row8">
              <div class="time">3 PM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time18">3 PM</div>
            </div>
            <div class="hour-row9">
              <div class="time">4 PM</div>
              <div class="blocks9">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block201">
                  <div class="block202"></div>
                  <div class="block203"></div>
                </div>
                <div class="block204">
                  <div class="event1">
                    <div class="bar1"></div>
                    <div class="body">
                      <div class="time15">
                        <div class="end">12:00</div>
                        <div class="end">PM</div>
                        <div class="video-camera-container">
                          <img
                            class="video-camera-icon"
                            alt=""
                            src="/images/calendar_3/videocamera1.svg"
                          />
                        </div>
                      </div>
                      <div class="end1">Design System Pet Care</div>
                    </div>
                  </div>
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
              </div>
              <div class="time21">4 PM</div>
            </div>
            <div class="hour-row10">
              <div class="time">5 PM</div>
              <div class="blocks9">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="event2">
                    <div class="bar1"></div>
                    <div class="body">
                      <div class="time15">
                        <div class="end">8:00</div>
                        <div class="end">AM</div>
                        <div class="video-camera-container">
                          <img
                            class="video-camera-icon"
                            alt=""
                            src="/images/calendar_3/videocamera2.svg"
                          />
                        </div>
                      </div>
                      <div class="end1">Review Sample</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="time24">5 PM</div>
            </div>
            <div class="block226"></div>
          </div>
        </div>
        <div class="event-parent">
          <div class="event3">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">10:00</div>
                <div class="end">AM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_3/videocamera3.svg"
                  />
                </div>
              </div>
              <div class="end1">Financial Update</div>
            </div>
          </div>
          <div class="event4">
            <div class="bar4"></div>
            <div class="body">
              <div class="time15">
                <div class="end">11:00</div>
                <div class="end">AM</div>
                <div class="video-camera-wrapper2">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_3/videocamera4.svg"
                  />
                </div>
              </div>
              <div class="end1">Layout Design</div>
            </div>
          </div>
          <div class="event5">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">1:00</div>
                <div class="end">PM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_3/videocamera5.svg"
                  />
                </div>
              </div>
              <div class="end1">Design Review</div>
            </div>
          </div>
          <div class="event6">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">1:00</div>
                <div class="end">PM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_3/videocamera6.svg"
                  />
                </div>
              </div>
              <div class="end1">Design Review</div>
            </div>
          </div>
          <div class="event7">
            <div class="bar7"></div>
            <div class="body">
              <div class="time15">
                <div class="end">9:00</div>
                <div class="end">AM</div>
                <div class="video-camera-wrapper2">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_3/videocamera7.svg"
                  />
                </div>
              </div>
              <div class="end1">Webinar: Figma ...</div>
            </div>
          </div>
          <div class="event8">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">9:00</div>
                <div class="end">AM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_3/videocamera8.svg"
                  />
                </div>
              </div>
              <div class="end1">Usecae Design</div>
            </div>
          </div>
          <div class="event9">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">9:00</div>
                <div class="end">AM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_3/videocamera9.svg"
                  />
                </div>
              </div>
              <div class="end1">Specific Description Usecase</div>
            </div>
          </div>
          <div class="event10">
            <div class="bar4"></div>
            <div class="body">
              <div class="time15">
                <div class="end">11:00</div>
                <div class="end">AM</div>
                <div class="video-camera-wrapper8">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_3/videocamera10.svg"
                  />
                </div>
              </div>
              <div class="end1">Survey</div>
            </div>
          </div>
          <div class="event11">
            <div class="bar4"></div>
            <div class="body">
              <div class="time15">
                <div class="end">10:00</div>
                <div class="end">AM</div>
                <div class="video-camera-wrapper8">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_3/videocamera11.svg"
                  />
                </div>
              </div>
              <div class="end1">Black&White Design</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="component5Container" class="popup-overlay" style="display: none">
      <div class="component-5">
        <b class="notification">Notification</b>
        <b class="new">New</b>
        <div class="group-parent1">
          <img class="frame-child1" alt="" src="/images/calendar_3/group-11.svg" />

          <div class="day-ago">5 day ago</div>
          <div class="you-have-deadline-container">
            <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
            <p class="you-have-deadline">
              Black&White Design - Sale website design
            </p>
          </div>
          <b class="kpi-edu1">KPI EDU</b>
          <div class="ellipse-div"></div>
        </div>
        <div class="group-parent2">
          <img class="frame-child1" alt="" src="/images/calendar_3/group-12.svg" />

          <div class="day-ago">5 day ago</div>
          <div class="you-have-deadline-container">
            <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
            <p class="you-have-deadline">
              Black&White Design - Sale website design
            </p>
          </div>
          <b class="kpi-edu1">KPI EDU</b>
          <div class="ellipse-div"></div>
        </div>
        <div class="group-parent3">
          <img class="frame-child1" alt="" src="/images/calendar_3/group-13.svg" />

          <div class="day-ago">5 day ago</div>
          <div class="you-have-deadline-container">
            <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
            <p class="you-have-deadline">
              Black&White Design - Sale website design
            </p>
          </div>
          <b class="kpi-edu1">KPI EDU</b>
        </div>
        <div class="group-parent4">
          <img class="frame-child1" alt="" src="/images/calendar_3/group-14.svg" />

          <div class="day-ago">5 day ago</div>
          <div class="you-have-deadline-container">
            <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
            <p class="you-have-deadline">
              Black&White Design - Sale website design
            </p>
          </div>
          <b class="kpi-edu1">KPI EDU</b>
        </div>
        <b class="read1">Read</b>
      </div>
    </div>

    <div id="frameContainer" class="popup-overlay" style="display: none">
      <div class="kpi-management-software-user-g-parent">
        <b class="kpi-management-software"
          >KPI Management Software User Guide</b
        >
        <b class="the-kpi-management"
          >The KPI management software helps you efficiently track and manage
          plans and tasks. Below is a detailed guide on how to use the features
          of the software:</b
        >
        <b class="managing-plans-creating-container">
          <p class="managing-plans">1. Managing Plans</p>
          <p class="managing-plans">Creating a New Plan</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">Go to the "Plans" page.</li>
            <li class="go-to-the">Click the "Create Plan" button.</li>
            <li class="go-to-the">
              Enter the plan name, description, and other relevant information.
            </li>
            <li class="go-to-the">Click "Save" to create a new plan.</li>
          </ol>
          <p class="managing-plans">Viewing and Editing a Plan</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">
              Select the plan you want to view or edit from the plan list.
            </li>
            <li class="go-to-the">
              Click on the plan name to open the plan details.
            </li>
            <li class="go-to-the">
              Edit the plan information if needed and click "Save" to update.
            </li>
          </ol>
          <p class="managing-plans">2. Managing Tasks</p>
          <p class="managing-plans">Adding a New Task to a Plan</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">
              Open the plan to which you want to add a task.
            </li>
            <li class="go-to-the">Click the "Add Task" button.</li>
            <li class="go-to-the">
              Enter the task name, description, status (Completed, In Progress,
              Not Started), deadline, priority, and progress.
            </li>
            <li class="go-to-the">Click "Save" to create a new task.</li>
          </ol>
          <p class="managing-plans">Updating Task Status and Progress</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">
              Select the task you want to update from the task list within the
              plan.
            </li>
            <li class="go-to-the">
              Click on the task name to open the task details.
            </li>
            <li class="go-to-the">
              Update the status, completion progress, and other information if
              needed.
            </li>
            <li class="go-to-the">Click "Save" to save the changes.</li>
          </ol>
          <p class="managing-plans">3. Viewing History</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">Go to the "History" page.</li>
            <li class="go-to-the">
              View the list of recent activities by you and your team members.
            </li>
            <li class="go-to-the">
              Click on individual activities to see details if needed.
            </li>
          </ol>
          <p class="managing-plans">4. Messaging and Attaching Files</p>
          <p class="managing-plans">Sending a Message</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">Go to the "Messages" page.</li>
            <li class="go-to-the">
              Select the recipient from your contact list or enter the
              recipient's name.
            </li>
            <li class="go-to-the">Type your message content.</li>
            <li class="go-to-the">Click "Send" to send the message.</li>
          </ol>
          <p class="managing-plans">Attaching Files or Images</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">
              While composing a message, click on the attachment icon.
            </li>
            <li class="go-to-the">
              Choose a file or image from your computer.
            </li>
            <li class="go-to-the">
              Click "Attach" to add the file to your message.
            </li>
            <li class="go-to-the">
              Click "Send" to send the message with the attached file.
            </li>
          </ol>
          <p class="managing-plans">5. Viewing the Schedule</p>
          <p class="managing-plans">Viewing the Weekly Schedule</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">Go to the "Schedule" page.</li>
            <li class="go-to-the">
              Select the weekly view to see your tasks for the current week.
            </li>
            <li class="go-to-the">
              Click on each day to see the details of the tasks for that day.
            </li>
          </ol>
          <p class="managing-plans">Tracking Long-Term Tasks</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">
              In the schedule, select the task that spans multiple days.
            </li>
            <li class="go-to-the">
              View the highlighted or marked days to know the duration of the
              task.
            </li>
            <li class="go-to-the">
              Click on the task to see details and edit if necessary.
            </li>
          </ol>
          <p class="managing-plans">Conclusion</p>
          <p class="managing-plans">
            The KPI management software provides various tools to help you
            manage your plans and tasks efficiently. Make sure to regularly
            update the status and progress of tasks to track them timely and
            achieve your set goals. If you encounter any issues, please contact
            the technical support team for assistance. Happy using the software!
          </p>
        </b>
      </div>
    </div>

    <script>
      var calendarContainer = document.getElementById("calendarContainer");
      if (calendarContainer) {
        calendarContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          // Please sync "Dashboard" to the project
        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var messagesContainer = document.getElementById("messagesContainer");
      if (messagesContainer) {
        messagesContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var planContainer = document.getElementById("planContainer");
      if (planContainer) {
        planContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "KPI" to the project
        });
      }
      
      var seeAllText = document.getElementById("seeAllText");
      if (seeAllText) {
        seeAllText.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      
      var iconlyLightOutlineNotificat = document.getElementById(
        "iconlyLightOutlineNotificat"
      );
      if (iconlyLightOutlineNotificat) {
        iconlyLightOutlineNotificat.addEventListener("click", function () {
          var popup = document.getElementById("component5Container");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var materialSymbolshelpOutlineIcon = document.getElementById(
        "materialSymbolshelpOutlineIcon"
      );
      if (materialSymbolshelpOutlineIcon) {
        materialSymbolshelpOutlineIcon.addEventListener("click", function () {
          var popup = document.getElementById("frameContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      </script>
  </body>
</html>
