<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/calendar_expand_sidebarglobal.css" />
    <link rel="stylesheet" href="/css/calendar_expand_sidebarindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:ital,wght@0,400;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="calendar">
      <div class="calendar-child"></div>
      <div class="search">
        <div class="search-child"></div>
        <div class="search-task-documents-activi-parent">
          <div class="search-task-documents">
            Search Task, Documents, Activities...
          </div>
          <img
            class="iconlylight-outlinesearch"
            alt=""
            src="/images/calendar_expand_sidebar/iconlylight-outlinesearch.svg"
          />
        </div>
      </div>
      <img class="toggle-icon" alt="" src="/images/calendar_expand_sidebar/toggle.svg" />

      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="calendar-base">
          <div class="header">
            <div class="field">
              <div class="field-master">
                <img class="icon" alt="" src="/images/calendar_expand_sidebar/icon.svg" />

                <div class="search1">Search</div>
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon1.svg" />
              </div>
            </div>
          </div>
          <div class="arrows">
            <div class="icon-button">
              <div class="icon-button-master">
                <img class="icon" alt="" src="/images/calendar_expand_sidebar/icon2.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="button-master">
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon3.svg" />

                <div class="text">Today</div>
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon4.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="icon-button-master1">
                <img class="icon" alt="" src="/images/calendar_expand_sidebar/icon5.svg" />
              </div>
            </div>
          </div>
          <div class="day-toggle">
            <div class="icon-button">
              <div class="button-master1">
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon6.svg" />

                <div class="text1">Day</div>
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon7.svg" />
              </div>
            </div>
            <div class="button2">
              <div class="button-master2">
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon8.svg" />

                <div class="text1">Week</div>
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon9.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="button-master1">
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon10.svg" />

                <div class="text1">Month</div>
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon11.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="button-master1">
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon12.svg" />

                <div class="text1">Year</div>
                <img class="icon1" alt="" src="/images/calendar_expand_sidebar/icon13.svg" />
              </div>
            </div>
          </div>
          <div class="inner-stack">
            <div class="block"></div>
            <div class="week-days">
              <div class="days">
                <div class="day">
                  <b class="sun">SUN</b>
                  <div class="div">21</div>
                </div>
                <div class="day1">
                  <b class="sun">MON</b>
                  <div class="div">22</div>
                </div>
                <div class="day2">
                  <b class="sun">TUE</b>
                  <div class="div">23</div>
                </div>
                <div class="day3">
                  <b class="sun">WED</b>
                  <div class="div">24</div>
                </div>
                <div class="day4">
                  <b class="sun">THU</b>
                  <div class="div">25</div>
                </div>
                <div class="day5">
                  <b class="sun">FRI</b>
                  <div class="div">26</div>
                </div>
                <div class="day6">
                  <b class="sun">SAT</b>
                  <div class="div">27</div>
                </div>
              </div>
              <div class="gmt-5">GMT-5</div>
            </div>
            <div class="hour-row">
              <div class="time">7 AM</div>
              <div class="blocks">
                <div class="block1">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block4">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block7">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block10">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block13">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block16">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block19">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time1">7 AM</div>
            </div>
            <div class="hour-row1">
              <div class="time">8 AM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time3">8 AM</div>
            </div>
            <div class="hour-row2">
              <div class="time">9 AM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time5">9 AM</div>
            </div>
            <div class="hour-row3">
              <div class="time">10 AM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time7">10 AM</div>
            </div>
            <div class="hour-row4">
              <div class="time">11 AM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time9">11 AM</div>
            </div>
            <div class="hour-row5">
              <div class="time">12 PM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time11">12 PM</div>
            </div>
            <div class="hour-row6">
              <div class="time">1 PM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time13">1 PM</div>
            </div>
            <div class="hour-row7">
              <div class="time">2 PM</div>
              <div class="blocks7">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="event">
                    <div class="bar"></div>
                    <div class="body">
                      <div class="time15">
                        <div class="end">2:00</div>
                        <div class="end">PM</div>
                        <div class="video-camera-wrapper">
                          <img
                            class="video-camera-icon"
                            alt=""
                            src="/images/calendar_expand_sidebar/videocamera.svg"
                          />
                        </div>
                      </div>
                      <div class="end1">Write Report</div>
                    </div>
                  </div>
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time16">2 PM</div>
            </div>
            <div class="hour-row8">
              <div class="time">3 PM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
              </div>
              <div class="time18">3 PM</div>
            </div>
            <div class="hour-row9">
              <div class="time">4 PM</div>
              <div class="blocks9">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block201">
                  <div class="block202"></div>
                  <div class="block203"></div>
                </div>
                <div class="block204">
                  <div class="event1">
                    <div class="bar1"></div>
                    <div class="body">
                      <div class="time15">
                        <div class="end">12:00</div>
                        <div class="end">PM</div>
                        <div class="video-camera-container">
                          <img
                            class="video-camera-icon"
                            alt=""
                            src="/images/calendar_expand_sidebar/videocamera1.svg"
                          />
                        </div>
                      </div>
                      <div class="end1">Design System Pet Care</div>
                    </div>
                  </div>
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
              </div>
              <div class="time21">4 PM</div>
            </div>
            <div class="hour-row10">
              <div class="time">5 PM</div>
              <div class="blocks9">
                <div class="block22">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block28">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block31">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block34">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block37">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block40">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block25">
                  <div class="event2">
                    <div class="bar1"></div>
                    <div class="body">
                      <div class="time15">
                        <div class="end">8:00</div>
                        <div class="end">AM</div>
                        <div class="video-camera-container">
                          <img
                            class="video-camera-icon"
                            alt=""
                            src="/images/calendar_expand_sidebar/videocamera2.svg"
                          />
                        </div>
                      </div>
                      <div class="end1">Review Sample</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="time24">5 PM</div>
            </div>
            <div class="block226"></div>
          </div>
        </div>
        <div class="event-parent">
          <div class="event3">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">10:00</div>
                <div class="end">AM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_expand_sidebar/videocamera3.svg"
                  />
                </div>
              </div>
              <div class="end1">Financial Update</div>
            </div>
          </div>
          <div class="event4">
            <div class="bar4"></div>
            <div class="body">
              <div class="time15">
                <div class="end">11:00</div>
                <div class="end">AM</div>
                <div class="video-camera-wrapper1">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_expand_sidebar/videocamera4.svg"
                  />
                </div>
              </div>
              <div class="end1">Layout Design</div>
            </div>
          </div>
          <div class="event5">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">1:00</div>
                <div class="end">PM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_expand_sidebar/videocamera5.svg"
                  />
                </div>
              </div>
              <div class="end1">Design Review</div>
            </div>
          </div>
          <div class="event6">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">1:00</div>
                <div class="end">PM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_expand_sidebar/videocamera6.svg"
                  />
                </div>
              </div>
              <div class="end1">Design Review</div>
            </div>
          </div>
          <div class="event7">
            <div class="bar7"></div>
            <div class="body">
              <div class="time15">
                <div class="end">9:00</div>
                <div class="end">AM</div>
                <div class="video-camera-wrapper1">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_expand_sidebar/videocamera7.svg"
                  />
                </div>
              </div>
              <div class="end1">Webinar: Figma ...</div>
            </div>
          </div>
          <div class="event8">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">9:00</div>
                <div class="end">AM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_expand_sidebar/videocamera8.svg"
                  />
                </div>
              </div>
              <div class="end1">Usecae Design</div>
            </div>
          </div>
          <div class="event9">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">9:00</div>
                <div class="end">AM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_expand_sidebar/videocamera9.svg"
                  />
                </div>
              </div>
              <div class="end1">Specific Description Usecase</div>
            </div>
          </div>
          <div class="event10">
            <div class="bar4"></div>
            <div class="body">
              <div class="time15">
                <div class="end">11:00</div>
                <div class="end">AM</div>
                <div class="video-camera-wrapper7">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_expand_sidebar/videocamera10.svg"
                  />
                </div>
              </div>
              <div class="end1">Survey</div>
            </div>
          </div>
          <div class="event11">
            <div class="bar4"></div>
            <div class="body">
              <div class="time15">
                <div class="end">10:00</div>
                <div class="end">AM</div>
                <div class="video-camera-wrapper7">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar_expand_sidebar/videocamera11.svg"
                  />
                </div>
              </div>
              <div class="end1">Black&White Design</div>
            </div>
          </div>
        </div>
      </div>
      <b class="calendar1">Calendar</b>
      <div class="group-parent">
        <img
          class="instance-child"
          alt=""
          src="/images/calendar_expand_sidebar/group-1000004135.svg"
        />

        <img
          class="vector-2-stroke"
          alt=""
          src="/images/calendar_expand_sidebar/vector-2-stroke.svg"
          id="vector2Stroke"
        />

        <b class="add-task">Usecase Design</b>
        <div class="group-container">
          <div class="rectangle-wrapper">
            <div class="group-item"></div>
          </div>
          <div class="rectangle-container">
            <div class="group-inner"></div>
          </div>
        </div>
        <div class="group-div">
          <div class="rectangle-group">
            <div class="rectangle-div"></div>
            <i class="i">30</i>
            <img class="caretdown-icon" alt="" src="/images/calendar_expand_sidebar/caretdown.svg" />
          </div>
          <div class="rectangle-parent1">
            <div class="rectangle-div"></div>
            <i class="april">April</i>
            <img class="caretdown-icon1" alt="" src="/images/calendar_expand_sidebar/caretdown1.svg" />
          </div>
          <div class="rectangle-parent2">
            <div class="rectangle-div"></div>
            <i class="i1">2024</i>
            <img class="caretdown-icon2" alt="" src="/images/calendar_expand_sidebar/caretdown2.svg" />
          </div>
        </div>
        <div class="group-parent1">
          <div class="rectangle-group">
            <div class="rectangle-div"></div>
            <i class="i">31</i>
            <img class="caretdown-icon" alt="" src="/images/calendar_expand_sidebar/caretdown.svg" />
          </div>
          <div class="rectangle-parent1">
            <div class="rectangle-div"></div>
            <i class="april">April</i>
            <img class="caretdown-icon1" alt="" src="/images/calendar_expand_sidebar/caretdown1.svg" />
          </div>
          <div class="rectangle-parent2">
            <div class="rectangle-div"></div>
            <i class="i1">2024</i>
            <img class="caretdown-icon2" alt="" src="/images/calendar_expand_sidebar/caretdown2.svg" />
          </div>
        </div>
        <div class="from">From</div>
        <div class="name">Name</div>
        <div class="to-wrapper">
          <div class="to">To</div>
        </div>
        <div class="description-wrapper">
          <div class="to">Description</div>
        </div>
        <div class="group-parent2">
          <div class="group-wrapper">
            <div class="group-frame">
              <div class="group-frame">
                <div class="rectangle-div"></div>
                <i class="h">20h</i>
                <img
                  class="caretdown-icon6"
                  alt=""
                  src="/images/calendar_expand_sidebar/caretdown3.svg"
                />
              </div>
            </div>
          </div>
          <div class="group-wrapper1">
            <div class="group-frame">
              <div class="group-frame">
                <div class="rectangle-div"></div>
                <i class="h">30p</i>
                <img
                  class="caretdown-icon7"
                  alt=""
                  src="/images/calendar_expand_sidebar/caretdown4.svg"
                />
              </div>
            </div>
          </div>
          <img
            class="iconinterfacescalendar"
            alt=""
            src="/images/calendar_expand_sidebar/iconinterfacescalendar@2x.png"
          />
        </div>
        <div class="group-parent3">
          <div class="group-wrapper">
            <div class="group-frame">
              <div class="group-frame">
                <div class="rectangle-div"></div>
                <i class="h">20h</i>
                <img
                  class="caretdown-icon6"
                  alt=""
                  src="/images/calendar_expand_sidebar/caretdown3.svg"
                />
              </div>
            </div>
          </div>
          <div class="group-wrapper1">
            <div class="group-frame">
              <div class="group-frame">
                <div class="rectangle-div"></div>
                <i class="h">30p</i>
                <img
                  class="caretdown-icon7"
                  alt=""
                  src="/images/calendar_expand_sidebar/caretdown4.svg"
                />
              </div>
            </div>
          </div>
          <img
            class="iconinterfacescalendar"
            alt=""
            src="/images/calendar_expand_sidebar/iconinterfacescalendar@2x.png"
          />
        </div>
        <i class="please-enter-description">Please enter description (/250)</i>
        <i class="enter-name">Enter Name</i>
        <div class="profile">
          <div class="profile-child"></div>
          <div class="profile-item"></div>
          <div class="icon-chevron-left"></div>
        </div>
        <b class="save" id="saveText">Save</b>
        <div class="status-wrapper">
          <div class="status">Status</div>
        </div>
        <div class="remind-me-at-parent">
          <div class="remind-me-at">Remind me at</div>
          <div class="group-parent4">
            <div class="rectangle-group">
              <div class="rectangle-div"></div>
              <i class="i">30</i>
              <img class="caretdown-icon" alt="" src="/images/calendar_expand_sidebar/caretdown.svg" />
            </div>
            <div class="rectangle-parent1">
              <div class="rectangle-div"></div>
              <i class="april">April</i>
              <img
                class="caretdown-icon1"
                alt=""
                src="/images/calendar_expand_sidebar/caretdown1.svg"
              />
            </div>
            <div class="rectangle-parent2">
              <div class="rectangle-div"></div>
              <i class="i1">2024</i>
              <img
                class="caretdown-icon2"
                alt=""
                src="/images/calendar_expand_sidebar/caretdown5.svg"
              />
            </div>
          </div>
          <div class="group-parent5">
            <div class="group-wrapper">
              <div class="group-frame">
                <div class="group-frame">
                  <div class="rectangle-div"></div>
                  <i class="h">20h</i>
                  <img
                    class="caretdown-icon6"
                    alt=""
                    src="/images/calendar_expand_sidebar/caretdown6.svg"
                  />
                </div>
              </div>
            </div>
            <div class="group-wrapper1">
              <div class="group-frame">
                <div class="group-frame">
                  <div class="rectangle-div"></div>
                  <i class="h">30p</i>
                  <img
                    class="caretdown-icon7"
                    alt=""
                    src="/images/calendar_expand_sidebar/caretdown7.svg"
                  />
                </div>
              </div>
            </div>
            <img
              class="iconinterfacescalendar"
              alt=""
              src="/images/calendar_expand_sidebar/iconinterfacescalendar@2x.png"
            />
          </div>
        </div>
        <div class="repeat-parent">
          <div class="repeat">Repeat</div>
          <div class="profile1">
            <div class="profile-inner"></div>
            <div class="every-day">Every day</div>
            <img
              class="icon-chevron-left1"
              alt=""
              src="/images/calendar_expand_sidebar/icon--chevron-left@2x.png"
            />
          </div>
        </div>
        <div class="text-field-parent">
          <div class="text-field">
            <div class="every-day">70%</div>
          </div>
          <div class="processing-wrapper">
            <div class="status">Processing</div>
          </div>
        </div>
        <div class="text-field-group">
          <div class="text-field1">
            <div class="every-day">0.7</div>
          </div>
          <div class="priorityweight">PriorityWeight</div>
        </div>
      </div>
      <div class="left-bar-calendar">
        <div class="left-barcalendar">
          <div class="group-frame">
            <div class="instance-item"></div>
          </div>
          <div class="calendar2" id="calendarContainer">
            <div class="rectangle-parent15">
              <div class="frame-child"></div>
              <div class="frame-item"></div>
            </div>
            <div class="calendar-parent">
              <b class="calendar3">Calendar</b>
              <img class="group-icon" alt="" src="/images/calendar_expand_sidebar/group.svg" />
            </div>
          </div>
          <div class="home" id="homeContainer">
            <div class="group-frame">
              <b class="home1">Home</b>
              <img
                class="iconlyboldhome"
                alt=""
                src="/images/calendar_expand_sidebar/iconlyboldhome.svg"
              />
            </div>
          </div>
          <div class="history">
            <div class="bookmarks" id="bookmarksContainer">
              <b class="history1" id="historyText">History</b>
            </div>
            <img class="vector-icon" alt="" src="/images/calendar_expand_sidebar/vector.svg" />
          </div>
          <div class="messages" id="messagesContainer">
            <b class="messages1" id="messagesText">Messages</b>
            <img
              class="iconlylight-outlinechat"
              alt=""
              src="/images/calendar_expand_sidebar/iconlylight-outlinechat.svg"
            />

            <div class="ellipse-parent">
              <div class="ellipse-div"></div>
              <b class="b">4</b>
            </div>
          </div>
          <div class="settings" id="settingsContainer">
            <b class="settings1" id="settingsText">Settings</b>
            <img
              class="iconlylight-outlinesetting"
              alt=""
              src="/images/calendar_expand_sidebar/iconlylight-outlinesetting.svg"
            />
          </div>
          <div class="sign-out">
            <b class="sign-out1" id="signOutText">Sign Out</b>
            <img
              class="iconlylight-outlinelogout"
              alt=""
              src="/images/calendar_expand_sidebar/iconlylight-outlinelogout@2x.png"
            />
          </div>
          <div class="logo">
            <img class="logo-child" alt="" src="/images/calendar_expand_sidebar/group-1.svg" />

            <b class="kpi-edu">
              <span>KPI</span>
              <span class="edu"> Edu</span>
            </b>
          </div>
          <div class="plan" id="planContainer">
            <div class="group-parent6">
              <div class="classes-wrapper" id="groupContainer">
                <div class="group-frame">
                  <b class="kpi">Plan</b>
                </div>
              </div>
              <img
                class="iconlylight-outline3-user"
                alt=""
                src="/images/calendar_expand_sidebar/iconlylight-outline3-user.svg"
              />
            </div>
          </div>
          <div class="documents" id="documentsContainer">
            <div class="carbonsummary-kpi-parent">
              <img
                class="carbonsummary-kpi-icon"
                alt=""
                src="/images/calendar_expand_sidebar/carbonsummarykpi.svg"
              />

              <b class="kpi1">KPI</b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var vector2Stroke = document.getElementById("vector2Stroke");
      if (vector2Stroke) {
        vector2Stroke.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var saveText = document.getElementById("saveText");
      if (saveText) {
        saveText.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var calendarContainer = document.getElementById("calendarContainer");
      if (calendarContainer) {
        calendarContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          // Please sync "Dashboard" to the project
        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var messagesContainer = document.getElementById("messagesContainer");
      if (messagesContainer) {
        messagesContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var planContainer = document.getElementById("planContainer");
      if (planContainer) {
        planContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "KPI" to the project
        });
      }
      </script>
  </body>
</html>
