<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./calendarglobal.css" />
    <link rel="stylesheet" href="./calendarindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="calendar">
      <div class="calendar-child"></div>
      <div class="search">
        <div class="search-child"></div>
        <div class="search-task-documents-activi-parent">
          <div class="search-task-documents">
            Search Task, Documents, Activities...
          </div>
          <img
            class="iconlylight-outlinesearch"
            alt=""
            src="/images/calendar/iconlylight-outlinesearch.svg"
          />
        </div>
      </div>
      <img class="toggle-icon" alt="" src="/images/calendar/toggle.svg" />

      <div class="rectangle-parent" id="groupContainer">
        <div class="group-child"></div>
        <div class="calendar-base">
          <div class="header">
            <div class="field">
              <div class="field-master">
                <img class="icon" alt="" src="/images/calendar/icon.svg" />

                <div class="search1">Search</div>
                <img class="icon1" alt="" src="/images/calendar/icon1.svg" />
              </div>
            </div>
          </div>
          <div class="arrows">
            <div class="icon-button">
              <div class="icon-button-master">
                <img class="icon" alt="" src="/images/calendar/icon2.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="button-master">
                <img class="icon1" alt="" src="/images/calendar/icon3.svg" />

                <div class="text">Today</div>
                <img class="icon1" alt="" src="/images/calendar/icon4.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="icon-button-master1">
                <img class="icon" alt="" src="/images/calendar/icon5.svg" />
              </div>
            </div>
          </div>
          <div class="day-toggle">
            <div class="icon-button">
              <div class="button-master1">
                <img class="icon1" alt="" src="/images/calendar/icon6.svg" />

                <div class="text1">Day</div>
                <img class="icon1" alt="" src="/images/calendar/icon7.svg" />
              </div>
            </div>
            <div class="button2">
              <div class="button-master2">
                <img class="icon1" alt="" src="/images/calendar/icon8.svg" />

                <div class="text1">Week</div>
                <img class="icon1" alt="" src="/images/calendar/icon9.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="button-master1">
                <img class="icon1" alt="" src="/images/calendar/icon10.svg" />

                <div class="text1">Month</div>
                <img class="icon1" alt="" src="/images/calendar/icon11.svg" />
              </div>
            </div>
            <div class="icon-button">
              <div class="button-master1">
                <img class="icon1" alt="" src="/images/calendar/icon12.svg" />

                <div class="text1">Year</div>
                <img class="icon1" alt="" src="/images/calendar/icon13.svg" />
              </div>
            </div>
          </div>
          <div class="inner-stack">
            <div class="week-days">
              <div class="days">
                <div class="day">
                  <b class="sun">SUN</b>
                  <div class="div">21</div>
                </div>
                <div class="day1">
                  <b class="sun">MON</b>
                  <div class="div">22</div>
                </div>
                <div class="day2">
                  <b class="sun">TUE</b>
                  <div class="div">23</div>
                </div>
                <div class="day3">
                  <b class="sun">WED</b>
                  <div class="div">24</div>
                </div>
                <div class="day4">
                  <b class="sun">THU</b>
                  <div class="div">25</div>
                </div>
                <div class="day5">
                  <b class="sun">FRI</b>
                  <div class="div">26</div>
                </div>
                <div class="day6">
                  <b class="sun">SAT</b>
                  <div class="div">27</div>
                </div>
              </div>
              <div class="gmt-5">GMT-5</div>
            </div>
            <div class="hour-row">
              <div class="time">7 AM</div>
              <div class="blocks">
                <div class="block">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block3">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block6">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block9">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block12">
                  <div class="block13"></div>
                  <div class="block14"></div>
                </div>
                <div class="block15">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block18">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
              </div>
              <div class="time1">7 AM</div>
            </div>
            <div class="hour-row1">
              <div class="time2">8 AM</div>
              <div class="blocks1">
                <div class="block21">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block24">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block27">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block30">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block33">
                  <div class="block13"></div>
                  <div class="block14"></div>
                </div>
                <div class="block36">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block39">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
              </div>
              <div class="time3">8 AM</div>
            </div>
            <div class="hour-row2">
              <div class="time2">9 AM</div>
              <div class="blocks1">
                <div class="block21">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block24">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block27">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block30">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block33">
                  <div class="block13"></div>
                  <div class="block14"></div>
                </div>
                <div class="block36">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block39">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
              </div>
              <div class="time5">9 AM</div>
            </div>
            <div class="hour-row3">
              <div class="time2">10 AM</div>
              <div class="blocks1">
                <div class="block21">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block24">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block27">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block30">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block33">
                  <div class="block13"></div>
                  <div class="block14"></div>
                </div>
                <div class="block36">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block39">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
              </div>
              <div class="time7">10 AM</div>
            </div>
            <div class="hour-row4">
              <div class="time2">11 AM</div>
              <div class="blocks1">
                <div class="block21">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block24">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block27">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block30">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block33">
                  <div class="block13"></div>
                  <div class="block14"></div>
                </div>
                <div class="block36">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block39">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
              </div>
              <div class="time9">11 AM</div>
            </div>
            <div class="hour-row5">
              <div class="time2">12 PM</div>
              <div class="blocks1">
                <div class="block21">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block24">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block27">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block30">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block33">
                  <div class="block13"></div>
                  <div class="block14"></div>
                </div>
                <div class="block36">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block39">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
              </div>
              <div class="time11">12 PM</div>
            </div>
            <div class="hour-row6">
              <div class="time2">1 PM</div>
              <div class="blocks1">
                <div class="block21">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block24">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block27">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block30">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block33">
                  <div class="block13"></div>
                  <div class="block14"></div>
                </div>
                <div class="block36">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block39">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
              </div>
              <div class="time13">1 PM</div>
            </div>
            <div class="hour-row7">
              <div class="time2">2 PM</div>
              <div class="blocks7">
                <div class="block21">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block24">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block27">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block30">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block33">
                  <div class="block13"></div>
                  <div class="block14"></div>
                </div>
                <div class="block162">
                  <div class="block163">
                    <div class="block164">
                      <div class="block165">
                        <div class="event">
                          <div class="bar"></div>
                          <div class="body">
                            <div class="time15">
                              <div class="end">2:00</div>
                              <div class="end">PM</div>
                              <div class="video-camera-wrapper">
                                <img
                                  class="video-camera-icon"
                                  alt=""
                                  src="/images/calendar/videocamera.svg"
                                />
                              </div>
                            </div>
                            <div class="end1">Write Report</div>
                          </div>
                        </div>
                      </div>
                      <div class="block14"></div>
                    </div>
                  </div>
                  <div class="block5"></div>
                </div>
                <div class="block39">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
              </div>
              <div class="time16">2 PM</div>
            </div>
            <div class="hour-row8">
              <div class="time2">3 PM</div>
              <div class="blocks1">
                <div class="block21">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block24">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block27">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block30">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block36">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block39">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
              </div>
              <div class="time18">3 PM</div>
            </div>
            <div class="hour-row9">
              <div class="time2">4 PM</div>
              <div class="blocks1">
                <div class="block21">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block24">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block30">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block33">
                  <div class="block13"></div>
                  <div class="block14"></div>
                </div>
                <div class="block36">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block204">
                  <div class="block205"></div>
                  <div class="block206"></div>
                </div>
              </div>
              <div class="time20">4 PM</div>
            </div>
            <div class="hour-row10">
              <div class="time2">5 PM</div>
              <div class="blocks10">
                <div class="block21">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="block24">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block27">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block30">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block33">
                  <div class="block13"></div>
                  <div class="block14"></div>
                </div>
                <div class="block36">
                  <div class="block4"></div>
                  <div class="block5"></div>
                </div>
                <div class="block39">
                  <div class="block1"></div>
                  <div class="block2"></div>
                </div>
                <div class="event1">
                  <div class="bar1"></div>
                  <div class="body">
                    <div class="time15">
                      <div class="end">8:00</div>
                      <div class="end">AM</div>
                      <div class="video-camera-container">
                        <img
                          class="video-camera-icon"
                          alt=""
                          src="/images/calendar/videocamera1.svg"
                        />
                      </div>
                    </div>
                    <div class="end1">Review Sample</div>
                  </div>
                </div>
              </div>
              <div class="time23">5 PM</div>
            </div>
          </div>
        </div>
        <div class="event-parent">
          <div class="event2">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">10:00</div>
                <div class="end">AM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar/videocamera2.svg"
                  />
                </div>
              </div>
              <div class="end1">Financial Update</div>
            </div>
          </div>
          <div class="event3">
            <div class="bar3"></div>
            <div class="body">
              <div class="time15">
                <div class="end">11:00</div>
                <div class="end">AM</div>
                <div class="frame-div">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar/videocamera3.svg"
                  />
                </div>
              </div>
              <div class="end1">Layout Design</div>
            </div>
          </div>
          <div class="event4">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">1:00</div>
                <div class="end">PM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar/videocamera4.svg"
                  />
                </div>
              </div>
              <div class="end1">Design Review</div>
            </div>
          </div>
          <div class="event5">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">1:00</div>
                <div class="end">PM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar/videocamera5.svg"
                  />
                </div>
              </div>
              <div class="end1">Design Review</div>
            </div>
          </div>
          <div class="event6">
            <div class="bar6"></div>
            <div class="body">
              <div class="time15">
                <div class="end">9:00</div>
                <div class="end">AM</div>
                <div class="frame-div">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar/videocamera6.svg"
                  />
                </div>
              </div>
              <div class="end1">Webinar: Figma ...</div>
            </div>
          </div>
          <div class="event7" id="eventContainer5">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">9:00</div>
                <div class="end">AM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar/videocamera7.svg"
                  />
                </div>
              </div>
              <div class="end1">Usecae Design</div>
            </div>
          </div>
          <div class="event8">
            <div class="bar1"></div>
            <div class="body">
              <div class="time15">
                <div class="end">9:00</div>
                <div class="end">AM</div>
                <div class="video-camera-container">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar/videocamera8.svg"
                  />
                </div>
              </div>
              <div class="end1">specific description Usecase</div>
            </div>
          </div>
          <div class="event9">
            <div class="bar3"></div>
            <div class="body">
              <div class="time15">
                <div class="end">11:00</div>
                <div class="end">AM</div>
                <div class="video-camera-wrapper6">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar/videocamera9.svg"
                  />
                </div>
              </div>
              <div class="end1">Survey</div>
            </div>
          </div>
          <div class="event10">
            <div class="bar3"></div>
            <div class="body">
              <div class="time15">
                <div class="end">10:00</div>
                <div class="end">AM</div>
                <div class="video-camera-wrapper6">
                  <img
                    class="video-camera-icon"
                    alt=""
                    src="/images/calendar/videocamera10.svg"
                  />
                </div>
              </div>
              <div class="end1">Black&White Design</div>
            </div>
          </div>
        </div>
      </div>
      <b class="calendar1">Calendar</b>
      <div class="event11">
        <div class="bar1"></div>
        <div class="body">
          <div class="time15">
            <div class="end">12:00</div>
            <div class="end">PM</div>
            <div class="video-camera-container">
              <img
                class="video-camera-icon"
                alt=""
                src="/images/calendar/videocamera11.svg"
              />
            </div>
          </div>
          <div class="end1">Design System Pet Care</div>
        </div>
      </div>
      <img class="component-10-icon" alt="" src="/images/calendar/component-10.svg" />

      <div class="left-bar-calendar">
        <div class="left-barcalendar">
          <div class="left-barcalendar-inner">
            <div class="instance-child"></div>
          </div>
          <div class="calendar2" id="calendarContainer">
            <div class="rectangle-group">
              <div class="frame-child"></div>
              <div class="frame-item"></div>
            </div>
            <div class="calendar-parent">
              <b class="calendar3">Calendar</b>
              <img class="group-icon" alt="" src="/images/calendar/group.svg" />
            </div>
          </div>
          <div class="home" id="homeContainer">
            <div class="left-barcalendar-inner">
              <b class="home1">Home</b>
              <img
                class="iconlyboldhome"
                alt=""
                src="/images/calendar/iconlyboldhome.svg"
              />
            </div>
          </div>
          <div class="history">
            <div class="bookmarks" id="bookmarksContainer">
              <b class="history1" id="historyText">History</b>
            </div>
            <img class="vector-icon" alt="" src="/images/calendar/vector.svg" />
          </div>
          <div class="messages" id="messagesContainer">
            <b class="messages1" id="messagesText">Messages</b>
            <img
              class="iconlylight-outlinechat"
              alt=""
              src="/images/calendar/iconlylight-outlinechat.svg"
            />

            <div class="ellipse-parent">
              <div class="group-item"></div>
              <b class="b">4</b>
            </div>
          </div>
          <div class="settings" id="settingsContainer">
            <b class="settings1" id="settingsText">Settings</b>
            <img
              class="iconlylight-outlinesetting"
              alt=""
              src="/images/calendar/iconlylight-outlinesetting.svg"
            />
          </div>
          <div class="sign-out">
            <b class="sign-out1" id="signOutText">Sign Out</b>
            <img
              class="iconlylight-outlinelogout"
              alt=""
              src="/images/calendar/iconlylight-outlinelogout@2x.png"
            />
          </div>
          <div class="logo">
            <img class="logo-child" alt="" src="/images/calendar/group-1.svg" />

            <b class="kpi-edu">
              <span>KPI</span>
              <span class="edu"> Edu</span>
            </b>
          </div>
          <div class="plan" id="planContainer">
            <div class="group-parent">
              <div class="classes-wrapper" id="groupContainer">
                <div class="left-barcalendar-inner">
                  <b class="kpi">Plan</b>
                </div>
              </div>
              <img
                class="iconlylight-outline3-user"
                alt=""
                src="/images/calendar/iconlylight-outline3-user.svg"
              />
            </div>
          </div>
          <div class="documents" id="documentsContainer">
            <div class="carbonsummary-kpi-parent">
              <img
                class="carbonsummary-kpi-icon"
                alt=""
                src="/images/calendar/carbonsummarykpi.svg"
              />

              <b class="kpi1">KPI</b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var eventContainer5 = document.getElementById("eventContainer5");
      if (eventContainer5) {
        eventContainer5.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var calendarContainer = document.getElementById("calendarContainer");
      if (calendarContainer) {
        calendarContainer.addEventListener("click", function (e) {
          window.location.href = "calendar.html";
        });
      }
      
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          // Please sync "Dashboard" to the project
        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var messagesContainer = document.getElementById("messagesContainer");
      if (messagesContainer) {
        messagesContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var planContainer = document.getElementById("planContainer");
      if (planContainer) {
        planContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "KPI" to the project
        });
      }
      </script>
  </body>
</html>
