<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/createglobal.css" />
    <link rel="stylesheet" href="/css/createindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:ital,wght@0,400;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="calendar">
      <section class="calendar-child"></section>
      <div class="search">
        <div class="search-child"></div>
        <div class="search-task-documents-activi-parent">
          <div class="search-task-documents">
            Search Task, Documents, Activities...
          </div>
          <img
            class="iconlylight-outlinesearch"
            alt=""
            src="/images/CreateCalendar/iconlylight-outlinesearch.svg"
          />
        </div>
      </div>
      <img
        class="toggle-icon"
        loading="lazy"
        alt=""
        src="/images/CreateCalendar/toggle.svg"
      />

      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="calendar-base">
          <div class="header">
            <div class="field">
              <div class="field-master">
                <img class="icon" alt="" />

                <div class="search1">Search</div>
                <img class="icon1" alt="" />
              </div>
            </div>
          </div>
          <div class="arrows">
            <div class="icon-button">
              <div class="icon-button-master">
                <img
                  class="icon2"
                  loading="lazy"
                  alt=""
                  src="/images/CreateCalendar/icon.svg"
                />
              </div>
            </div>
            <div class="button">
              <div class="button-master">
                <img class="icon3" alt="" />

                <div class="text">Today</div>
                <img class="icon4" alt="" />
              </div>
            </div>
            <div class="icon-button1">
              <div class="icon-button-master1">
                <img
                  class="icon5"
                  loading="lazy"
                  alt=""
                  src="/images/CreateCalendar/icon-1.svg"
                />
              </div>
            </div>
          </div>
          <div class="day-toggle">
            <div class="button1">
              <div class="button-master1">
                <img class="icon6" alt="" />

                <div class="text1">Day</div>
                <img class="icon7" alt="" />
              </div>
            </div>
            <button class="button2">
              <div class="button-master2">
                <img class="icon8" alt="" />

                <div class="text2">Week</div>
                <img class="icon9" alt="" />
              </div>
            </button>
            <div class="button3">
              <div class="button-master3">
                <img class="icon10" alt="" />

                <div class="text3">Month</div>
                <img class="icon11" alt="" />
              </div>
            </div>
            <div class="button4">
              <div class="button-master4">
                <img class="icon12" alt="" />

                <div class="text4">Year</div>
                <img class="icon13" alt="" />
              </div>
            </div>
          </div>
          <div class="inner-stack">
            <div class="block"></div>
            <div class="week-days">
              <div class="days">
                <div class="day">
                  <b class="sun">SUN</b>
                  <div class="day-separator">21</div>
                </div>
                <div class="day1">
                  <b class="sun1">MON</b>
                  <div class="day-name-separator">22</div>
                </div>
                <div class="day2">
                  <b class="sun2">TUE</b>
                  <div class="spacer-separator">23</div>
                </div>
                <div class="day3">
                  <b class="sun3">WED</b>
                  <div class="div">24</div>
                </div>
                <div class="day4">
                  <b class="sun4">THU</b>
                  <div class="div1">25</div>
                </div>
                <div class="day5">
                  <b class="sun5">FRI</b>
                  <div class="div2">26</div>
                </div>
                <div class="day6">
                  <b class="sun6">SAT</b>
                  <div class="div3">27</div>
                </div>
              </div>
              <div class="gmt-5">GMT-5</div>
            </div>
            <div class="hour-row">
              <div class="time">7 AM</div>
              <div class="blocks">
                <div class="block1">
                  <div class="block2"></div>
                  <div class="block3"></div>
                </div>
                <div class="block4">
                  <div class="block5"></div>
                  <div class="block6"></div>
                </div>
                <div class="block7">
                  <div class="block8"></div>
                  <div class="block9"></div>
                </div>
                <div class="block10">
                  <div class="block11"></div>
                  <div class="block12"></div>
                </div>
                <div class="block13">
                  <div class="block14"></div>
                  <div class="block15"></div>
                </div>
                <div class="block16">
                  <div class="block17"></div>
                  <div class="block18"></div>
                </div>
                <div class="block19">
                  <div class="block20"></div>
                  <div class="block21"></div>
                </div>
              </div>
              <div class="time1">7 AM</div>
            </div>
            <div class="hour-row1">
              <div class="time2">8 AM</div>
              <div class="blocks1">
                <div class="block22">
                  <div class="block23"></div>
                  <div class="block24"></div>
                </div>
                <div class="block25">
                  <div class="block26"></div>
                  <div class="block27"></div>
                </div>
                <div class="block28">
                  <div class="block29"></div>
                  <div class="block30"></div>
                </div>
                <div class="block31">
                  <div class="block32"></div>
                  <div class="block33"></div>
                </div>
                <div class="block34">
                  <div class="block35"></div>
                  <div class="block36"></div>
                </div>
                <div class="block37">
                  <div class="block38"></div>
                  <div class="block39"></div>
                </div>
                <div class="block40">
                  <div class="block41"></div>
                  <div class="block42"></div>
                </div>
              </div>
              <div class="time3">8 AM</div>
            </div>
            <div class="hour-row2">
              <div class="time4">9 AM</div>
              <div class="blocks2">
                <div class="block43">
                  <div class="block44"></div>
                  <div class="block45"></div>
                </div>
                <div class="block46">
                  <div class="block47"></div>
                  <div class="block48"></div>
                </div>
                <div class="block49">
                  <div class="block50"></div>
                  <div class="block51"></div>
                </div>
                <div class="block52">
                  <div class="block53"></div>
                  <div class="block54"></div>
                </div>
                <div class="block55">
                  <div class="block56"></div>
                  <div class="block57"></div>
                </div>
                <div class="block58">
                  <div class="block59"></div>
                  <div class="block60"></div>
                </div>
                <div class="block61">
                  <div class="block62"></div>
                  <div class="block63"></div>
                </div>
              </div>
              <div class="time5">9 AM</div>
            </div>
            <div class="hour-row3">
              <div class="time6">10 AM</div>
              <div class="blocks3">
                <div class="block64">
                  <div class="block65"></div>
                  <div class="block66"></div>
                </div>
                <div class="block67">
                  <div class="block68"></div>
                  <div class="block69"></div>
                </div>
                <div class="block70">
                  <div class="block71"></div>
                  <div class="block72"></div>
                </div>
                <div class="block73">
                  <div class="block74"></div>
                  <div class="block75"></div>
                </div>
                <div class="block76">
                  <div class="block77"></div>
                  <div class="block78"></div>
                </div>
                <div class="block79">
                  <div class="block80"></div>
                  <div class="block81"></div>
                </div>
                <div class="block82">
                  <div class="block83"></div>
                  <div class="block84"></div>
                </div>
              </div>
              <div class="time7">10 AM</div>
            </div>
            <div class="hour-row4">
              <div class="time8">11 AM</div>
              <div class="blocks4">
                <div class="block85">
                  <div class="block86"></div>
                  <div class="block87"></div>
                </div>
                <div class="block88">
                  <div class="block89"></div>
                  <div class="block90"></div>
                </div>
                <div class="block91">
                  <div class="block92"></div>
                  <div class="block93"></div>
                </div>
                <div class="block94">
                  <div class="block95"></div>
                  <div class="block96"></div>
                </div>
                <div class="block97">
                  <div class="block98"></div>
                  <div class="block99"></div>
                </div>
                <div class="block100">
                  <div class="block101"></div>
                  <div class="block102"></div>
                </div>
                <div class="block103">
                  <div class="block104"></div>
                  <div class="block105"></div>
                </div>
              </div>
              <div class="time9">11 AM</div>
            </div>
            <div class="hour-row5">
              <div class="time10">12 PM</div>
              <div class="blocks5">
                <div class="block106">
                  <div class="block107"></div>
                  <div class="block108"></div>
                </div>
                <div class="block109">
                  <div class="block110"></div>
                  <div class="block111"></div>
                </div>
                <div class="block112">
                  <div class="block113"></div>
                  <div class="block114"></div>
                </div>
                <div class="block115">
                  <div class="block116"></div>
                  <div class="block117"></div>
                </div>
                <div class="block118">
                  <div class="block119"></div>
                  <div class="block120"></div>
                </div>
                <div class="block121">
                  <div class="block122"></div>
                  <div class="block123"></div>
                </div>
                <div class="block124">
                  <div class="block125"></div>
                  <div class="block126"></div>
                </div>
              </div>
              <div class="time11">12 PM</div>
            </div>
            <div class="hour-row6">
              <div class="time12">1 PM</div>
              <div class="blocks6">
                <div class="block127">
                  <div class="block128"></div>
                  <div class="block129"></div>
                </div>
                <div class="block130">
                  <div class="block131"></div>
                  <div class="block132"></div>
                </div>
                <div class="block133">
                  <div class="block134"></div>
                  <div class="block135"></div>
                </div>
                <div class="block136">
                  <div class="block137"></div>
                  <div class="block138"></div>
                </div>
                <div class="block139">
                  <div class="block140"></div>
                  <div class="block141"></div>
                </div>
                <div class="block142">
                  <div class="block143"></div>
                  <div class="block144"></div>
                </div>
                <div class="block145">
                  <div class="block146"></div>
                  <div class="block147"></div>
                </div>
              </div>
              <div class="time13">1 PM</div>
            </div>
            <div class="hour-row7">
              <div class="time14">2 PM</div>
              <div class="blocks7">
                <div class="block148">
                  <div class="block149"></div>
                  <div class="block150"></div>
                </div>
                <div class="block151">
                  <div class="block152"></div>
                  <div class="block153"></div>
                </div>
                <div class="block154">
                  <div class="block155"></div>
                  <div class="block156"></div>
                </div>
                <div class="block157">
                  <div class="block158"></div>
                  <div class="block159"></div>
                </div>
                <div class="block160">
                  <div class="event">
                    <div class="bar"></div>
                    <div class="body">
                      <div class="time15">
                        <div class="end">2:00</div>
                        <div class="ampm">PM</div>
                        <div class="video-camera-wrapper">
                          <img
                            class="video-camera-icon"
                            alt=""
                            src="/images/CreateCalendar/videocamera-15.svg"
                          />
                        </div>
                      </div>
                      <div class="end1">Write Report</div>
                    </div>
                  </div>
                  <div class="block161"></div>
                  <div class="block162"></div>
                </div>
                <div class="block163">
                  <div class="block164"></div>
                  <div class="block165"></div>
                </div>
              </div>
              <div class="time16">2 PM</div>
            </div>
            <div class="hour-row8">
              <div class="time17">3 PM</div>
              <div class="blocks8">
                <div class="block166">
                  <div class="block167"></div>
                  <div class="block168"></div>
                </div>
                <div class="block169">
                  <div class="block170"></div>
                  <div class="block171"></div>
                </div>
                <div class="block172">
                  <div class="block173"></div>
                  <div class="block174"></div>
                </div>
                <div class="block175">
                  <div class="block176"></div>
                  <div class="block177"></div>
                </div>
                <div class="block178">
                  <div class="block179"></div>
                  <div class="block180"></div>
                </div>
                <div class="block181">
                  <div class="block182"></div>
                  <div class="block183"></div>
                </div>
                <div class="block184">
                  <div class="block185"></div>
                  <div class="block186"></div>
                </div>
              </div>
              <div class="time18">3 PM</div>
            </div>
            <div class="hour-row9">
              <div class="time19">4 PM</div>
              <div class="blocks9">
                <div class="block187">
                  <div class="block188"></div>
                  <div class="block189"></div>
                </div>
                <div class="block190">
                  <div class="block191"></div>
                </div>
                <div class="block192">
                  <div class="block193"></div>
                  <div class="block194"></div>
                </div>
                <div class="block195">
                  <div class="block196"></div>
                  <div class="block197"></div>
                </div>
                <div class="block198">
                  <div class="block199"></div>
                  <div class="block200"></div>
                </div>
                <div class="block201">
                  <div class="block202"></div>
                  <div class="block203"></div>
                </div>
                <div class="block204">
                  <div class="event1">
                    <div class="bar1"></div>
                    <div class="body1">
                      <div class="time20">
                        <div class="end2">12:00</div>
                        <div class="ampm1">PM</div>
                        <div class="camera-enclosure">
                          <img
                            class="video-camera-icon1"
                            alt=""
                            src="/images/CreateCalendar/videocamera-16.svg"
                          />
                        </div>
                      </div>
                      <div class="end3">Design System Pet Care</div>
                    </div>
                  </div>
                  <div class="block205"></div>
                  <div class="block206"></div>
                </div>
              </div>
              <div class="time21">4 PM</div>
            </div>
            <div class="hour-row10">
              <div class="time22">5 PM</div>
              <div class="blocks10">
                <div class="block207">
                  <div class="block208"></div>
                  <div class="block209"></div>
                </div>
                <div class="block210">
                  <div class="block211"></div>
                  <div class="block212"></div>
                </div>
                <div class="block213">
                  <div class="block214"></div>
                  <div class="block215"></div>
                </div>
                <div class="block216">
                  <div class="block217"></div>
                  <div class="block218"></div>
                </div>
                <div class="block219">
                  <div class="block220"></div>
                  <div class="block221"></div>
                </div>
                <div class="block222">
                  <div class="block223"></div>
                  <div class="block224"></div>
                </div>
                <div class="block225">
                  <div class="event2">
                    <div class="bar2"></div>
                    <div class="body2">
                      <div class="time23">
                        <div class="end4">8:00</div>
                        <div class="ampm2">AM</div>
                        <div class="video-camera-container">
                          <img
                            class="video-camera-icon2"
                            loading="lazy"
                            alt=""
                            src="/images/CreateCalendar/videocamera-17.svg"
                          />
                        </div>
                      </div>
                      <div class="end5">Review Sample</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="time24">5 PM</div>
            </div>
            <div class="block226"></div>
          </div>
        </div>
        <div class="event-parent">
          <div class="event3">
            <div class="bar3"></div>
            <div class="body3">
              <div class="time25">
                <div class="end6">10:00</div>
                <div class="ampm3">AM</div>
                <div class="event-icon">
                  <img
                    class="video-camera-icon3"
                    loading="lazy"
                    alt=""
                    src="/images/CreateCalendar/videocamera-1.svg"
                  />
                </div>
              </div>
              <b class="end7">Financial Update</b>
            </div>
          </div>
          <div class="event4">
            <div class="bar4"></div>
            <div class="body4">
              <div class="time26">
                <div class="end8">11:00</div>
                <div class="ampm4">AM</div>
                <div class="video-camera-frame">
                  <img class="video-camera-icon4" alt="" />
                </div>
              </div>
              <div class="end9">Layout Design</div>
            </div>
          </div>
          <div class="event5">
            <div class="bar5"></div>
            <div class="body5">
              <div class="time27">
                <div class="end10">1:00</div>
                <div class="ampm5">PM</div>
                <div class="camera-icon">
                  <img
                    class="video-camera-icon5"
                    loading="lazy"
                    alt=""
                    src="/images/CreateCalendar/videocamera-10.svg"
                  />
                </div>
              </div>
              <b class="end11">Design Review</b>
            </div>
          </div>
          <div class="event6">
            <div class="bar6"></div>
            <div class="body6">
              <div class="time28">
                <div class="end12">1:00</div>
                <div class="ampm6">PM</div>
                <div class="frame-div">
                  <img
                    class="video-camera-icon6"
                    alt=""
                    src="/images/CreateCalendar/videocamera-14.svg"
                  />
                </div>
              </div>
              <b class="end13">Design Review</b>
            </div>
          </div>
          <div class="event7">
            <div class="bar7"></div>
            <div class="body7">
              <div class="time29">
                <div class="end14">9:00</div>
                <div class="ampm7">AM</div>
                <div class="video-camera-wrapper1">
                  <img class="video-camera-icon7" alt="" />
                </div>
              </div>
              <div class="end15">Webinar: Figma ...</div>
            </div>
          </div>
          <div class="event8">
            <div class="bar8"></div>
            <div class="body8">
              <div class="time30">
                <div class="end16">9:00</div>
                <div class="ampm8">AM</div>
                <div class="event-icon1">
                  <img
                    class="video-camera-icon8"
                    alt=""
                    src="/images/CreateCalendar/videocamera-4.svg"
                  />
                </div>
              </div>
              <div class="end17">Usecae Design</div>
            </div>
          </div>
          <div class="event9">
            <div class="bar9"></div>
            <div class="body9">
              <div class="time31">
                <div class="end18">9:00</div>
                <div class="ampm9">AM</div>
                <div class="video-camera-wrapper2">
                  <img
                    class="video-camera-icon9"
                    alt=""
                    src="/images/CreateCalendar/videocamera-6.svg"
                  />
                </div>
              </div>
              <div class="end19">Specific Description Usecase</div>
            </div>
          </div>
          <div class="event10">
            <div class="bar10"></div>
            <div class="body10">
              <div class="time32">
                <div class="end20">11:00</div>
                <div class="ampm10">AM</div>
                <div class="event-icon2">
                  <img
                    class="video-camera-icon10"
                    alt=""
                    src="/images/CreateCalendar/videocamera-8.svg"
                  />
                </div>
              </div>
              <b class="end21">Survey</b>
            </div>
          </div>
          <div class="event11">
            <div class="bar11"></div>
            <div class="body11">
              <div class="time33">
                <div class="end22">10:00</div>
                <div class="ampm11">AM</div>
                <div class="event-icon3">
                  <img
                    class="video-camera-icon11"
                    alt=""
                    src="/images/CreateCalendar/videocamera-5.svg"
                  />
                </div>
              </div>
              <div class="end23">Black&White Design</div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="calendar1">Calendar</h1>
      <div class="group-parent" style="margin-left: 80px;">
        <img class="instance-child" loading="lazy" alt="" />

        <img
          class="vector-2-stroke"
          alt=""
          src="/images/CreateCalendar/vector-2-stroke.svg"
          id="vector2Stroke"
        />

        <b class="add-task">Add Task</b>
        <div class="group-container">
          <textarea class="group-item" rows="{5}" cols="{16}"> </textarea>
          <input class="group-inner" type="text" />
        </div>
        <nav class="group-nav">
          <div class="dropdown-background-parent">
            <div class="dropdown-background"></div>
            <a class="a">30</a>
            <img class="caretdown-icon" alt="" src="/images/CreateCalendar/caretdown.svg" />
          </div>
          <div class="dropdown-background-group">
            <div class="dropdown-background1"></div>
            <a class="april">April</a>
            <img
              class="caretdown-icon1"
              alt=""
              src="/images/CreateCalendar/caretdown-1.svg"
            />
          </div>
          <div class="dropdown-background-container">
            <div class="dropdown-background2"></div>
            <i class="i">2024</i>
            <img
              class="caretdown-icon2"
              alt=""
              src="/images/CreateCalendar/caretdown-2.svg"
            />
          </div>
        </nav>
        <div class="group-div">
          <div class="rectangle-group">
            <div class="rectangle-div"></div>
            <i class="i1">31</i>
            <img class="caretdown-icon3" alt="" src="/images/CreateCalendar/caretdown.svg" />
          </div>
          <div class="rectangle-container">
            <div class="group-child1"></div>
            <a class="april1">April</a>
            <img
              class="caretdown-icon4"
              alt=""
              src="/images/CreateCalendar/caretdown-1.svg"
            />
          </div>
          <div class="rectangle-parent1">
            <div class="group-child2"></div>
            <i class="i2">2024</i>
            <img
              class="caretdown-icon5"
              alt=""
              src="/images/CreateCalendar/caretdown-2.svg"
            />
          </div>
        </div>
        <div class="from">From</div>
        <div class="name">Name</div>
        <div class="to-wrapper">
          <div class="to">To</div>
        </div>
        <div class="description-wrapper">
          <div class="description">Description</div>
        </div>
        <div class="group-parent1">
          <div class="group-wrapper">
            <div class="group-frame">
              <div class="dropdown-background-parent1">
                <div class="dropdown-background3"></div>
                <i class="h">20h</i>
                <img
                  class="caretdown-icon6"
                  alt=""
                  src="/images/CreateCalendar/caretdown-3.svg"
                />
              </div>
            </div>
          </div>
          <div class="group-wrapper1">
            <div class="group-wrapper2">
              <div class="dropdown-background-parent2">
                <div class="dropdown-background4"></div>
                <i class="p">30p</i>
                <img
                  class="caretdown-icon7"
                  alt=""
                  src="/images/CreateCalendar/caretdown-4.svg"
                />
              </div>
            </div>
          </div>
          <img
            class="iconinterfacescalendar"
            loading="lazy"
            alt=""
            src="/images/CreateCalendar/iconinterfacescalendar@2x.png"
          />
        </div>
        <div class="group-parent2">
          <div class="group-wrapper3">
            <div class="group-wrapper4">
              <div class="rectangle-parent2">
                <div class="group-child3"></div>
                <i class="h1">20h</i>
                <img
                  class="caretdown-icon8"
                  alt=""
                  src="/images/CreateCalendar/caretdown-3.svg"
                />
              </div>
            </div>
          </div>
          <div class="group-wrapper5">
            <div class="group-wrapper6">
              <div class="rectangle-parent3">
                <div class="group-child4"></div>
                <i class="p1">30p</i>
                <img
                  class="caretdown-icon9"
                  alt=""
                  src="/images/CreateCalendar/caretdown-4.svg"
                />
              </div>
            </div>
          </div>
          <img
            class="iconinterfacescalendar1"
            loading="lazy"
            alt=""
            src="/images/CreateCalendar/iconinterfacescalendar@2x.png"
          />
        </div>
        <i class="please-enter-description">Please enter description (/250)</i>
        <i class="enter-name">Enter Name</i>
        <div class="profile">
          <div class="background"></div>
          <div class="background1"></div>
          <div class="icon-chevron-left"></div>
        </div>
        <b class="save" id="saveText">Save</b>
        <div class="status-wrapper">
          <div class="status">Status</div>
        </div>
        <div class="reminder-time-dropdown">
          <div class="remind-me-at">Remind me at</div>
          <div class="group-parent3">
            <div class="dropdown-background-parent3">
              <div class="dropdown-background5"></div>
              <i class="dropdown-value">30</i>
              <img
                class="caretdown-icon10"
                alt=""
                src="/images/CreateCalendar/caretdown.svg"
              />
            </div>
            <div class="rectangle-parent4">
              <div class="group-child5"></div>
              <i class="april2">April</i>
              <img
                class="caretdown-icon11"
                alt=""
                src="/images/CreateCalendar/caretdown-1.svg"
              />
            </div>
            <div class="rectangle-parent5">
              <div class="group-child6"></div>
              <i class="i3">2024</i>
              <img
                class="caretdown-icon12"
                alt=""
                src="/images/CreateCalendar/caretdown-12.svg"
              />
            </div>
          </div>
          <div class="group-parent4">
            <div class="group-wrapper7">
              <div class="group-wrapper8">
                <div class="dropdown-background-parent4">
                  <div class="dropdown-background6"></div>
                  <i class="h2">20h</i>
                  <img
                    class="caretdown-icon13"
                    alt=""
                    src="/images/CreateCalendar/caretdown-13.svg"
                  />
                </div>
              </div>
            </div>
            <div class="group-wrapper9">
              <div class="group-wrapper10">
                <div class="rectangle-parent6">
                  <div class="group-child7"></div>
                  <i class="p2">30p</i>
                  <img
                    class="caretdown-icon14"
                    alt=""
                    src="/images/CreateCalendar/caretdown-14.svg"
                  />
                </div>
              </div>
            </div>
            <img
              class="iconinterfacescalendar2"
              loading="lazy"
              alt=""
              src="/images/CreateCalendar/iconinterfacescalendar@2x.png"
            />
          </div>
        </div>
        <div class="repeat-parent">
          <div class="repeat">Repeat</div>
          <div class="profile1">
            <div class="background2"></div>
            <div class="every-day">Every day</div>
            <img
              class="icon-chevron-left1"
              alt=""
              src="/images/CreateCalendar/icon--chevron-left@2x.png"
            />
          </div>
        </div>
        <div class="processing-label">
          <div class="text-field">
            <input class="input" placeholder="70%" type="text" />
          </div>
          <div class="processing-wrapper">
            <div class="processing">Processing</div>
          </div>
        </div>
        <div class="priority-dropdown">
          <div class="text-field1">
            <input class="input1" placeholder="0.7" type="text" />
          </div>
          <div class="priorityweight">PriorityWeight</div>
        </div>
      </div>
      <div class="left-bar-calendar">
        <div class="left-bar-kpi">
          <img
            class="left-bar-kpi-child"
            alt=""
            src="/images/CreateCalendar/rectangle-2.svg"
          />

          <div class="home">
            <div class="home-child"></div>
            <div class="home-item"></div>
            <div class="home-parent">
              <a class="home1">Home</a>
              <img
                class="iconlyboldhome"
                loading="lazy"
                alt=""
                src="/images/CreateCalendar/iconlyboldhome.svg"
              />
            </div>
          </div>
          <div class="classes" id="classesContainer">
            <div class="classes-wrapper" id="groupContainer">
              <div class="classes1">
                <b class="kpi">Plan</b>
              </div>
            </div>
            <img
              class="iconlylight-outline3-user"
              loading="lazy"
              alt=""
              src="/images/CreateCalendar/iconlylight-outline3-user.svg"
            />
          </div>
          <div class="documents">
            <b class="kpi1">KPI</b>
          </div>
          <div class="sign-out">
            <b class="sign-out1" id="signOutText">Sign Out</b>
            <img
              class="iconlylight-outlinelogout"
              loading="lazy"
              alt=""
              src="/images/CreateCalendar/iconlylight-outlinelogout@2x.png"
            />
          </div>
          <div class="logo">
            <img
              class="logo-child"
              loading="lazy"
              alt=""
              src="/images/CreateCalendar/group-1.svg"
            />

            <a class="kpi-edu">
              <span>KPI</span>
              <span class="edu"> Edu</span>
            </a>
          </div>
          <img
            class="carbonsummary-kpi-icon"
            loading="lazy"
            alt=""
            src="/images/CreateCalendar/carbonsummarykpi.svg"
          />

          <div class="documents1" id="documentsContainer1">
            <b class="calendar2"> </b>
            <img
              class="group-icon"
              loading="lazy"
              alt=""
              src="/images/CreateCalendar/group.svg"
            />
          </div>
          <div class="bookmarks" id="bookmarksContainer">
            <div class="material-symbolshistory"></div>
            <b class="history" id="historyText">History</b>
          </div>
          <img
            class="bookmarks-icon"
            loading="lazy"
            alt=""
            src="/images/CreateCalendar/vector.svg"
          />

          <b class="messages" id="messagesText">Messages</b>
          <img
            class="iconlylight-outlinechat"
            loading="lazy"
            alt=""
            src="/images/CreateCalendar/iconlylight-outlinechat.svg"
          />

          <div class="settings" id="settingsContainer">
            <b class="settings1" id="settingsText">Settings</b>
            <img
              class="iconlylight-outlinesetting"
              loading="lazy"
              alt=""
              src="/images/CreateCalendar/iconlylight-outlinesetting.svg"
            />
          </div>
        </div>
        <div class="calendar-sidebar-background"></div>
        <div class="calendar-sidebar-background1"></div>
        <div class="documents2" id="documentsContainer">
          <b class="calendar3">Calendar</b>
          <img class="group-icon1" alt="" src="/images/CreateCalendar/group-11.svg" />
        </div>
      </div>
    </div>

    <script>
      var vector2Stroke = document.getElementById("vector2Stroke");
      if (vector2Stroke) {
        vector2Stroke.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Calendar";
        });
      }
      
      var saveText = document.getElementById("saveText");
      if (saveText) {
        saveText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Calendar";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      
      var classesContainer = document.getElementById("classesContainer");
      if (classesContainer) {
        classesContainer.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Login";
        });
      }
      
      var documentsContainer1 = document.getElementById("documentsContainer1");
      if (documentsContainer1) {
        documentsContainer1.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Setting";
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      </script>
  </body>
</html>
