<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="dashboard">
      <div class="search">
        <div class="combined-shape-parent">
          <img
            class="combined-shape-icon"
            alt=""
            src="/images/public/combined-shape.svg"
          />

          <div class="search-task-documents">
            Search Task, Documents, Activities...
          </div>
        </div>
      </div>
      <img class="toggle-icon" alt="" src="/images/public/toggle.svg" />

      <div class="dashboard-child"></div>
      <img
        class="component-8-icon"
        alt=""
        src="/images/public/component-8.svg"
        id="component8"
      />

      <div class="welcome">
        <div class="welcome-child"></div>
        <img
          class="cool-kids-avatar"
          alt=""
          src="/images/public/cool-kids-avatar@2x.png"
        />

        <img
          class="humaaans-space-icon"
          alt=""
          src="/images/public/humaaans-space@2x.png"
        />

        <div class="youve-learned-70-container">
          <p class="youve-learned-70-of-your-go">
            <span class="youve-learned">You’ve learned </span>
            <b class="youve-learned">70% </b>
            <span> of your goal this week!</span>
          </p>
          <p class="youve-learned-70-of-your-go">
            Keep it up and improve your progeress.
          </p>
        </div>
        <div class="welcome-back-soict-parent">
          <b class="welcome-back-soict">Welcome back, SOICT</b>
          <img class="image-296-icon" alt="" src="/images/public/image-296@2x.png" />
        </div>
      </div>
      <div class="frame-parent">
        <div class="rectangle-parent">
          <div class="frame-child"></div>
          <b class="in-progress">In ProGress</b>
          <img
            class="carbonin-progress-icon"
            alt=""
            src="/images/public/carboninprogress.svg"
          />

          <b class="task">6 Task</b>
        </div>
        <div class="rectangle-group">
          <div class="frame-child"></div>
          <b class="in-progress">DONe</b>
          <b class="task">6 Task</b>
          <img
            class="lets-iconsdone-ring-round"
            alt=""
            src="/images/public/letsiconsdoneringround.svg"
          />
        </div>
        <div class="rectangle-container">
          <div class="frame-child"></div>
          <b class="in-progress">OVER Due</b>
          <b class="task">6 Task</b>
          <img class="group-icon" alt="" src="/images/public/group.svg" />
        </div>
        <div class="frame-div">
          <div class="frame-child"></div>
          <b class="not-started">not Started</b>
          <b class="task">6 Task</b>
          <img
            class="ictwotone-not-started-icon"
            alt=""
            src="/images/public/ictwotonenotstarted.svg"
          />
        </div>
      </div>
      <div class="dashboard-inner">
        <div class="plan-processing-parent">
          <b class="plan-processing">Plan Processing</b>
          <div class="group-parent">
            <img class="frame-child1" alt="" src="/images/public/group-19.svg" />

            <b class="b1">50%</b>
          </div>
        </div>
      </div>
      <div class="line-parent">
        <div class="line-div"></div>
        <div class="frame-child2"></div>
        <div class="frame-child3"></div>
        <div class="frame-child4"></div>
        <div class="frame-child5"></div>
        <div class="frame-child6"></div>
        <div class="frame-child7"></div>
        <div class="frame-child8"></div>
        <img class="line-icon" alt="" src="/images/public/line-22.svg" />

        <img class="frame-child9" alt="" src="/images/public/line-22.svg" />

        <img class="rectangle-icon" alt="" src="/images/public/rectangle-2509.svg" />

        <img class="frame-child10" alt="" src="/images/public/rectangle-2510.svg" />

        <img class="frame-child11" alt="" src="/images/public/rectangle-2513.svg" />

        <img class="frame-child12" alt="" src="/images/public/rectangle-2514.svg" />

        <img class="frame-child13" alt="" src="/images/public/rectangle-2517.svg" />

        <img class="frame-child14" alt="" src="/images/public/rectangle-2518.svg" />

        <img class="frame-child15" alt="" src="/images/public/rectangle-2519.svg" />

        <img class="frame-child16" alt="" src="/images/public/rectangle-2520.svg" />

        <img class="frame-child17" alt="" src="/images/public/rectangle-2521.svg" />

        <img class="frame-child18" alt="" src="/images/public/rectangle-2522.svg" />

        <img class="frame-child19" alt="" src="/images/public/rectangle-2523.svg" />

        <img class="frame-child20" alt="" src="/images/public/rectangle-2524.svg" />

        <img class="frame-child21" alt="" src="/images/public/rectangle-2525.svg" />

        <img class="frame-child22" alt="" src="/images/public/rectangle-2526.svg" />

        <img class="frame-child23" alt="" src="/images/public/line-12.svg" />

        <img class="frame-child24" alt="" src="/images/public/line-13.svg" />

        <div class="mon">
          <p class="youve-learned-70-of-your-go">Mon</p>
        </div>
        <div class="div">2</div>
        <div class="div1">4</div>
        <div class="div2">8</div>
        <div class="div3">10</div>
        <div class="div4">14</div>
        <div class="div5">
          <p class="youve-learned-70-of-your-go">16</p>
        </div>
        <div class="div6">
          <p class="youve-learned-70-of-your-go">18</p>
        </div>
        <div class="div7">
          <p class="youve-learned-70-of-your-go">20</p>
        </div>
        <div class="div8">
          <p class="youve-learned-70-of-your-go">12</p>
        </div>
        <div class="div9">
          <p class="youve-learned-70-of-your-go">6</p>
        </div>
        <div class="tuesday">Tuesday</div>
        <div class="wednesday">Wednesday</div>
        <div class="thursday">Thursday</div>
        <div class="friday">Friday</div>
        <div class="saturday">Saturday</div>
        <div class="sunday">Sunday</div>
        <b class="work-performance">Work Performance</b>
        <div class="frame-child25"></div>
        <div class="frame-child26"></div>
        <div class="real-time">Real time</div>
        <div class="intend-time">Intend time</div>
      </div>
      <div class="left-barhome">
        <div class="left-barhome-inner">
          <div class="instance-child"></div>
        </div>
        <div class="calendar" id="calendarContainer">
          <b class="calendar1">Calendar</b>
          <img class="group-icon1" alt="" src="/images/public/group1.svg" />
        </div>
        <div class="home" id="homeContainer">
          <div class="rectangle-parent1">
            <div class="frame-child27"></div>
            <div class="frame-child28"></div>
          </div>
          <div class="home-parent">
            <b class="home1">Home</b>
            <img
              class="iconlyboldhome"
              alt=""
              src="/images/public/iconlyboldhome.svg"
            />
          </div>
        </div>
        <div class="history">
          <div class="bookmarks" id="bookmarksContainer">
            <b class="history1" id="historyText">History</b>
          </div>
          <img class="vector-icon" alt="" src="/images/public/vector.svg" />
        </div>
        <div class="messages" id="messagesContainer">
          <b class="messages1" id="messagesText">Messages</b>
          <img
            class="iconlylight-outlinechat"
            alt=""
            src="/images/public/iconlylight-outlinechat.svg"
          />

          <div class="ellipse-parent">
            <div class="group-child"></div>
            <b class="b2">4</b>
          </div>
        </div>
        <div class="settings" id="settingsContainer">
          <b class="settings1" id="settingsText">Settings</b>
          <img
            class="iconlylight-outlinesetting"
            alt=""
            src="/images/public/iconlylight-outlinesetting.svg"
          />
        </div>
        <div class="sign-out">
          <b class="sign-out1" id="signOutText">Sign Out</b>
          <img
            class="iconlylight-outlinelogout"
            alt=""
            src="/images/public/iconlylight-outlinelogout@2x.png"
          />
        </div>
        <div class="logo">
          <img class="logo-child" alt="" src="/images/public/group-1.svg" />

          <b class="kpi-edu">
            <span>KPI</span>
            <span class="edu"> Edu</span>
          </b>
        </div>
        <div class="plan" id="planContainer">
          <div class="classes-wrapper" id="groupContainer">
            <div class="left-barhome-inner">
              <b class="kpi">Plan</b>
            </div>
          </div>
          <img
            class="iconlylight-outline3-user"
            alt=""
            src="/images/public/iconlylight-outline3-user.svg"
          />
        </div>
        <div class="documents" id="documentsContainer">
          <img
            class="carbonsummary-kpi-icon"
            alt=""
            src="/images/public/carbonsummarykpi.svg"
          />

          <b class="kpi1">KPI</b>
        </div>
      </div>
    </div>

    <script>
      var component8 = document.getElementById("component8");
      if (component8) {
        component8.addEventListener("click", function (e) {
          window.location.href = "dashboard.html";
        });
      }
      
      var calendarContainer = document.getElementById("calendarContainer");
      if (calendarContainer) {
        calendarContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          window.location.href = "dashboard.html";
        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var messagesContainer = document.getElementById("messagesContainer");
      if (messagesContainer) {
        messagesContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      
      var planContainer = document.getElementById("planContainer");
      if (planContainer) {
        planContainer.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "KPI" to the project
        });
      }
      </script>
  </body>
</html>
