<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/historycalendarglobal.css" />
    <link rel="stylesheet" href="/css/historycalendarindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="activities">
      <div class="left-bar-wrapper">
        <div class="left-bar">
          <div class="divider"></div>
          <div class="home-parent">
            <div class="home">
              <div class="iconlyboldhome-parent">
                <img
                  class="iconlyboldhome"
                  loading="lazy"
                  alt=""
                  src="/images/History-Calendar/iconlyboldhome.svg"
                />

                <a class="home1" id ="ToHome" style="cursor:pointer;">Home</a>
              </div>
            </div>
            <div class="divider1"></div>
          </div>
          <div class="sign-out-wrapper">
            <div class="sign-out">
              <div class="sign-out-icon">
                <img
                  class="iconlylight-outlinelogout"
                  loading="lazy"
                  alt=""
                  src="/images/History-Calendar/iconlylight-outlinelogout@2x.png"
                />
              </div>
              <b class="sign-out1" id="signOutText">Sign Out</b>
            </div>
          </div>
          <div class="logo">
            <img
              class="logo-child"
              loading="lazy"
              alt=""
              src="/images/History-Calendar/group-1.svg"
            />

            <div class="kpi-edu-wrapper">
              <a class="kpi-edu">
                <span>KPI</span>
                <span class="edu"> Edu</span>
              </a>
            </div>
          </div>
          <div class="documents" id="documentsContainer">
            <div class="navigation-icons">
              <img class="group-icon" alt="" src="/images/History-Calendar/group.svg" />
            </div>
            <b class="calendar">Calendar</b>
          </div>
          <div class="bookmarks" id="bookmarksContainer">
            <div class="material-symbolshistory"></div>
            <b class="activity-history" id="activityHistoryText"
              >Activity History</b
            >
          </div>
          <img
            class="bookmark-icon"
            loading="lazy"
            alt=""
            src="/images/History-Calendar/vector.svg"
          />

          <b class="messages" id="messagesText">Messages</b>
          <img
            class="iconlylight-outlinechat"
            loading="lazy"
            alt=""
            src="/images/History-Calendar/iconlylight-outlinechat.svg"
          />

          <div class="settings" id="settingsContainer">
            <div class="iconlylight-outlinesetting-wrapper">
              <img
                class="iconlylight-outlinesetting"
                loading="lazy"
                alt=""
                src="/images/History-Calendar/iconlylight-outlinesetting.svg"
              />
            </div>
            <b class="settings1" id="settingsText">Settings</b>
          </div>
          <div class="classes" id="classesContainer">
            <div class="classes-icon">
              <img
                class="iconlylight-outline3-user"
                loading="lazy"
                alt=""
                src="/images/History-Calendar/iconlylight-outline3-user.svg"
              />
            </div>
            <div class="classes-wrapper" id="groupContainer">
              <div class="classes1">
                <b class="kpi">Plan</b>
              </div>
            </div>
          </div>
          <div class="documents1" id="documentsContainer1">
            <img
              class="carbonsummary-kpi-icon"
              loading="lazy"
              alt=""
              src="/images/History-Calendar/carbonsummarykpi.svg"
            />

            <b class="kpi1">KPI</b>
          </div>
          <div class="divider2"></div>
        </div>
      </div>
      <div class="content">
        <div class="search-bar-parent">
          <div class="search-bar">
            <div class="search-input">
              <div class="search">
                <div class="search-child"></div>
                <img
                  class="iconlylight-outlinesearch"
                  alt=""
                  src="/images/History-Calendar/iconlylight-outlinesearch.svg"
                />

                <div class="search-placeholder">
                  <div class="search-task-documents">
                    Search Task, Documents, Activities...
                  </div>
                </div>
              </div>
              <div class="search-toggle">
                <img
                  class="toggle-icon"
                  loading="lazy"
                  alt=""
                  src="/images/History-Calendar/toggle.svg"
                />
              </div>
            </div>
          </div>
          <div class="delete-icon-parent">
            <div class="delete-icon">
              <div class="divider3"></div>
              <div class="activities1">
                <h1 class="activity-history1">Activity History</h1>
                <div class="activity-list">
                  <div class="activity-item">
                    <div class="activity-details">
                      <div class="life-con">
                        <div class="activity-icons"></div>
                        <img
                          class="life-con-child"
                          loading="lazy"
                          alt=""
                          src="/images/History-Calendar/group-3.svg"
                        />

                        <div class="icon-chevron-left"></div>
                        <div class="layout-details">
                          <h3 class="layout-design">Layout Design</h3>
                          <div class="layout-details-inner">
                            <div class="frame-parent">
                              <div class="th-july-2021-parent">
                                <b class="th-july-2021">10th July 2021</b>
                                <div class="update-time">
                                  <div class="update-time-container">
                                    <div class="update-time-icon"></div>
                                  </div>
                                  <b class="am-9">8 A.M - 9 A.M </b>
                                </div>
                              </div>
                              <b class="update-processing">update processing</b>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="social-ins">
                        <div class="divider4"></div>
                        <img
                          class="social-ins-child"
                          loading="lazy"
                          alt=""
                          src="/images/History-Calendar/group-3-1.svg"
                        />

                        <div class="social-ins-inner">
                          <div class="survay-parent">
                            <b class="survay">Survay</b>
                            <div class="th-july-2021-group">
                              <b class="th-july-20211">13th July 2021</b>
                              <div class="survey-time-icon">
                                <div class="survey-time-glyph"></div>
                              </div>
                              <b class="am-91">8 A.M - 9 A.M </b>
                            </div>
                            <b class="update-status">update status</b>
                          </div>
                        </div>
                      </div>
                      <div class="adv-maths">
                        <div class="adv-maths-child"></div>
                        <img
                          class="adv-maths-item"
                          loading="lazy"
                          alt=""
                          src="/images/History-Calendar/group-3-2.svg"
                        />

                        <div class="frame-group">
                          <div class="frame-wrapper">
                            <div class="blackwhite-design-parent">
                              <h3 class="blackwhite-design">
                                Black&White Design
                              </h3>
                              <div class="th-july-2021-container">
                                <b class="th-july-20212">18th July 2021</b>
                                <div class="action-time">
                                  <div class="action-time-icon"></div>
                                </div>
                                <b class="am-92">8 A.M - 9 A.M </b>
                              </div>
                              <b class="completed">completed</b>
                            </div>
                          </div>
                          <div class="delete-action">
                            <img
                              class="flowbitetrash-bin-outline-icon"
                              loading="lazy"
                              alt=""
                              src="/images/History-Calendar/flowbitetrashbinoutline.svg"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="dr-dipo">
                        <div class="dr-dipo-child"></div>
                        <div class="dr-dipo-inner">
                          <img
                            class="frame-child"
                            loading="lazy"
                            alt=""
                            src="/images/History-Calendar/group-3-3.svg"
                          />
                        </div>
                        <div class="group-div">
                          <div class="fix-design-parent">
                            <h3 class="fix-design">Fix Design</h3>
                            <div class="rd-july-2021-parent">
                              <b class="rd-july-2021">23rd July 2021</b>
                              <div class="creation-time">
                                <div class="creation-time-icon"></div>
                              </div>
                              <b class="am-1">10 A.M - 1 P.M </b>
                            </div>
                            <b class="created">created</b>
                          </div>
                        </div>
                        <div class="flowbitetrash-bin-outline-wrapper">
                          <img
                            class="flowbitetrash-bin-outline-icon1"
                            loading="lazy"
                            alt=""
                            src="/images/History-Calendar/flowbitetrashbinoutline-1.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="scroll">
                    <div class="scroll-thumb"></div>
                    <div class="scroll-thumb1"></div>
                  </div>
                </div>
              </div>
              <img
                class="flowbitetrash-bin-outline-icon2"
                loading="lazy"
                alt=""
                src="/images/History-Calendar/flowbitetrashbinoutline-1.svg"
              />

              <b class="delete-all">Delete all</b>
              <img
                class="flowbitetrash-bin-outline-icon3"
                loading="lazy"
                alt=""
                src="/images/History-Calendar/flowbitetrashbinoutline-1.svg"
              />
            </div>
            <img class="icon-circle-tick" alt="" />
          </div>
        </div>
      </div>
      <div class="component-3mingcutearow-to-r-parent">
        <img class="component-3mingcutearow-to-r-icon" alt="" />

        <div class="component-3profile">
          <div class="component-3profile-child"></div>
          <div class="allura-avatar-parent">
            <img
              class="allura-avatar-icon"
              alt=""
              src="/images/History-Calendar/allura-avatar@2x.png"
            />

            <b class="soict">SOICT</b>
          </div>
          <img class="icon-chevron-left1" alt="" />
        </div>
        <div class="notification-background-parent">
          <div class="notification-background">
            <div class="notification-highlight"></div>
          </div>
          <div class="profile-menu">
            <div class="notification-icon-parent">
              <div class="notification-icon">
                <img
                  class="iconlylight-outlinenotificat"
                  loading="lazy"
                  alt=""
                  src="/images/History-Calendar/iconlylight-outlinenotification.svg"
                />
              </div>
              <div class="help-icon-wrap">
                <img
                  class="material-symbolshelp-outline-icon"
                  loading="lazy"
                  alt=""
                  src="/images/History-Calendar/materialsymbolshelpoutline.svg"
                />
              </div>
              <div class="component-3profile1">
                <div class="dropdown-background"></div>
                <div class="allura-avatar-group">
                  <img
                    class="allura-avatar-icon1"
                    alt=""
                    src="/images/History-Calendar/allura-avatar@2x.png"
                  />

                  <div class="school-name-wrap">
                    <a class="soict1">SOICT</a>
                  </div>
                </div>
                <div class="back-icon-wrap">
                  <img
                    class="icon-chevron-left2"
                    alt=""
                    src="/images/History-Calendar/icon--chevron-left@2x.png"
                  />
                </div>
              </div>
              <img
                class="component-3mingcutearow-to-r-icon1"
                loading="lazy"
                alt=""
                src="/images/History-Calendar/component-3mingcutearowtorightline-1.svg"
                id="component3mingcutearowToR"
              />
            </div>
          </div>
          <div class="frame-container">
            <div class="calendar-wrapper">
              <div class="calendar1">
                <div class="header-content">
                  <div class="header-title">
                    <a class="my-calendar">My Calendar</a>
                    <div class="month-navigation">
                      <div class="month-selector">
                        <div class="july-2024-parent">
                          <b class="july-2024">JULY 2024</b>
                          <div class="vector-2-stroke-wrapper">
                            <img
                              class="vector-2-stroke"
                              alt=""
                              src="/images/History-Calendar/vector-2-stroke.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="calendar-events">
                  <div class="weekdays-weeks">
                    <div class="weekdays">
                      <div class="mo">Mo</div>
                      <div class="tu">Tu</div>
                      <div class="we">We</div>
                      <div class="th">Th</div>
                      <div class="fr">Fr</div>
                      <div class="sa">Sa</div>
                      <div class="su">Su</div>
                    </div>
                    <div class="calendar-weeks">
                      <div class="week-one-container">
                        <div class="week-01">
                          <div class="div">1</div>
                          <div class="div1">2</div>
                          <div class="div2">3</div>
                          <div class="week-one-days">
                            <div class="week-one-day">1</div>
                          </div>
                          <div class="week-one-days1">2</div>
                          <div class="week-one-days2">
                            <div class="div3">3</div>
                          </div>
                          <div class="week-one-days3">4</div>
                        </div>
                      </div>
                      <div class="week-two-container">
                        <div class="week-two">
                          <div class="week-02">
                            <div class="week-two-day">
                              <div class="placeholder-day">5</div>
                            </div>
                            <div class="week-two-day1">
                              <div class="div4">6</div>
                            </div>
                            <div class="week-two-day2">
                              <div class="div5">7</div>
                            </div>
                            <img class="current-day-icon" alt="" />

                            <div class="week-two-day3">
                              <div class="div6">8</div>
                            </div>
                            <div class="week-two-day4" id="text31">9</div>
                            <div class="week-two-day5">10</div>
                            <div class="week-two-day6">11</div>
                          </div>
                          <div class="weekend-background"></div>
                        </div>
                      </div>
                      <div class="week-03">
                        <div class="week-three-days">
                          <div class="placeholder-day1">12</div>
                        </div>
                        <div class="week-three-days1">
                          <div class="div7">13</div>
                        </div>
                        <div class="week-three-days2">
                          <div class="div8">14</div>
                        </div>
                        <div class="week-three-days3">15</div>
                        <div class="week-three-days4">16</div>
                        <div class="week-three-days5">
                          <div class="div9">17</div>
                        </div>
                        <div class="week-three-days6">18</div>
                      </div>
                    </div>
                    <div class="week-04">
                      <div class="week-four-days">
                        <div class="placeholder-day2">19</div>
                      </div>
                      <div class="week-four-days1">
                        <div class="div10">20</div>
                      </div>
                      <div class="week-four-days2">
                        <div class="div11">21</div>
                      </div>
                      <div class="week-four-days3">22</div>
                      <div class="week-four-days4">23</div>
                      <div class="week-four-days5">
                        <div class="div12">24</div>
                      </div>
                      <div class="week-four-days6">25</div>
                    </div>
                    <div class="week-five-container">
                      <div class="week-05">
                        <div class="week-five-days">
                          <div class="placeholder-day3">26</div>
                        </div>
                        <div class="week-five-days1">
                          <div class="div13">27</div>
                        </div>
                        <div class="week-five-days2">
                          <div class="div14">28</div>
                        </div>
                        <div class="week-five-days3">29</div>
                        <div class="week-five-days4">30</div>
                        <div class="week-five-days5">31</div>
                        <b class="b">30</b>
                      </div>
                    </div>
                  </div>
                  <img
                    class="calendar-events-child"
                    loading="lazy"
                    alt=""
                    src="/images/History-Calendar/ellipse-56.svg"
                  />

                  <div class="event-indicators"></div>
                  <div class="event-indicators1"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="schedule-content-wrapper">
            <div class="schedule-content">
              <div class="schedule-header">
                <div class="header-title-container">
                  <b class="this-week">This Week</b>
                  <b class="see-all" id="seeAllText">See all</b>
                </div>
              </div>
              <div class="task-item">
                <div class="checkbox-container">
                  <input class="checkbox" type="checkbox" />
                </div>
                <div class="task-1">Task 1</div>
                <div class="plan-1">Plan 1</div>
                <div class="column-header">
                  <div class="april-8-2024">April 8, 2024 6:00 - 7:00</div>
                </div>
              </div>
              <div class="plan-item">
                <div class="plan-content">
                  <div class="checkbox-container1">
                    <input class="checkbox1" type="checkbox" />
                  </div>
                  <div class="task-2">
                    <p class="task-21">Task 2</p>
                  </div>
                  <div class="des-2">Des 2</div>
                  <div class="column-header1">
                    <div class="april-8-20241">April 8, 2024 14:00 - 17:00</div>
                  </div>
                </div>
              </div>
              <div class="task-list">
                <div class="task-items">
                  <div class="task-elements">
                    <div class="checkbox2"></div>
                  </div>
                  <div class="task-3">Task 3</div>
                  <div class="des-3">Des 3</div>
                  <div class="column-header2">
                    <div class="april-8-20242">April 8, 2024 5:00 - 6:00</div>
                  </div>
                  <img
                    class="task-items-child"
                    loading="lazy"
                    alt=""
                    src="/images/History-Calendar/line-11.svg"
                  />

                  <div class="scroll1">
                    <div class="scrollbar-thumb">
                      <div class="scroll-handle"></div>
                      <div class="scroll-track"></div>
                    </div>
                    <div class="scrollbar-background"></div>
                  </div>
                </div>
                <div class="task-items1">
                  <div class="checkbox-wrapper">
                    <div class="checkbox3"></div>
                  </div>
                  <div class="task-4">Task 4</div>
                  <div class="des-4">Des 4</div>
                  <div class="column-header3">
                    <div class="april-8-20243">April 8, 2024 5:00 - 6:00</div>
                  </div>
                </div>
                <div class="task-items2">
                  <div class="checkbox-frame">
                    <div class="checkbox4"></div>
                  </div>
                  <div class="task-5">Task 5</div>
                  <a class="des-5">Des 5</a>
                  <div class="column-header4">
                    <div class="april-8-20244">April 8, 2024 5:00 - 6:00</div>
                  </div>
                </div>
                <div class="task-items3">
                  <div class="frame-div">
                    <div class="checkbox5"></div>
                  </div>
                  <div class="task-51">Task 5</div>
                  <a class="des-51">Des 5</a>
                  <div class="column-header5">
                    <div class="april-8-20245">April 8, 2024 5:00 - 6:00</div>
                  </div>
                </div>
                <div class="task-items4">
                  <div class="checkbox-wrapper1">
                    <div class="checkbox6"></div>
                  </div>
                  <div class="task-52">Task 5</div>
                  <a class="des-52">Des 5</a>
                  <div class="column-header6">
                    <div class="april-8-20246">April 8, 2024 5:00 - 6:00</div>
                  </div>
                </div>
                <div class="task-items5">
                  <div class="checkbox-wrapper2">
                    <div class="checkbox7"></div>
                  </div>
                  <div class="task-53">Task 5</div>
                  <a class="des-53">Des 5</a>
                  <div class="column-header7">
                    <div class="april-8-20247">April 8, 2024 5:00 - 6:00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Login";
        });
      }

      var ToHomeText = document.getElementById("ToHome");
      if (ToHomeText) {
        ToHomeText.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/Home";
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var activityHistoryText = document.getElementById("activityHistoryText");
      if (activityHistoryText) {
        activityHistoryText.addEventListener("click", function (e) {

        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {

        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Plan";
        });
      }
      
      var classesContainer = document.getElementById("classesContainer");
      if (classesContainer) {
        classesContainer.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      
      var documentsContainer1 = document.getElementById("documentsContainer1");
      if (documentsContainer1) {
        documentsContainer1.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var component3mingcutearowToR = document.getElementById(
        "component3mingcutearowToR"
      );
      if (component3mingcutearowToR) {
        component3mingcutearowToR.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/History";
        });
      }
      
      var text31 = document.getElementById("text31");
      if (text31) {
        text31.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      
      var seeAllText = document.getElementById("seeAllText");
      if (seeAllText) {
        seeAllText.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      </script>
  </body>
</html>
