<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/historyglobal.css" />
    <link rel="stylesheet" href="/css/historyindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="activities">
      <main class="instance-parent">
        <div class="left-bar-wrapper">
          <div class="left-bar">
            <div class="left-divider"></div>
            <div class="home-parent">
              <div class="home">
                <div class="iconlyboldhome-parent">
                  <img
                    class="iconlyboldhome"
                    loading="lazy"
                    alt=""
                    src="/images/History/iconlyboldhome.svg"
                  />

                  <a class="home1" id ="ToHome" style="cursor:pointer;">Home</a>
                </div>
              </div>
              <div class="home-divider"></div>
            </div>
            <div class="sign-out-wrapper">
              <div class="sign-out">
                <div class="iconlylight-outlinelogout-wrapper">
                  <img
                    class="iconlylight-outlinelogout"
                    loading="lazy"
                    alt=""
                    src="/images/History/iconlylight-outlinelogout@2x.png"
                  />
                </div>
                <b class="sign-out1" id="signOutText">Sign Out</b>
              </div>
            </div>
            <div class="logo">
              <img
                class="logo-child"
                loading="lazy"
                alt=""
                src="/images/History/group-1.svg"
              />

              <div class="kpi-edu-wrapper">
                <a class="kpi-edu">
                  <span>KPI</span>
                  <span class="edu"> Edu</span>
                </a>
              </div>
            </div>
            <div class="documents" id="documentsContainer">
              <div class="top-settings">
                <img
                  class="group-icon"
                  loading="lazy"
                  alt=""
                  src="/images/History/group.svg"
                />
              </div>
              <a class="calendar" id ="toCalendarText">Calendar</a>
            </div>
            <div class="bookmarks" id="bookmarksContainer">
              <div class="material-symbolshistory"></div>
              <b class="activity-history" id="activityHistoryText"
                >Activity History</b
              >
            </div>
            <img
              class="vector-icon"
              loading="lazy"
              alt=""
              src="/images/History/vector.svg"
            />

            <b class="messages" id="messagesText">Messages</b>
            <img
              class="iconlylight-outlinechat"
              loading="lazy"
              alt=""
              src="/images/History/iconlylight-outlinechat.svg"
            />

            <div class="settings" id="settingsContainer">
              <div class="iconlylight-outlinesetting-wrapper">
                <img
                  class="iconlylight-outlinesetting"
                  loading="lazy"
                  alt=""
                  src="/images/History/iconlylight-outlinesetting.svg"
                />
              </div>
              <b class="settings1" id="settingsText">Settings</b>
            </div>
            <div class="classes" id="classesContainer">
              <div class="iconlylight-outline3-user-wrapper">
                <img
                  class="iconlylight-outline3-user"
                  loading="lazy"
                  alt=""
                  src="/images/History/iconlylight-outline3-user.svg"
                />
              </div>
              <div class="classes-wrapper" id="groupContainer">
                <div class="classes1">
                  <b class="kpi">Plan</b>
                </div>
              </div>
            </div>
            <div class="documents1" id="documentsContainer1">
              <img
                class="carbonsummary-kpi-icon"
                loading="lazy"
                alt=""
                src="/images/History/carbonsummarykpi.svg"
              />

              <b class="kpi1" id ="ToKPI">KPI</b>
            </div>
            <div class="documents-divider"></div>
          </div>
        </div>
        <section class="frame-parent">
          <div class="search-bar-wrapper">
            <div class="search-bar">
              <div class="search">
                <div class="search-child"></div>
                <img
                  class="iconlylight-outlinesearch"
                  loading="lazy"
                  alt=""
                  src="/images/History/iconlylight-outlinesearch.svg"
                />

                <div class="search-task-documents-activi-wrapper">
                  <div class="search-task-documents">
                    Search Task, Documents, Activities...
                  </div>
                </div>
              </div>
              <div class="toggle-wrapper">
                <img
                  class="toggle-icon"
                  loading="lazy"
                  alt=""
                  src="/images/History/toggle.svg"
                />
              </div>
            </div>
          </div>
          <div class="activity-header-parent">
            <div class="activity-header">
              <div class="header-divider"></div>
              <div class="activities1">
                <h2 class="activity-history1">Activity History</h2>
                <div class="activity-container">
                  <div class="activity-scroll">
                    <div class="activity-items">
                      <div class="life-con">
                        <div class="card-dividers"></div>
                        <img
                          class="life-con-child"
                          loading="lazy"
                          alt=""
                          src="/images/History/group-3.svg"
                        />

                        <div class="icon-chevron-left"></div>
                        <div class="layout-design-parent">
                          <b class="layout-design">Layout Design</b>
                          <div class="frame-wrapper">
                            <div class="frame-group">
                              <div class="th-july-2021-parent">
                                <a class="th-july-2021">10th July 2021</a>
                                <div class="survey-time">
                                  <div class="survey-time-inner">
                                    <div class="frame-child"></div>
                                  </div>
                                  <b class="am-9">8 A.M - 9 A.M </b>
                                </div>
                              </div>
                              <b class="update-processing">update processing</b>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="social-ins">
                        <div class="social-divider"></div>
                        <img
                          class="social-ins-child"
                          loading="lazy"
                          alt=""
                          src="/images/History/group-3-1.svg"
                        />

                        <div class="social-ins-inner">
                          <div class="survay-parent">
                            <b class="survay">Survay</b>
                            <div class="th-july-2021-group">
                              <b class="th-july-20211">13th July 2021</b>
                              <div class="time-icon-wrapper">
                                <div class="time-icon"></div>
                              </div>
                              <b class="am-91">8 A.M - 9 A.M </b>
                            </div>
                            <b class="update-status">update status</b>
                          </div>
                        </div>
                      </div>
                      <div class="adv-maths">
                        <div class="adv-maths-child"></div>
                        <div class="adv-maths-inner">
                          <img
                            class="frame-item"
                            loading="lazy"
                            alt=""
                            src="/images/History/group-3-2.svg"
                          />
                        </div>
                        <div class="group-div">
                          <div class="blackwhite-design-parent">
                            <b class="blackwhite-design">Black&White Design</b>
                            <div class="th-july-2021-container">
                              <b class="th-july-20212">18th July 2021</b>
                              <div class="ellipse-wrapper">
                                <div class="frame-inner"></div>
                              </div>
                              <b class="am-92">8 A.M - 9 A.M </b>
                            </div>
                            <b class="completed">completed</b>
                          </div>
                        </div>
                        <div class="flowbitetrash-bin-outline-wrapper">
                          <img
                            class="flowbitetrash-bin-outline-icon"
                            loading="lazy"
                            alt=""
                            src="/images/History/flowbitetrashbinoutline.svg"
                          />
                        </div>
                      </div>
                      <div class="dr-dipo">
                        <div class="dr-dipo-child"></div>
                        <div class="dr-dipo-inner">
                          <img
                            class="frame-child1"
                            loading="lazy"
                            alt=""
                            src="/images/History/group-3-3.svg"
                          />
                        </div>
                        <div class="dr-dipo-inner1">
                          <div class="fix-design-parent">
                            <b class="fix-design">Fix Design</b>
                            <div class="rd-july-2021-parent">
                              <b class="rd-july-2021">23rd July 2021</b>
                              <div class="ellipse-container">
                                <div class="ellipse-div"></div>
                              </div>
                              <b class="am-1">10 A.M - 1 P.M </b>
                            </div>
                            <b class="created">created</b>
                          </div>
                        </div>
                        <div class="flowbitetrash-bin-outline-container">
                          <img
                            class="flowbitetrash-bin-outline-icon1"
                            loading="lazy"
                            alt=""
                            src="/images/History/flowbitetrashbinoutline.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="scroll">
                    <div class="scroll-components"></div>
                    <div class="scroll-components1"></div>
                  </div>
                </div>
              </div>
              <img
                class="flowbitetrash-bin-outline-icon2"
                loading="lazy"
                alt=""
                src="/images/History/flowbitetrashbinoutline.svg"
              />

              <b class="delete-all">Delete all</b>
              <img
                class="flowbitetrash-bin-outline-icon3"
                loading="lazy"
                alt=""
                src="/images/History/flowbitetrashbinoutline.svg"
              />
            </div>
            <img class="icon-circle-tick" alt="" />
          </div>
        </section>
      </main>
      <div class="component-15-wrapper" id="ToCalendar">
        <img
          class="component-15-icon"
          loading="lazy"
          alt=""
          src="/images/History/component-15.svg"
          style="cursor:pointer;"
        />
      </div>
    </div>

    <script>
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/Login";
        });
      }

      var ToKPIText = document.getElementById("ToKPI");
      if (ToKPIText) {
        ToKPIText.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/KPI";
        });
      }

      var ToHomeText = document.getElementById("ToHome");
      if (ToHomeText) {
        ToHomeText.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/Home";
        });
      }

      var ToCalendarText = document.getElementById("ToCalendar");
      if (ToCalendarText) {
        ToCalendarText.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/History/Calendar";
        });
      }

      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var activityHistoryText = document.getElementById("activityHistoryText");
      if (activityHistoryText) {
        activityHistoryText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Message";
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Setting";
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/Plan";
        });
      }
      
      var classesContainer = document.getElementById("classesContainer");
      if (classesContainer) {
        classesContainer.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      
      var documentsContainer1 = document.getElementById("documentsContainer1");
      if (documentsContainer1) {
        documentsContainer1.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }

      var toCalendarText = document.getElementById("toCalendarText");
      if (toCalendarText) {
        toCalendarText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Calendar";
        });
      }
      </script>
  </body>
</html>
