<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/kpi_expand_sidebar_scroll_3global.css" />
    <link rel="stylesheet" href="/css/kpi_expand_sidebar_scroll_3index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="kpi-parent">
      <div class="kpi">KPi</div>
      <b class="kpi-website-design">KPI website design </b>
      <div class="project-kickoff-parent">
        <div class="project-kickoff">
          <p class="blank-line">Project Kickoff</p>
        </div>
        <div class="div">09:00 12/04/24 - 24:00 12/05/24</div>
        <div class="requirement-analysis">
          <p class="blank-line">Requirement Analysis</p>
          <p class="blank-line">&nbsp;</p>
        </div>
        <div class="kpi-framework-development-container">
          <p class="blank-line">KPI Framework Development</p>
        </div>
        <div class="wireframe-creation">
          <p class="blank-line">Wireframe Creation</p>
        </div>
        <div class="prototype-development">
          <p class="blank-line">Prototype Development</p>
          <p class="blank-line">&nbsp;</p>
        </div>
        <div class="progress-linear">
          <div class="container">
            <div class="progresscontainer">
              <div class="progress">
                <div class="add-characters">______</div>
              </div>
              <div class="bar">
                <div class="color"></div>
                <img class="opacity-icon" alt="" src="/images/kpi_expand_sidebar_scroll_3/opacity.svg" />
              </div>
            </div>
          </div>
          <div class="typography">
            <div class="body2">0%</div>
          </div>
          <div class="min-width"></div>
        </div>
        <div class="progress-linear1">
          <div class="container">
            <div class="progresscontainer">
              <div class="progress1">
                <div class="add-characters1">______</div>
              </div>
              <div class="bar">
                <img class="color-icon" alt="" src="/images/kpi_expand_sidebar_scroll_3/color.svg" />

                <div class="opacity"></div>
              </div>
            </div>
          </div>
          <div class="typography">
            <div class="body2">50%</div>
          </div>
          <div class="min-width"></div>
        </div>
        <div class="progress-linear2">
          <div class="container">
            <div class="progresscontainer">
              <div class="progress2">
                <div class="add-characters2">______</div>
              </div>
              <div class="bar">
                <div class="color1"></div>
                <div class="opacity1"></div>
              </div>
            </div>
          </div>
          <div class="typography">
            <div class="body2">100%</div>
          </div>
          <div class="min-width2"></div>
        </div>
        <div class="progress-linear3">
          <div class="container">
            <div class="progresscontainer">
              <div class="progress1">
                <div class="add-characters3">______</div>
              </div>
              <div class="bar">
                <div class="color2"></div>
                <div class="opacity2"></div>
              </div>
            </div>
          </div>
          <div class="typography">
            <div class="body2">90%</div>
          </div>
          <div class="min-width"></div>
        </div>
        <div class="progress-linear4">
          <div class="container">
            <div class="progresscontainer">
              <div class="progress4">
                <div class="add-characters4">______</div>
              </div>
              <div class="bar">
                <div class="color3"></div>
                <div class="opacity3"></div>
              </div>
            </div>
          </div>
          <div class="typography">
            <div class="body2">90%</div>
          </div>
          <div class="min-width"></div>
        </div>
      </div>
      <div class="div1">97%</div>
      <img class="figpie-icon" alt="" src="/images/kpi_expand_sidebar_scroll_3/figpie.svg" />
    </div>
  </body>
</html>
