<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/landingglobal.css" />
    <link rel="stylesheet" href="/css/landingindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="landing-page-parent">
      <div class="landing-page">
        <img class="image-297-icon" alt="" src="/images/LandingPage/image-297@2x.png" />

        <div class="log-in">
          <div class="log-in-child"></div>
          <div class="frame-parent">
            <div class="log-in-parent">
              <div class="log-in1">Log in</div>
              <div class="component-6">
                <div class="social-media-signuplogin">
                  <div class="social-media-logo-parent">
                    <img
                      class="social-media-logo"
                      alt=""
                      src="/images/LandingPage/social-media-logo.svg"
                    />

                    <div class="continue-with-google">Continue with Google</div>
                  </div>
                </div>
                <div class="social-media-signuplogin1">
                  <div class="social-media-logo-group">
                    <img
                      class="social-media-logo1"
                      alt=""
                      src="/images/LandingPage/social-media-logo1.svg"
                    />

                    <div class="continue-with-google">
                      Continue with Facebook
                    </div>
                  </div>
                </div>
              </div>
              <div class="email-parent">
                <div class="email">
                  <div class="label-parent">
                    <div class="label">Email address or user name</div>
                    <div class="password-hide-see">
                      <img class="icon" alt="" src="/images/LandingPage/icon.svg" />

                      <div class="hide">Hide</div>
                    </div>
                  </div>
                  <div class="error-message">Error message</div>
                </div>
                <div class="text-field">
                  <div class="inputs">
                    <div class="continue-with-google">
                      Enter your email address or user name
                    </div>
                    <div class="inputs-child"></div>
                  </div>
                  <img class="icons" alt="" src="/images/LandingPage/icons.svg" />
                </div>
                <div class="frame-group">
                  <div class="text-field-parent">
                    <div class="email">
                      <div class="label-parent">
                        <div class="label">Password</div>
                      </div>
                      <div class="text-field2">
                        <div class="inputs1">
                          <div class="continue-with-google">123456</div>
                          <div class="inputs-item"></div>
                        </div>
                        <img class="icons" alt="" src="/images/LandingPage/icons1.svg" />

                        <div class="enter-your-password">
                          Enter your password
                        </div>
                        <div class="hide1">Hide</div>
                        <img class="icon1" alt="" src="/images/LandingPage/icon1.svg" />
                      </div>
                      <div class="error-message">Error message</div>
                    </div>
                    <div class="forget-your-password">Forget your password</div>
                  </div>
                  <div class="check-box">
                    <img
                      class="social-media-logo"
                      alt=""
                      src="/images/LandingPage/check-box.svg"
                    />

                    <div class="continue-with-google">Remember me</div>
                  </div>
                </div>
                <div class="button">
                  <div class="icons-parent">
                    <img class="icons2" alt="" src="/images/LandingPage/icons2.svg" />

                    <div class="dont-have-an">Log in</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider">
              <div class="divider1"></div>
              <div class="or">OR</div>
              <div class="divider1"></div>
            </div>
            <div class="dont-have-an-account-wrapper">
              <div class="dont-have-an">Don’t have an account?</div>
            </div>
          </div>
          <div class="log-in-item"></div>
          <div class="button1">
            <div class="icons-group">
              <img class="icons2" alt="" src="/images/LandingPage/icons3.svg" />

              <div class="dont-have-an">Sign up</div>
            </div>
          </div>
        </div>
        <div class="header-nav">
          <div class="links">
            <div class="home">Home</div>
            <div class="continue-with-google">Web designs</div>
            <div class="continue-with-google">Mobile designs</div>
            <div class="continue-with-google">Illustrations</div>
          </div>
          <div class="divider3"></div>
          <b class="ready-to-optimize">Ready to Optimize Your Performance?</b>
          <b class="start-your-free"
            >Start your free trial today and see how KPI Manager can transform
            your business.</b
          >
          <div class="logo-wrapper">
            <div class="logo">
              <img class="logo-child" alt="" src="/images/LandingPage/group-1.svg" />

              <b class="kpi-edu">
                <span> KPI</span>
                <span class="edu"> Edu</span>
              </b>
              <img class="logo-item" alt="" src="/images/LandingPage/group-2.svg" />
            </div>
          </div>
          <b class="start-free-trial">Start Free Trial</b>
        </div>
        <div class="button2" id="buttonContainer">
          <div class="icons-container">
            <img class="icons2" alt="" src="/images/LandingPage/icons4.svg" />

            <div class="dont-have-an">Start Here</div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var buttonContainer = document.getElementById("buttonContainer");
      if (buttonContainer) {
        buttonContainer.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Login";
        });
      }
      </script>
  </body>
</html>
