<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/messageglobal.css" />
    <link rel="stylesheet" href="/css/messageindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="messages">
      <div class="messages-child"></div>
      <main class="instance-parent">
        <div class="left-bar-parent">
          <div class="left-bar">
            <div class="left-bar-child"></div>
            <div class="sign-out">
              <div class="iconlylight-outlinelogout-wrapper">
                <img
                  class="iconlylight-outlinelogout"
                  loading="lazy"
                  alt=""
                  src="/images/Message/iconlylight-outlinelogout@2x.png"
                />
              </div>
              <b class="sign-out1" id="signOutText">Sign Out</b>
            </div>
            <img
              class="vector-icon"
              loading="lazy"
              alt=""
              src="/images/Message/vector.svg"
            />

            <img
              class="iconlylight-outlinechat"
              loading="lazy"
              alt=""
              src="/images/Message/iconlylight-outlinechat.svg"
            />

            <div class="divider"></div>
          </div>
          <div class="logo">
            <img
              class="logo-child"
              loading="lazy"
              alt=""
              src="/images/Message/group-1.svg"
            />

            <div class="kpi-edu-wrapper">
              <a class="kpi-edu">
                <span>KPI</span>
                <span class="edu"> Edu</span>
              </a>
            </div>
          </div>
          <div class="divider1"></div>
          <div class="navbar">
            <div class="navbar-items">
              <div class="home-wrapper">
                <div class="home">
                  <div class="iconlyboldhome-parent">
                    <img
                      class="iconlyboldhome"
                      loading="lazy"
                      alt=""
                      src="/images/Message/iconlyboldhome.svg"
                    />

                    <a class="home1" id ="ToHome" style="cursor:pointer;">Home</a>
                  </div>
                </div>
              </div>
              <div class="navbar-dropdown">
                <div class="classes-wrapper">
                  <div class="classes" id="classesContainer">
                    <div class="iconlylight-outline3-user-wrapper">
                      <img
                        class="iconlylight-outline3-user"
                        loading="lazy"
                        alt=""
                        src="/images/Message/iconlylight-outline3-user.svg"
                      />
                    </div>
                    <div class="classes-container" id="groupContainer">
                      <div class="classes1">
                        <b class="kpi">Plan</b>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="documents" id="documentsContainer">
                  <img
                    class="carbonsummary-kpi-icon"
                    loading="lazy"
                    alt=""
                    src="/images/Message/carbonsummarykpi.svg"
                  />

                  <b class="kpi1" id ="ToKPI">KPI</b>
                </div>
                <div class="dropdown-items">
                  <div class="documents1" id="documentsContainer">
                    <div class="dropdown-icons">
                      <img class="group-icon" alt="" src="/images/Message/group.svg" />
                    </div>
                    <b class="calendar" id ="toCalendarText">Calendar</b>
                  </div>
                </div>
                <div class="bookmarks-button-wrapper">
                  <div class="bookmarks-button">
                    <div class="bookmarks" id="bookmarksContainer">
                      <div class="material-symbolshistory"></div>
                      <b class="history" id="historyText">History</b>
                    </div>
                    <div class="messages-wrapper">
                      <b class="messages1" id="messagesText1">Messages</b>
                    </div>
                  </div>
                </div>
                <div class="dropdown-items1">
                  <div class="settings" id="settingsContainer">
                    <div class="iconlylight-outlinesetting-wrapper">
                      <img
                        class="iconlylight-outlinesetting"
                        loading="lazy"
                        alt=""
                        src="/images/Message/iconlylight-outlinesetting.svg"
                      />
                    </div>
                    <b class="settings1" id="settingsText">Settings</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="search-area">
          <div class="search-bar">
            <div class="search-input">
              <div class="search">
                <div class="search-child"></div>
                <img
                  class="iconlylight-outlinesearch"
                  alt=""
                  src="/images/Message/iconlylight-outlinesearch.svg"
                />

                <div class="search-task-documents-activi-wrapper">
                  <div class="search-task-documents">
                    Search Task, Documents, Activities...
                  </div>
                </div>
              </div>
              <div class="toggle-wrapper">
                <img
                  class="toggle-icon"
                  loading="lazy"
                  alt=""
                  src="/images/Message/toggle.svg"
                />
              </div>
            </div>
            <div class="messages-area">
              <div class="messages2">
                <div class="messages-item"></div>
                <div class="messages-header">
                  <div class="messages-parent">
                    <h2 class="messages3">Messages</h2>
                    <div class="clear-all-wrapper">
                      <a class="clear-all">Clear all</a>
                    </div>
                  </div>
                </div>
                <div class="message-items">
                  <div class="mayowa-message-wrapper">
                    <div class="mayowa-message">
                      <div class="mayowa-content">
                        <img
                          class="mayowa-content-child"
                          loading="lazy"
                          alt=""
                          src="/images/Message/line-1.svg"
                        />

                        <div class="mayowa" id="mayowaContainer">
                          <div class="mayowa-profile">
                            <div class="mayowa-avatar-parent">
                              <div class="mayowa-avatar"></div>
                              <b class="lm">LM</b>
                            </div>
                            <div class="mayowa-name">
                              <b class="luka-modri">Luka Modrić</b>
                              <div class="hi-i-just">
                                Hi! I just finished the first chapter. Can you
                                check and...
                              </div>
                              <div class="rectangle-parent">
                                <div class="frame-child"></div>
                                <img
                                  class="iconlylight-outlinedocument"
                                  loading="lazy"
                                  alt=""
                                  src="/images/Message/iconlylight-outlinedocument.svg"
                                />

                                <b class="first-chapter-of"
                                  >First Chapter of Project .doc</b
                                >
                              </div>
                            </div>
                          </div>
                          <div class="mayowa-timestamp">
                            <b class="am">09:34 am</b>
                            <img
                              class="icon-trash-bin"
                              loading="lazy"
                              alt=""
                              src="/images/Message/-icon-trash-bin.svg"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="hazard-message">
                        <img
                          class="hazard-message-child"
                          loading="lazy"
                          alt=""
                          src="/images/Message/line-2.svg"
                        />

                        <div class="hazard-content">
                          <div class="hazard-info">
                            <div class="hazard-avatar"></div>
                            <b class="eh">EH</b>
                          </div>
                          <div class="hazard-name">
                            <div class="hazard-timestamp">
                              <div class="hazard-time-content-parent">
                                <div class="hazard-time-content">
                                  <b class="eden-hazard">Eden Hazard</b>
                                </div>
                                <b class="pm">12:30 pm</b>
                              </div>
                              <div class="hazard-message-content">
                                <div
                                  class="can-you-check-out-the-formulas-wrapper"
                                >
                                  <div class="can-you-check">
                                    Can you check out the formulas in these
                                    Images att...
                                  </div>
                                </div>
                                <img
                                  class="icon-trash-bin1"
                                  alt=""
                                  src="/images/Message/-icon-trash-bin.svg"
                                />
                              </div>
                            </div>
                            <div class="hazard-attachments">
                              <button class="rectangle-group">
                                <div class="frame-item"></div>
                                <div class="iconlylight-outlineimage-2-wrapper">
                                  <img
                                    class="iconlylight-outlineimage-2"
                                    alt=""
                                    src="/images/Message/iconlylight-outlineimage-2.svg"
                                  />
                                </div>
                                <b class="image-jpg">Image .jpg</b>
                              </button>
                              <button class="rectangle-container">
                                <div class="frame-inner"></div>
                                <div
                                  class="iconlylight-outlinedocument-wrapper"
                                >
                                  <img
                                    class="iconlylight-outlinedocument1"
                                    alt=""
                                    src="/images/Message/iconlylight-outlinedocument-1.svg"
                                  />
                                </div>
                                <b class="form-jpg">Form .jpg</b>
                              </button>
                              <div class="group-div">
                                <div class="rectangle-div"></div>
                                <div class="image-2-wrapper">
                                  <img
                                    class="image-2-icon"
                                    loading="lazy"
                                    alt=""
                                    src="/images/Message/image-2.svg"
                                  />
                                </div>
                                <b class="image-2-jpg">Image 2 .jpg</b>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <img
                        class="mayowa-message-child"
                        loading="lazy"
                        alt=""
                        src="/images/Message/line-3.svg"
                      />

                      <div class="messi-message">
                        <div class="messi-content">
                          <div class="messi-info">
                            <div class="messi-avatar">
                              <div class="messi-avatar-child"></div>
                              <b class="lm1">LM</b>
                            </div>
                            <div class="messi-details">
                              <b class="lionel-messi">Lionel Messi</b>
                              <p class="dear-soict-i-container">
                                <span class="dear-soict-i"
                                  >Dear SOICT, I just submited my assignment
                                </span>
                                <span class="for-chapt">for chapt...</span>
                              </p>
                            </div>
                          </div>
                          <div class="messi-footer">
                            <b class="pm1">15:30 pm</b>
                            <img
                              class="icon-trash-bin2"
                              alt=""
                              src="/images/Message/-icon-trash-bin.svg"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="loading-messages">
                        <div class="loading-animation">
                          <img
                            class="loading-animation-child"
                            loading="lazy"
                            alt=""
                            src="/images/Message/line-4.svg"
                          />

                          <img
                            class="loading-animation-item"
                            alt=""
                            src="/images/Message/line-4.svg"
                          />
                        </div>
                      </div>
                      <div class="s-o-i-c-t-message">
                        <div class="s-o-i-c-t-content">
                          <div class="s-o-i-c-t-info">
                            <div class="wrapper-avatar-item">
                              <img
                                class="avatar-item-icon"
                                loading="lazy"
                                alt=""
                                src="/images/Message/-avatar-item@2x.png"
                              />
                            </div>
                            <div class="s-o-i-c-t-details" onclick="TextToSOICT()">
                              <b class="soict">SOICT</b>
                              <p class="hi-soict-im-container">
                                <span class="hi-soict-im"
                                  >Hi SOICT, I’m doing my UIUX exercise, but i
                                  don't</span
                                >
                                <span class="unders">unders....</span>
                              </p>
                            </div>
                          </div>
                          <div class="s-o-i-c-t-footer">
                            <b class="pm2">15:30 pm</b>
                            <img
                              class="icon-trash-bin3"
                              alt=""
                              src="/images/Message/-icon-trash-bin-3.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="scroll">
                    <div class="scroll-child"></div>
                    <div class="scroller-background"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <img
        class="component-15-icon"
        loading="lazy"
        alt=""
        src="/images/Message/component-15.svg"
      />
    </div>

    <script>
      var ToHomeText = document.getElementById("ToHome");
      if (ToHomeText) {
        ToHomeText.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/Home";
        });
      }

      var ToKPIText = document.getElementById("ToKPI");
      if (ToKPIText) {
        ToKPIText.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/KPI";
        });
      }

      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Login";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Plan";
        });
      }
      
      var classesContainer = document.getElementById("classesContainer");
      if (classesContainer) {
        classesContainer.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }

      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {

        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/History";
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText1 = document.getElementById("messagesText1");
      if (messagesText1) {
        messagesText1.addEventListener("click", function (e) {
          window.location.href = "messages.html";
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Setting";
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var mayowaContainer = document.getElementById("mayowaContainer");
      if (mayowaContainer) {
        mayowaContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }

      var toCalendarText = document.getElementById("toCalendarText");
      if (toCalendarText) {
        toCalendarText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Calendar";
        });
      }
      </script>
  </body>
</html>
