<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/messages_1global.css" />
    <link rel="stylesheet" href="/css/messages_1index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="messages">
      <div class="messages-child"></div>
      <div class="search">
        <div class="search-child"></div>
        <div class="search-task-documents-activi-parent">
          <div class="search-task-documents">
            Search Task, Documents, Activities...
          </div>
          <img
            class="iconlylight-outlinesearch"
            alt=""
            src="/images/messages_1/iconlylight-outlinesearch.svg"
          />
        </div>
      </div>
      <img class="toggle-icon" alt="" src="/images/messages_1/toggle.svg" />

      <div class="messages1">
        <div class="messages-item"></div>
        <b class="messages2">Messages</b>
        <img class="messages-inner" alt="" src="/images/messages_1/line-1.svg" />

        <img class="line-icon" alt="" src="/images/messages_1/line-2.svg" />

        <img class="messages-child1" alt="" src="/images/messages_1/line-3.svg" />

        <img class="messages-child2" alt="" src="/images/messages_1/line-4.svg" />

        <img class="messages-child2" alt="" src="/images/messages_1/line-4.svg" />

        <div class="josh">
          <div class="pm">15:30 pm</div>
          <div class="dear-soict-i-just-submited-my-parent">
            <div class="dear-soict-i-container">
              <p class="dear-soict-i">
                Dear SOICT, I just submited my assignment
              </p>
              <p class="dear-soict-i">for chapt...</p>
            </div>
            <b class="lionel-messi">Lionel Messi</b>
          </div>
          <div class="ellipse-parent">
            <div class="group-child"></div>
            <b class="lm">LM</b>
          </div>
        </div>
        <div class="olawuyi">
          <div class="am">12:30 pm</div>
          <div class="ellipse-parent">
            <div class="group-item"></div>
            <b class="eh">EH</b>
          </div>
          <div class="can-you-check-out-the-formulas-parent">
            <div class="can-you-check">
              Can you check out the formulas in these Images att...
            </div>
            <div class="group-parent">
              <div class="rectangle-parent">
                <div class="group-inner"></div>
                <div class="image-jpg-parent">
                  <b class="image-jpg">Image .jpg</b>
                  <img
                    class="iconlylight-outlineimage-2"
                    alt=""
                    src="/images/messages_1/iconlylight-outlineimage-2.svg"
                  />
                </div>
              </div>
              <div class="rectangle-group">
                <div class="group-inner"></div>
                <div class="iconlylight-outlinedocument-parent">
                  <img
                    class="iconlylight-outlinedocument"
                    alt=""
                    src="/images/messages_1/iconlylight-outlinedocument.svg"
                  />

                  <b class="form-jpg">Form .jpg</b>
                </div>
              </div>
              <div class="rectangle-container">
                <div class="group-child1"></div>
                <div class="image-2-parent">
                  <img class="image-2-icon" alt="" src="/images/messages_1/image-2.svg" />

                  <b class="image-2-jpg">Image 2 .jpg</b>
                </div>
              </div>
            </div>
            <b class="eden-hazard">Eden Hazard</b>
          </div>
        </div>
        <div class="mayowa" id="mayowaContainer">
          <div class="am">09:34 am</div>
          <div class="ellipse-parent">
            <div class="ellipse-div"></div>
            <b class="lm1">LM</b>
          </div>
          <div class="luka-modri-parent">
            <b class="luka-modri">Luka Modrić</b>
            <div class="hi-i-just">
              Hi! I just finished the first chapter. Can you check and...
            </div>
            <div class="group-div">
              <div class="group-child2"></div>
              <div class="iconlylight-outlinedocument-group">
                <img
                  class="iconlylight-outlinedocument1"
                  alt=""
                  src="/images/messages_1/iconlylight-outlinedocument1.svg"
                />

                <b class="first-chapter-of">First Chapter of Project .doc</b>
              </div>
            </div>
          </div>
        </div>
        <b class="clear-all">Clear all</b>
        <img
          class="avatar-item-icon"
          alt=""
          src="/images/messages_1/-avatar-item@2x.png"
        />
      </div>
      <div class="scroll">
        <div class="scroll-child"></div>
        <div class="scroll-item"></div>
      </div>
      <img class="icon-trash-bin" alt="" src="/images/messages_1/-icon-trash-bin.svg" />

      <img class="icon-trash-bin1" alt="" src="/images/messages_1/-icon-trash-bin.svg" />

      <img class="icon-trash-bin2" alt="" src="/images/messages_1/-icon-trash-bin.svg" />

      <div class="josh1">
        <div class="pm2">15:30 pm</div>
        <div class="hi-soict-im-doing-my-uiux-ex-parent">
          <div class="hi-soict-im-container">
            <p class="dear-soict-i">
              Hi SOICT, I’m doing my UIUX exercise, but i don't
            </p>
            <p class="dear-soict-i">unders....</p>
          </div>
          <b class="soict">SOICT</b>
        </div>
      </div>
      <img class="icon-trash-bin3" alt="" src="/images/messages_1/-icon-trash-bin1.svg" />

      <div class="left-barmessages-wrapper">
        <div class="left-barmessages">
          <div class="left-barmessages-inner">
            <div class="instance-child"></div>
          </div>
          <div class="calendar" id="calendarContainer">
            <div class="calendar-parent">
              <b class="calendar1">Calendar</b>
              <img class="group-icon" alt="" src="/images/messages_1/group.svg" />
            </div>
          </div>
          <div class="home" id="homeContainer">
            <div class="left-barmessages-inner">
              <b class="home1">Home</b>
              <img
                class="iconlyboldhome"
                alt=""
                src="/images/messages_1/iconlyboldhome.svg"
              />
            </div>
          </div>
          <div class="history">
            <div class="bookmarks" id="bookmarksContainer">
              <b class="history1" id="historyText">History</b>
            </div>
            <img class="vector-icon" alt="" src="/images/messages_1/vector.svg" />
          </div>
          <div class="messages3" id="messagesContainer">
            <div class="left-barmessages-inner">
              <div class="frame-child"></div>
              <div class="frame-item"></div>
            </div>
            <b class="messages4" id="messagesText">Messages</b>
            <img
              class="iconlylight-outlinechat"
              alt=""
              src="/images/messages_1/iconlylight-outlinechat.svg"
            />

            <div class="ellipse-parent1">
              <div class="group-child3"></div>
              <b class="b">4</b>
            </div>
          </div>
          <div class="settings" id="settingsContainer">
            <b class="settings1" id="settingsText">Settings</b>
            <img
              class="iconlylight-outlinesetting"
              alt=""
              src="/images/messages_1/iconlylight-outlinesetting.svg"
            />
          </div>
          <div class="sign-out">
            <b class="sign-out1" id="signOutText">Sign Out</b>
            <img
              class="iconlylight-outlinelogout"
              alt=""
              src="/images/messages_1/iconlylight-outlinelogout@2x.png"
            />
          </div>
          <div class="logo">
            <img class="logo-child" alt="" src="/images/messages_1/group-1.svg" />

            <b class="kpi-edu">
              <span>KPI</span>
              <span class="edu"> Edu</span>
            </b>
          </div>
          <div class="plan" id="planContainer">
            <div class="group-container">
              <div class="classes-wrapper" id="groupContainer">
                <div class="left-barmessages-inner">
                  <b class="kpi">Plan</b>
                </div>
              </div>
              <img
                class="iconlylight-outline3-user"
                alt=""
                src="/images/messages_1/iconlylight-outline3-user.svg"
              />
            </div>
          </div>
          <div class="documents" id="documentsContainer">
            <div class="carbonsummary-kpi-parent">
              <img
                class="carbonsummary-kpi-icon"
                alt=""
                src="/images/messages_1/carbonsummarykpi.svg"
              />

              <b class="kpi1">KPI</b>
            </div>
          </div>
        </div>
      </div>
      <img class="component-15-icon" alt="" src="/images/messages_1/component-15.svg" />
    </div>

    <script>
      var mayowaContainer = document.getElementById("mayowaContainer");
      if (mayowaContainer) {
        mayowaContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var calendarContainer = document.getElementById("calendarContainer");
      if (calendarContainer) {
        calendarContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          // Please sync "Dashboard" to the project
        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          window.location.href = "messages.html";
        });
      }
      
      var messagesContainer = document.getElementById("messagesContainer");
      if (messagesContainer) {
        messagesContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var planContainer = document.getElementById("planContainer");
      if (planContainer) {
        planContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "KPI" to the project
        });
      }
      </script>
  </body>
</html>
