<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/Plan Details 2global.css" />
    <link rel="stylesheet" href="/css/Plan Details 2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:ital,wght@0,400;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="plan-details-2">
      <div class="mask-group">
        <div class="kpi-completion-progressedit">
          <div class="kpi-completion-progressedit-child"></div>
          <div class="search">
            <div class="search-child"></div>
            <div class="search-task-documents-activi-parent">
              <div class="search-task-documents">
                Search Task, Documents, Activities...
              </div>
              <img
                class="iconlylight-outlinesearch"
                alt=""
                src="/images/Plan Details 2/iconlylight-outlinesearch.svg"
              />
            </div>
          </div>
          <img class="toggle-icon" alt="" src="/images/Plan Details 2/toggle.svg" />

          <div class="instance-parent">
            <div class="group-parent">
              <img
                class="instance-child"
                alt=""
                src="/images/Plan Details 2/group-1000004135.svg"
              />

              <img
                class="vector-2-stroke"
                alt=""
                src="/images/Plan Details 2/vector-2-stroke.svg"
                id="vector2Stroke"
              />

              <b class="add-task">Add Task</b>
              <div class="group-container">
                <div class="rectangle-wrapper">
                  <div class="group-child"></div>
                </div>
                <div class="rectangle-container">
                  <div class="group-item"></div>
                </div>
              </div>
              <div class="group-div">
                <div class="rectangle-parent">
                  <div class="group-inner"></div>
                  <i class="i">30</i>
                  <img
                    class="caretdown-icon"
                    alt=""
                    src="/images/Plan Details 2/caretdown.svg"
                  />
                </div>
                <div class="rectangle-group">
                  <div class="group-inner"></div>
                  <i class="april">April</i>
                  <img
                    class="caretdown-icon1"
                    alt=""
                    src="/images/Plan Details 2/caretdown1.svg"
                  />
                </div>
                <div class="rectangle-parent1">
                  <div class="group-inner"></div>
                  <i class="i1">2024</i>
                  <img
                    class="caretdown-icon2"
                    alt=""
                    src="/images/Plan Details 2/caretdown2.svg"
                  />
                </div>
              </div>
              <div class="group-parent1">
                <div class="rectangle-parent">
                  <div class="group-inner"></div>
                  <i class="i">31</i>
                  <img
                    class="caretdown-icon"
                    alt=""
                    src="/images/Plan Details 2/caretdown.svg"
                  />
                </div>
                <div class="rectangle-group">
                  <div class="group-inner"></div>
                  <i class="april">April</i>
                  <img
                    class="caretdown-icon1"
                    alt=""
                    src="/images/Plan Details 2/caretdown1.svg"
                  />
                </div>
                <div class="rectangle-parent1">
                  <div class="group-inner"></div>
                  <i class="i1">2024</i>
                  <img
                    class="caretdown-icon2"
                    alt=""
                    src="/images/Plan Details 2/caretdown2.svg"
                  />
                </div>
              </div>
              <div class="from">From</div>
              <div class="name">Name</div>
              <div class="to-wrapper">
                <div class="to">To</div>
              </div>
              <div class="description-wrapper">
                <div class="to">Description</div>
              </div>
              <div class="group-parent2">
                <div class="group-wrapper">
                  <div class="group-frame">
                    <div class="group-frame">
                      <div class="group-inner"></div>
                      <i class="h">20h</i>
                      <img
                        class="caretdown-icon6"
                        alt=""
                        src="/images/Plan Details 2/caretdown3.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="group-wrapper1">
                  <div class="group-frame">
                    <div class="group-frame">
                      <div class="group-inner"></div>
                      <i class="h">30p</i>
                      <img
                        class="caretdown-icon7"
                        alt=""
                        src="/images/Plan Details 2/caretdown4.svg"
                      />
                    </div>
                  </div>
                </div>
                <img
                  class="iconinterfacescalendar"
                  alt=""
                  src="/images/Plan Details 2/iconinterfacescalendar@2x.png"
                />
              </div>
              <div class="group-parent3">
                <div class="group-wrapper">
                  <div class="group-frame">
                    <div class="group-frame">
                      <div class="group-inner"></div>
                      <i class="h">20h</i>
                      <img
                        class="caretdown-icon6"
                        alt=""
                        src="/images/Plan Details 2/caretdown3.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="group-wrapper1">
                  <div class="group-frame">
                    <div class="group-frame">
                      <div class="group-inner"></div>
                      <i class="h">30p</i>
                      <img
                        class="caretdown-icon7"
                        alt=""
                        src="/images/Plan Details 2/caretdown4.svg"
                      />
                    </div>
                  </div>
                </div>
                <img
                  class="iconinterfacescalendar"
                  alt=""
                  src="/images/Plan Details 2/iconinterfacescalendar@2x.png"
                />
              </div>
              <i class="please-enter-description"
                >Please enter description (/250)</i
              >
              <i class="enter-name">Enter Name</i>
              <div class="profile">
                <div class="profile-child"></div>
                <div class="profile-item"></div>
                <div class="icon-chevron-left"></div>
              </div>
              <b class="save" id="saveText">Save</b>
              <div class="status-wrapper">
                <div class="status">Status</div>
              </div>
              <div class="remind-me-at-parent">
                <div class="remind-me-at">Remind me at</div>
                <div class="group-parent4">
                  <div class="rectangle-parent">
                    <div class="group-inner"></div>
                    <i class="i">30</i>
                    <img
                      class="caretdown-icon"
                      alt=""
                      src="/images/Plan Details 2/caretdown.svg"
                    />
                  </div>
                  <div class="rectangle-group">
                    <div class="group-inner"></div>
                    <i class="april">April</i>
                    <img
                      class="caretdown-icon1"
                      alt=""
                      src="/images/Plan Details 2/caretdown1.svg"
                    />
                  </div>
                  <div class="rectangle-parent1">
                    <div class="group-inner"></div>
                    <i class="i1">2024</i>
                    <img
                      class="caretdown-icon2"
                      alt=""
                      src="/images/Plan Details 2/caretdown2.svg"
                    />
                  </div>
                </div>
                <div class="group-parent5">
                  <div class="group-wrapper">
                    <div class="group-frame">
                      <div class="group-frame">
                        <div class="group-inner"></div>
                        <i class="h">20h</i>
                        <img
                          class="caretdown-icon6"
                          alt=""
                          src="/images/Plan Details 2/caretdown3.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="group-wrapper1">
                    <div class="group-frame">
                      <div class="group-frame">
                        <div class="group-inner"></div>
                        <i class="h">30p</i>
                        <img
                          class="caretdown-icon7"
                          alt=""
                          src="/images/Plan Details 2/caretdown4.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <img
                    class="iconinterfacescalendar"
                    alt=""
                    src="/images/Plan Details 2/iconinterfacescalendar@2x.png"
                  />
                </div>
              </div>
              <div class="repeat-parent">
                <div class="repeat">Repeat</div>
                <div class="profile1">
                  <div class="profile-inner"></div>
                  <div class="every-day">Every day</div>
                  <img
                    class="icon-chevron-left1"
                    alt=""
                    src="/images/Plan Details 2/icon--chevron-left@2x.png"
                  />
                </div>
              </div>
              <div class="text-field-parent">
                <div class="text-field">
                  <div class="every-day">70%</div>
                </div>
                <div class="processing-wrapper">
                  <div class="status">Processing</div>
                </div>
              </div>
              <div class="text-field-group">
                <div class="text-field1">
                  <div class="every-day">0.7</div>
                </div>
                <div class="priorityweight">PriorityWeight</div>
              </div>
            </div>
            <div class="frame-div">
              <div class="instance-item"></div>
              <div class="not-started-wrapper">
                <b class="not-started">Not Started</b>
              </div>
              <div class="instance-inner"></div>
              <img
                class="icon-chevron-left2"
                alt=""
                src="/images/Plan Details 2/icon--chevron-left@2x.png"
              />
            </div>
          </div>
          <div class="left-bar-plan"></div>
        </div>
      </div>
      <div class="mask-group1">
        <div class="completion-progress">
          <div class="completion-progress-child"></div>
          <div class="rectangle-parent14">
            <div class="group-child14"></div>
            <b class="processing-100">Processing 100%</b>
            <b class="priority-weight">Priority weight : 0.7</b>
            <b class="blackwhite-design">Black&White design</b>
            <b class="b">0:00 26/03/2024 - 0:00 30/03/2024</b>
            <img
              class="component-16-icon"
              alt=""
              src="/images/Plan Details 2/component-16.svg"
            />
          </div>
          <div class="rectangle-parent15">
            <div class="group-child14"></div>
            <b class="processing-100">Processing 100%</b>
            <b class="priority-weight">Priority weight : 0.7</b>
            <b class="layout-design">Layout design</b>
            <b class="b">0:00 18/03/2024 - 0:00 25/03/2024</b>
            <img
              class="component-16-icon"
              alt=""
              src="/images/Plan Details 2/component-16.svg"
            />
          </div>
          <b class="plan-details">Plan details</b>
          <div class="rectangle-parent16">
            <div class="group-child14"></div>
            <b class="processing-100">Processing 100%</b>
            <b class="priority-weight">Priority weight : 0.7</b>
            <b class="layout-design">Survey</b>
            <b class="b">0:00 14/03/2024 - 0:00 16/03/2024</b>
            <img
              class="component-16-icon"
              alt=""
              src="/images/Plan Details 2/component-16.svg"
            />
          </div>
        </div>
        <div class="rectangle-parent17">
          <div class="group-child17"></div>
          <b class="processing-100">Processing 50%</b>
          <b class="priority-weight">Priority weight : 0.7</b>
          <b class="color-design">Color design</b>
          <b class="b">0:00 1/04/2024 - 0:00 10/04/2024</b>
          <div class="component-10">
            <div class="over-due">Over due</div>
            <img class="group-icon" alt="" src="/images/Plan Details 2/group.svg" />
          </div>
          <img
            class="component-17-icon"
            alt=""
            src="/images/Plan Details 2/component-17.svg"
          />
        </div>
        <img class="icon-trash-bin" alt="" src="/images/Plan Details 2/-icon-trash-bin.svg" />

        <div class="column-header-parent">
          <div class="column-header">
            <div class="in-progress">not Started</div>
            <img
              class="column-sorting-icon"
              alt=""
              src="/images/Plan Details 2/columnsorting.svg"
            />
          </div>
          <div class="column-header1">
            <div class="in-progress">In ProGress</div>
          </div>
          <div class="column-header2">
            <div class="done">Done</div>
          </div>
        </div>
        <div class="rectangle-parent18">
          <div class="group-child18"></div>
          <b class="processing-0">Processing 0%</b>
          <b class="priority-weight4">Priority weight : 0.9</b>
          <b class="test-sample">Test Sample</b>
          <b class="b4">0:00 14/04/2024 - 0:00 16/04/2024</b>
          <img class="rectangle-icon" alt="" src="/images/Plan Details 2/rectangle-17.svg" />
        </div>
        <img class="chart-4-icon" alt="" src="/images/Plan Details 2/chart-4.svg" />

        <b class="b5">50%</b>
        <div class="life-cont">
          <b class="sales-website-design">Sales website design</b>
        </div>
        <div class="life-cont1">
          <b class="wed-may-8-container">
            <p class="sale-web-design-creates-attrac">
              10:00 Wed May 8 - 23:59 Thu May 30
            </p>
            <p class="sale-web-design-creates-attrac"></p>
          </b>
        </div>
        <div class="description-sale-web-container">
          <p class="sale-web-design-creates-attrac">
            <b>Description</b>
          </p>
          <p class="sale-web-design-creates-attrac">
            <i
              >Sale web design creates attractive, user-friendly websites for
              selling products or services online. It emphasizes clear visuals,
              intuitive navigation, fast loading times, secure payments, and
              optimized product pages.
            </i>
          </p>
        </div>
        <img
          class="swm-icon-pack-arrowsmallleft"
          alt=""
          src="/images/Plan Details 2/swm-icon-pack--arrowsmallleft.svg"
          id="swmIconPackArrowsmallleft"
        />

        <img
          class="cocoboldadd-icon"
          alt=""
          src="/images/Plan Details 2/cocoboldadd.svg"
          id="cOCOBoldAddIcon"
        />

        <div class="rectangle-parent19">
          <div class="group-child18"></div>
          <b class="processing-100">Processing 90%</b>
          <b class="priority-weight">Priority weight : 0.8</b>
          <b class="fix-design">Fix design</b>
          <b class="b">0:00 18/04/2024 - 0:00 20/04/2024</b>
          <img class="group-child20" alt="" src="/images/Plan Details 2/rectangle-17.svg" />
        </div>
        <img class="mask-group-child" alt="" src="/images/Plan Details 2/line-9.svg" />

        <img class="mask-group-item" alt="" src="/images/Plan Details 2/line-10.svg" />
      </div>
      <div class="icon-chevron-left3"></div>
      <div class="left-barplan-wrapper">
        <div class="left-bar-plan">
          <div class="group-frame">
            <div class="instance-child1"></div>
          </div>
          <div class="calendar" id="calendarContainer">
            <b class="calendar1">Calendar</b>
            <img class="group-icon1" alt="" src="/images/Plan Details 2/group1.svg" />
          </div>
          <div class="home" id="homeContainer">
            <div class="group-frame">
              <b class="home1">Home</b>
              <img
                class="iconlyboldhome"
                alt=""
                src="/images/Plan Details 2/iconlyboldhome.svg"
              />
            </div>
          </div>
          <div class="history">
            <div class="bookmarks" id="bookmarksContainer">
              <b class="history1" id="historyText">History</b>
            </div>
            <img class="vector-icon" alt="" src="/images/Plan Details 2/vector.svg" />
          </div>
          <div class="messages" id="messagesContainer">
            <b class="messages1" id="messagesText">Messages</b>
            <img
              class="iconlylight-outlinechat"
              alt=""
              src="/images/Plan Details 2/iconlylight-outlinechat.svg"
            />

            <div class="ellipse-parent">
              <div class="ellipse-div"></div>
              <b class="b7">4</b>
            </div>
          </div>
          <div class="settings" id="settingsContainer">
            <b class="settings1" id="settingsText">Settings</b>
            <img
              class="iconlylight-outlinesetting"
              alt=""
              src="/images/Plan Details 2/iconlylight-outlinesetting.svg"
            />
          </div>
          <div class="sign-out">
            <b class="sign-out1" id="signOutText">Sign Out</b>
            <img
              class="iconlylight-outlinelogout"
              alt=""
              src="/images/Plan Details 2/iconlylight-outlinelogout@2x.png"
            />
          </div>
          <div class="logo">
            <img class="logo-child" alt="" src="/images/Plan Details 2/group-1.svg" />

            <b class="kpi-edu">
              <span>KPI</span>
              <span class="edu"> Edu</span>
            </b>
          </div>
          <div class="plan" id="planContainer">
            <div class="rectangle-parent20">
              <div class="frame-child"></div>
              <div class="frame-item"></div>
            </div>
            <div class="group-parent6">
              <div class="classes-wrapper" id="groupContainer">
                <div class="group-frame">
                  <b class="kpi">Plan</b>
                </div>
              </div>
              <img
                class="iconlylight-outline3-user"
                alt=""
                src="/images/Plan Details 2/iconlylight-outline3-user.svg"
              />
            </div>
          </div>
          <div class="documents" id="documentsContainer">
            <img
              class="carbonsummary-kpi-icon"
              alt=""
              src="/images/Plan Details 2/carbonsummarykpi.svg"
            />

            <b class="kpi1">KPI</b>
          </div>
        </div>
      </div>
    </div>

    <script>
      var vector2Stroke = document.getElementById("vector2Stroke");
      if (vector2Stroke) {
        vector2Stroke.addEventListener("click", function (e) {
          // Please sync "Plan Details 1" to the project
        });
      }
      
      var saveText = document.getElementById("saveText");
      if (saveText) {
        saveText.addEventListener("click", function (e) {
          // Please sync "Plan Details 1" to the project
        });
      }
      
      var swmIconPackArrowsmallleft = document.getElementById(
        "swmIconPackArrowsmallleft"
      );
      if (swmIconPackArrowsmallleft) {
        swmIconPackArrowsmallleft.addEventListener("click", function (e) {
          // Please sync "Plan Processing" to the project
        });
      }
      
      var cOCOBoldAddIcon = document.getElementById("cOCOBoldAddIcon");
      if (cOCOBoldAddIcon) {
        cOCOBoldAddIcon.addEventListener("click", function (e) {
          window.location.href = "plan-details.html";
        });
      }
      
      var calendarContainer = document.getElementById("calendarContainer");
      if (calendarContainer) {
        calendarContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          // Please sync "Dashboard" to the project
        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var messagesContainer = document.getElementById("messagesContainer");
      if (messagesContainer) {
        messagesContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var planContainer = document.getElementById("planContainer");
      if (planContainer) {
        planContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "KPI" to the project
        });
      }
      </script>
  </body>
</html>
