<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/Plan Details 1global.css" />
    <link rel="stylesheet" href="/css/Plan Details 1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:ital,wght@0,600;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="plan-details-1">
      <div class="mask-group">
        <div class="kpi-completion-progressedit">
          <div class="kpi-completion-progressedit-child"></div>
          <div class="search">
            <div class="search-child"></div>
            <div class="search-task-documents-activi-parent">
              <div class="search-task-documents">
                Search Task, Documents, Activities...
              </div>
              <img
                class="iconlylight-outlinesearch"
                alt=""
                src="/images/Plan Details 1/iconlylight-outlinesearch.svg"
              />
            </div>
          </div>
          <img class="toggle-icon" alt="" src="/images/Plan Details 1/toggle.svg" />

          <img
            class="component-10-icon"
            alt=""
            src="/images/Plan Details 1/component-10.svg"
          />

          <div class="left-bar-plan"></div>
        </div>
      </div>
      <div class="left-barplan-wrapper">
        <div class="left-bar-plan">
          <div class="left-barplan-inner">
            <div class="instance-child"></div>
          </div>
          <div class="calendar" id="calendarContainer">
            <b class="calendar1">Calendar</b>
            <img class="group-icon" alt="" src="/images/Plan Details 1/group.svg" />
          </div>
          <div class="home" id="homeContainer">
            <div class="left-barplan-inner">
              <b class="home1">Home</b>
              <img
                class="iconlyboldhome"
                alt=""
                src="/images/Plan Details 1/iconlyboldhome.svg"
              />
            </div>
          </div>
          <div class="history">
            <div class="bookmarks" id="bookmarksContainer">
              <b class="history1" id="historyText">History</b>
            </div>
            <img class="vector-icon" alt="" src="/images/Plan Details 1/vector.svg" />
          </div>
          <div class="messages" id="messagesContainer">
            <b class="messages1" id="messagesText">Messages</b>
            <img
              class="iconlylight-outlinechat"
              alt=""
              src="/images/Plan Details 1/iconlylight-outlinechat.svg"
            />

            <div class="ellipse-parent">
              <div class="group-child"></div>
              <b class="b">4</b>
            </div>
          </div>
          <div class="settings" id="settingsContainer">
            <b class="settings1" id="settingsText">Settings</b>
            <img
              class="iconlylight-outlinesetting"
              alt=""
              src="/images/Plan Details 1/iconlylight-outlinesetting.svg"
            />
          </div>
          <div class="sign-out">
            <b class="sign-out1" id="signOutText">Sign Out</b>
            <img
              class="iconlylight-outlinelogout"
              alt=""
              src="/images/Plan Details 1/iconlylight-outlinelogout@2x.png"
            />
          </div>
          <div class="logo">
            <img class="logo-child" alt="" src="/images/Plan Details 1/group-1.svg" />

            <b class="kpi-edu">
              <span>KPI</span>
              <span class="edu"> Edu</span>
            </b>
          </div>
          <div class="plan" id="planContainer">
            <div class="rectangle-parent">
              <div class="frame-child"></div>
              <div class="frame-item"></div>
            </div>
            <div class="group-parent">
              <div class="classes-wrapper" id="groupContainer">
                <div class="left-barplan-inner">
                  <b class="kpi">Plan</b>
                </div>
              </div>
              <img
                class="iconlylight-outline3-user"
                alt=""
                src="/images/Plan Details 1/iconlylight-outline3-user.svg"
              />
            </div>
          </div>
          <div class="documents" id="documentsContainer">
            <img
              class="carbonsummary-kpi-icon"
              alt=""
              src="/images/Plan Details 1/carbonsummarykpi.svg"
            />

            <b class="kpi1">KPI</b>
          </div>
        </div>
      </div>
      <div class="mask-group1">
        <div class="completion-progress">
          <div class="completion-progress-child"></div>
          <div class="rectangle-group">
            <div class="group-item"></div>
            <b class="processing-100">Processing 100%</b>
            <b class="priority-weight">Priority weight : 0.7</b>
            <b class="blackwhite-design">Black&White design</b>
            <b class="b1">0:00 26/03/2024 - 0:00 30/03/2024</b>
            <img
              class="component-16-icon"
              alt=""
              src="/images/Plan Details 1/component-16.svg"
            />
          </div>
          <div class="rectangle-container">
            <div class="group-item"></div>
            <b class="processing-100">Processing 100%</b>
            <b class="priority-weight">Priority weight : 0.7</b>
            <b class="layout-design">Layout design</b>
            <b class="b1">0:00 18/03/2024 - 0:00 25/03/2024</b>
            <img
              class="component-16-icon"
              alt=""
              src="/images/Plan Details 1/component-16.svg"
            />
          </div>
          <b class="plan-details">Plan details</b>
          <div class="group-div">
            <div class="group-item"></div>
            <b class="processing-100">Processing 100%</b>
            <b class="priority-weight">Priority weight : 0.7</b>
            <b class="layout-design">Survey</b>
            <b class="b1">0:00 14/03/2024 - 0:00 16/03/2024</b>
            <img
              class="component-16-icon"
              alt=""
              src="/images/Plan Details 1/component-161.svg"
            />
          </div>
        </div>
        <div class="rectangle-parent1">
          <div class="group-child1"></div>
          <b class="processing-100">Processing 50%</b>
          <b class="priority-weight">Priority weight : 0.7</b>
          <b class="color-design">Color design</b>
          <b class="b1">0:00 1/04/2024 - 0:00 10/04/2024</b>
          <div class="component-10">
            <div class="over-due">Over due</div>
            <img class="group-icon1" alt="" src="/images/Plan Details 1/group1.svg" />
          </div>
          <img
            class="component-17-icon"
            alt=""
            src="/images/Plan Details 1/component-17.svg"
          />
        </div>
        <img class="icon-trash-bin" alt="" src="/images/Plan Details 1/-icon-trash-bin.svg" />

        <div class="column-header-parent">
          <div class="column-header">
            <div class="not-started">not Started</div>
            <img
              class="column-sorting-icon"
              alt=""
              src="/images/Plan Details 1/columnsorting.svg"
            />
          </div>
          <div class="column-header1">
            <div class="not-started">In ProGress</div>
          </div>
          <div class="column-header2">
            <div class="done">Done</div>
          </div>
        </div>
        <div class="rectangle-parent2">
          <div class="group-child2"></div>
          <b class="processing-0">Processing 0%</b>
          <b class="priority-weight4">Priority weight : 0.9</b>
          <b class="test-sample">Test Sample</b>
          <b class="b5">0:00 14/04/2024 - 0:00 16/04/2024</b>
          <img class="rectangle-icon" alt="" src="/images/Plan Details 1/rectangle-17.svg" />
        </div>
        <img class="chart-4-icon" alt="" src="/images/Plan Details 1/chart-4.svg" />

        <b class="b6">50%</b>
        <div class="life-cont">
          <b class="sales-website-design">Sales website design</b>
        </div>
        <div class="life-cont1">
          <b class="wed-may-8-container">
            <p class="p">10:00 Wed May 8 - 23:59 Thu May 30</p>
            <p class="p"></p>
          </b>
        </div>
        <div class="description-sale-web-container">
          <p class="p">
            <b>Description</b>
          </p>
          <p class="p">
            <i
              >Sale web design creates attractive, user-friendly websites for
              selling products or services online. It emphasizes clear visuals,
              intuitive navigation, fast loading times, secure payments, and
              optimized product pages.
            </i>
          </p>
        </div>
        <img
          class="swm-icon-pack-arrowsmallleft"
          alt=""
          src="/images/Plan Details 1/swm-icon-pack--arrowsmallleft.svg"
          id="swmIconPackArrowsmallleft"
        />

        <img
          class="cocoboldadd-icon"
          alt=""
          src="/images/Plan Details 1/cocoboldadd.svg"
          id="cOCOBoldAddIcon"
        />

        <div class="rectangle-parent3">
          <div class="group-child2"></div>
          <b class="processing-100">Processing 90%</b>
          <b class="priority-weight">Priority weight : 0.8</b>
          <b class="fix-design">Fix design</b>
          <b class="b1">0:00 18/04/2024 - 0:00 20/04/2024</b>
          <img class="group-child4" alt="" src="/images/Plan Details 1/rectangle-17.svg" />
        </div>
        <img class="mask-group-child" alt="" src="/images/Plan Details 1/line-9.svg" />

        <img class="mask-group-item" alt="" src="/images/Plan Details 1/line-10.svg" />
      </div>
    </div>

    <script>
      var calendarContainer = document.getElementById("calendarContainer");
      if (calendarContainer) {
        calendarContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          // Please sync "Dashboard" to the project
        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var messagesContainer = document.getElementById("messagesContainer");
      if (messagesContainer) {
        messagesContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var planContainer = document.getElementById("planContainer");
      if (planContainer) {
        planContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "KPI" to the project
        });
      }
      
      var swmIconPackArrowsmallleft = document.getElementById(
        "swmIconPackArrowsmallleft"
      );
      if (swmIconPackArrowsmallleft) {
        swmIconPackArrowsmallleft.addEventListener("click", function (e) {
          // Please sync "Plan Processing" to the project
        });
      }
      
      var cOCOBoldAddIcon = document.getElementById("cOCOBoldAddIcon");
      if (cOCOBoldAddIcon) {
        cOCOBoldAddIcon.addEventListener("click", function (e) {
          // Please sync "Plan Details 2" to the project
        });
      }
      </script>
  </body>
</html>
