<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/Plan Processing- create plan 1global.css" />
    <link rel="stylesheet" href="/css/Plan Processing- create plan 1frame-496163.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:ital,wght@1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-root">
      <div class="component-child"></div>
      <div class="description-group">
        <div class="remind-me-at">Description</div>
        <div class="text-field"></div>
      </div>
      <div class="task-name-parent">
        <div class="task-name">Task name</div>
        <div class="text-field1"></div>
      </div>
      <div class="remind-me-at-parent">
        <div class="remind-me-at">Remind me at</div>
        <div class="frame-parent1">
          <div class="group-parent10">
            <div class="rectangle-parent13">
              <div class="group-child14"></div>
              <i class="h2">20h</i>
              <img
                class="caretdown-icon10"
                alt=""
                src="/images/Plan Processing- create plan 1/caretdown4.svg"
              />
            </div>
            <div class="rectangle-parent14">
              <div class="group-child14"></div>
              <i class="m2">30m</i>
              <img
                class="caretdown-icon11"
                alt=""
                src="/images/Plan Processing- create plan 1/caretdown1.svg"
              />
            </div>
          </div>
          <div class="group-parent11">
            <div class="group-parent12">
              <div class="rectangle-parent15">
                <div class="group-child14"></div>
                <i class="i4">30</i>
                <img
                  class="caretdown-icon12"
                  alt=""
                  src="/images/Plan Processing- create plan 1/caretdown5.svg"
                />
              </div>
              <div class="rectangle-parent16">
                <div class="group-child14"></div>
                <i class="april2">April</i>
                <img
                  class="caretdown-icon13"
                  alt=""
                  src="/images/Plan Processing- create plan 1/caretdown6.svg"
                />
              </div>
              <div class="rectangle-parent17">
                <div class="group-child18"></div>
                <i class="i5">2024</i>
                <img
                  class="caretdown-icon14"
                  alt=""
                  src="/images/Plan Processing- create plan 1/caretdown1.svg"
                />
              </div>
            </div>
            <img
              class="iconinterfacescalendar1"
              alt=""
              src="/images/Plan Processing- create plan 1/iconinterfacescalendar@2x.png"
            />
          </div>
        </div>
      </div>
      <div class="group-parent13">
        <div class="rectangle-parent18">
          <div class="group-child19"></div>
          <b class="save2">Save</b>
        </div>
        <div class="rectangle-parent19">
          <div class="group-child20"></div>
          <b class="cancel1">Cancel</b>
        </div>
      </div>
      <div class="repeat-parent">
        <div class="task-name">Repeat</div>
        <div class="profile">
          <div class="profile-child"></div>
          <div class="every-day">Every day</div>
          <img
            class="icon-chevron-left"
            alt=""
            src="/images/Plan Processing- create plan 1/icon--chevron-left@2x.png"
          />
        </div>
      </div>
      <div class="status-parent">
        <div class="task-name">Status</div>
        <div class="profile">
          <div class="profile-child"></div>
          <div class="every-day">Not started</div>
          <img
            class="icon-chevron-left"
            alt=""
            src="/images/Plan Processing- create plan 1/icon--chevron-left@2x.png"
          />
        </div>
      </div>
      <div class="text-field-parent">
        <div class="text-field1">
          <div class="every-day">70%</div>
        </div>
        <div class="processing-wrapper">
          <div class="remind-me-at">Processing</div>
        </div>
      </div>
    </div>
  </body>
</html>
