<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/Plan Processingglobal.css" />
    <link rel="stylesheet" href="/css/Plan Processingcomponent-5.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="component-5">
      <b class="notification">Notification</b>
      <b class="new">New</b>
      <div class="group-parent3">
        <img class="frame-child1" alt="" src="/images/Plan Processing/group-11.svg" />

        <div class="day-ago">5 day ago</div>
        <div class="you-have-deadline-container">
          <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
          <p class="you-have-deadline">
            Black&White Design - Sale website design
          </p>
        </div>
        <b class="kpi-edu1">KPI EDU</b>
        <div class="frame-child2"></div>
      </div>
      <div class="group-parent4">
        <img class="frame-child1" alt="" src="/images/Plan Processing/group-12.svg" />

        <div class="day-ago">5 day ago</div>
        <div class="you-have-deadline-container">
          <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
          <p class="you-have-deadline">
            Black&White Design - Sale website design
          </p>
        </div>
        <b class="kpi-edu1">KPI EDU</b>
        <div class="frame-child2"></div>
      </div>
      <div class="group-parent5">
        <img class="frame-child1" alt="" src="/images/Plan Processing/group-13.svg" />

        <div class="day-ago">5 day ago</div>
        <div class="you-have-deadline-container">
          <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
          <p class="you-have-deadline">
            Black&White Design - Sale website design
          </p>
        </div>
        <b class="kpi-edu1">KPI EDU</b>
      </div>
      <div class="group-parent6">
        <img class="frame-child1" alt="" src="/images/Plan Processing/group-14.svg" />

        <div class="day-ago">5 day ago</div>
        <div class="you-have-deadline-container">
          <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
          <p class="you-have-deadline">
            Black&White Design - Sale website design
          </p>
        </div>
        <b class="kpi-edu1">KPI EDU</b>
      </div>
      <b class="read">Read</b>
    </div>
  </body>
</html>
