<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/planglobal.css" />
    <link rel="stylesheet" href="/css/planindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
  </head>
  <body>
    <div class="kpi-completion-progress">
      <div class="kpi-completion-progress-child"></div>
      <main class="left-bar-plan-parent">
        <div class="left-bar-plan">
          <div class="left-bar-plan-child"></div>
          <div class="logo-wrapper">
            <div class="logo">
              <img
                class="logo-child"
                loading="lazy"
                alt=""
                src="/images/Plan/group-1.svg"
              />

              <div class="kpi-edu-wrapper">
                <a class="kpi-edu">
                  <span>KPI</span>
                  <span class="edu"> Edu</span>
                </a>
              </div>
            </div>
          </div>
          <div class="frame-parent">
            <div class="home-parent">
              <div class="home">
                <div class="home-inner">
                  <div class="iconlyboldhome-parent">
                    <img
                      class="iconlyboldhome"
                      loading="lazy"
                      alt=""
                      src="/images/Plan/iconlyboldhome.svg"
                    />

                    <a class="home1" id ="ToHome" style="cursor:pointer;">Home</a>
                  </div>
                </div>
                <div class="rectangle-parent">
                  <div class="frame-child"></div>
                  <div class="iconlylight-outline3-user-wrapper">
                    <img
                      class="iconlylight-outline3-user"
                      loading="lazy"
                      alt=""
                      src="/images/Plan/iconlylight-outline3-user.svg"
                    />
                  </div>
                </div>
                <div class="home-child"></div>
              </div>
              <div class="classes">
                <div class="classes-wrapper" id="groupContainer">
                  <div class="classes1">
                    <b class="kpi">Plan</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper">
              <div class="documents-parent">
                <div class="documents" id="documentsContainer">
                  <img
                    class="carbonsummary-kpi-icon"
                    loading="lazy"
                    alt=""
                    src="/images/Plan/carbonsummarykpi.svg"
                  />

                  <b class="kpi1" id ="ToKPI">KPI</b>
                </div>
                <div class="documents-wrapper">
                  <div class="documents1" id="documentsContainer">
                    <div class="group-wrapper">
                      <img class="group-icon" alt="" src="/images/Plan/group.svg" />
                    </div>
                    <b class="calendar" id="toCalendarText">Calendar</b>
                  </div>
                </div>
                <div class="frame-container">
                  <div class="bookmarks-parent">
                    <div class="bookmarks" id="bookmarksContainer">
                      <div class="material-symbolshistory"></div>
                      <b class="activity-history" id="activityHistoryText"
                        >Activity History</b
                      >
                      <img
                        class="vector-icon"
                        loading="lazy"
                        alt=""
                        src="/images/Plan/vector.svg"
                      />
                    </div>
                    <div class="iconlylight-outlinechat-parent">
                      <img
                        class="iconlylight-outlinechat"
                        loading="lazy"
                        alt=""
                        src="/images/Plan/iconlylight-outlinechat.svg"
                      />

                      <b class="messages" id="messagesText">Messages</b>
                    </div>
                  </div>
                </div>
                <div class="settings-wrapper">
                  <div class="settings" id="settingsContainer">
                    <div class="iconlylight-outlinesetting-wrapper">
                      <img
                        class="iconlylight-outlinesetting"
                        loading="lazy"
                        alt=""
                        src="/images/Plan/iconlylight-outlinesetting.svg"
                      />
                    </div>
                    <b class="settings1" id="settingsText">Settings</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sign-out-wrapper">
            <div class="sign-out">
              <div class="iconlylight-outlinelogout-wrapper">
                <img
                  class="iconlylight-outlinelogout"
                  loading="lazy"
                  alt=""
                  src="/images/Plan/iconlylight-outlinelogout@2x.png"
                />
              </div>
              <b class="sign-out1" id="signOutText">Sign Out</b>
            </div>
          </div>
        </div>
        <section class="frame-section">
          <div class="frame-group">
            <div class="search-parent">
              <div class="search">
                <div class="search-child"></div>
                <img
                  class="iconlylight-outlinesearch"
                  alt=""
                  src="/images/Plan/iconlylight-outlinesearch.svg"
                />

                <div class="search-task-documents-activi-wrapper">
                  <div class="search-task-documents">
                    Search Task, Documents, Activities...
                  </div>
                </div>
              </div>
              <div class="toggle-wrapper">
                <img
                  class="toggle-icon"
                  loading="lazy"
                  alt=""
                  src="/images/Plan/toggle.svg"
                />
              </div>
            </div>
            <div class="completion-progress-wrapper">
              <div class="completion-progress">
                <img
                  class="completion-progress-child"
                  alt=""
                  src="/images/Plan/rectangle-13.svg"
                />

                <div class="completion-progress-inner">
                  <div class="plan-processing-parent">
                    <h2 class="plan-processing">Plan Processing</h2>
                    <div class="cocoboldadd-wrapper" id ="CreatePlan" style="cursor:pointer;">
                      <img
                        class="cocoboldadd-icon"
                        loading="lazy"
                        alt=""
                        src="/images/Plan/cocoboldadd.svg"
                        id="cOCOBoldAddIcon"
                      />
                    </div>
                  </div>
                </div>
                <div class="frame-div">
                  <div class="frame-parent1">
                    <div class="frame-wrapper1">
                      <div class="frame-parent2">
                        <div class="sales-website-design-parent">
                          <b class="sales-website-design"
                            >Sales website design</b
                          >
                          <div class="frame-parent3">
                            <div class="plan-1-parent">
                              <b class="plan-1">Plan 1</b>
                              <b class="view">View</b>
                            </div>
                            <div class="wed-may-8-2359-thu-may-30-wrapper">
                              <b class="wed-may-8-container">
                                <p class="wed-may-8">
                                  10:00 Wed May 8 - 23:59 Thu May 30
                                </p>
                                <p class="p"></p>
                              </b>
                            </div>
                          </div>
                        </div>
                        <div class="graduation-thesis-parent">
                          <b class="graduation-thesis">Graduation thesis</b>
                          <div class="frame-parent4">
                            <div class="plan-2-parent">
                              <b class="plan-2">Plan 2</b>
                              <b class="view1">View</b>
                            </div>
                            <div class="mon-april-8-2359-sat-april-wrapper">
                              <b class="mon-april-8-container">
                                <p class="mon-april-8">
                                  13:00 Mon April 8 - 23:59 Sat April 27
                                </p>
                                <p class="p1"></p>
                              </b>
                            </div>
                          </div>
                        </div>
                        <div class="build-a-pet-management-system-parent">
                          <b class="build-a-pet"
                            >Build a pet management system</b
                          >
                          <div class="frame-parent5">
                            <div class="plan-3-parent">
                              <b class="plan-3">Plan 3</b>
                              <b class="view2">View</b>
                            </div>
                            <div class="tue-june-18-2359-thu-may-30-wrapper">
                              <b class="tue-june-18-container">
                                <p class="tue-june-18">
                                  18:00 Tue June 18 - 23:59 Thu May 30
                                </p>
                                <p class="p2"></p>
                                <p class="p3"></p>
                              </b>
                            </div>
                          </div>
                        </div>
                        <div class="kpi-website-design-parent">
                          <b class="kpi-website-design">KPI website design </b>
                          <div class="plan-4-parent">
                            <b class="plan-4">Plan 4</b>
                            <div class="sun-march-9-2359-thu-march-wrapper">
                              <b class="sun-march-9"
                                >09:00 Sun March 9 - 23:59 Thu March 28</b
                              >
                            </div>
                          </div>
                          <b class="view3">View</b>
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent6">
                      <div class="group-div">
                        <img
                          class="frame-item"
                          loading="lazy"
                          alt=""
                          src="/images/Plan/group-19.svg"
                        />

                        <b class="b">50%</b>
                      </div>
                      <div class="frame-parent7">
                        <img
                          class="frame-inner"
                          loading="lazy"
                          alt=""
                          src="/images/Plan/group-19-1.svg"
                        />

                        <b class="b1">91%</b>
                      </div>
                      <div class="frame-parent8">
                        <img
                          class="frame-child1"
                          loading="lazy"
                          alt=""
                          src="/images/Plan/group-19-2.svg"
                        />

                        <b class="b2">25%</b>
                      </div>
                      <div class="frame-parent9">
                        <img
                          class="frame-child2"
                          loading="lazy"
                          alt=""
                          src="/images/Plan/group-19-3.svg"
                        />

                        <b class="b3">97%</b>
                      </div>
                    </div>
                  </div>
                  <div class="scroll-wrapper">
                    <div class="scroll">
                      <div class="scroll-child"></div>
                      <div class="scroll-item"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <img id="ToCalendar"
        class="component-7-icon"
        loading="lazy"
        alt=""
        src="/images/Plan/component-7.svg"
           style="cursor:pointer;"
      />
    </div>

    <script>
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "k-p-i-completion-progress.html";
        });
      }

      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }

      var CreatePlan = document.getElementById("CreatePlan");
      if (CreatePlan) {
        CreatePlan.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/Plan/Create";
        });
      }

      var ToHomeText = document.getElementById("ToHome");
      if (ToHomeText) {
        ToHomeText.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/Home";
        });
      }

      var ToKPIText = document.getElementById("ToKPI");
      if (ToKPIText) {
        ToKPIText.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/KPI";
        });
      }

      var activityHistoryText = document.getElementById("activityHistoryText");
      if (activityHistoryText) {
        activityHistoryText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/History";
        });
      }

      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }

      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Message";
        });
      }

      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Setting";
        });
      }

      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }

      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Login";
        });
      }

      var cOCOBoldAddIcon = document.getElementById("cOCOBoldAddIcon");
      if (cOCOBoldAddIcon) {
        cOCOBoldAddIcon.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }

      var toCalendarText = document.getElementById("ToCalendar");
      if (toCalendarText) {
        toCalendarText.addEventListener("click", function (e) {
          window.location.href = "/KPIEdu/Plan/Calendar";
        });
      }
      </script>
  </body>
</html>
