<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/ResetPwEnterCodeglobal.css" />
    <link rel="stylesheet" href="/css/ResetPwEnterCodeindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="reset-passwordenter-code">
      <div class="log-in">
        <div class="border-parent">
          <div class="border"></div>
          <div class="group-child"></div>
          <div class="divider-parent">
            <div class="divider">
              <div class="divider1"></div>
              <div class="or">OR</div>
              <div class="divider2"></div>
            </div>
            <div class="weve-just-sent">
              We've just sent an email containing a verification code to your
              recovery email address. Please check this email for the code and
              enter below.
            </div>
          </div>
        </div>
        <div class="log-in-child"></div>
        <div class="email">
          <div class="label-parent">
            <div class="label">Enter your code</div>
            <div class="password-hide-see">
              <img class="icon" alt="" src="/images/ResetPwEnterCode/icon.svg" />

              <div class="hide">Hide</div>
            </div>
          </div>
          <div class="text-field">
            <div class="inputs">
              <div class="div">Enter your email address</div>
              <div class="inputs-child"></div>
            </div>
            <img class="icons" alt="" src="/images/ResetPwEnterCode/icons.svg" />
          </div>
          <div class="error-message">Error message</div>
        </div>
        <div class="button-parent">
          <div class="button">
            <div class="next-wrapper">
              <div class="next">Next</div>
            </div>
          </div>
          <div class="button1" id="buttonContainer1">
            <div class="next-wrapper">
              <div class="next">Next</div>
            </div>
          </div>
          <div class="button2" id="buttonContainer2">
            <div class="back-to-login-wrapper">
              <div class="back-to-login">Back to login</div>
            </div>
          </div>
          <div class="button3" id="buttonContainer3">
            <div class="next-wrapper">
              <div class="back">Back</div>
            </div>
          </div>
        </div>
        <div class="reset-your-password">Reset your password</div>
      </div>
      <div class="header-nav">
        <div class="links">
          <div class="home">Home</div>
          <div class="div">Web designs</div>
          <div class="div">Mobile designs</div>
          <div class="div">Illustrations</div>
        </div>
        <div class="login-sign-up">
          <div class="dropdown">
            <div class="div">English (united States)</div>
            <img class="icons1" alt="" src="/images/ResetPwEnterCode/icons1.svg" />
          </div>
          <div class="button4">
            <div class="icons-parent">
              <img class="icons2" alt="" src="/images/ResetPwEnterCode/icons2.svg" />

              <div class="div">Log in</div>
            </div>
          </div>
          <div class="button5">
            <div class="icons-group">
              <img class="icons2" alt="" src="/images/ResetPwEnterCode/icons3.svg" />

              <div class="div">Sign up</div>
            </div>
          </div>
        </div>
        <div class="divider3"></div>
        <div class="logo">
          <img class="logo-child" alt="" src="/images/ResetPwEnterCode/group-1.svg" />

          <b class="kpi-edu">
            <span>KPI</span>
            <span class="edu"> Edu</span>
          </b>
        </div>
      </div>
    </div>

    <script>
      var buttonContainer1 = document.getElementById("buttonContainer1");
      if (buttonContainer1) {
        buttonContainer1.addEventListener("click", function (e) {
          // Please sync "Reset password/New password" to the project
        });
      }
      
      var buttonContainer2 = document.getElementById("buttonContainer2");
      if (buttonContainer2) {
        buttonContainer2.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var buttonContainer3 = document.getElementById("buttonContainer3");
      if (buttonContainer3) {
        buttonContainer3.addEventListener("click", function (e) {
          // Please sync "Reset password" to the project
        });
      }
      </script>
  </body>
</html>
