<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/settingglobal.css" />
    <link rel="stylesheet" href="/css/settingindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
    />
  </head>
  <body>
    <div class="setting">
      <div class="left-bar">
        <div class="left-bar-child"></div>
        <div class="navigation-icons">
          <div class="frame-parent">
            <img class="frame-child" alt="" src="/images/Setting/group-1.svg" />

            <div class="kpi-edu-wrapper">
              <b class="kpi-edu">
                <span>KPI</span>
                <span class="edu"> Edu</span>
              </b>
            </div>
          </div>
        </div>
        <div class="navigation">
          <div class="settings-label">
            <div class="navigation-labels">
              <img
                class="iconlyboldhome"
                loading="lazy"
                alt=""
                src="/images/Setting/iconlyboldhome.svg"
              />

              <a class="home" id ="ToHome" style="cursor:pointer;">Home</a>
            </div>
          </div>
          <div class="chat-input">
            <div class="classes" id="classesContainer">
              <div class="iconlylight-outline3-user-wrapper">
                <img
                  class="iconlylight-outline3-user"
                  loading="lazy"
                  alt=""
                  src="/images/Setting/iconlylight-outline3-user.svg"
                />
              </div>
              <div class="classes-wrapper" id="groupContainer">
                <div class="classes1">
                  <b class="kpi">KPI</b>
                </div>
              </div>
            </div>
          </div>
          <div class="navigation-icons1">
            <div class="documents" id="documentsContainer">
              <img
                class="iconlylight-outlinedocument"
                loading="lazy"
                alt=""
                src="/images/Setting/iconlylight-outlinedocument.svg"
              />

              <b class="calendar">Calendar</b>
            </div>
          </div>
          <div class="navigation-icons2">
            <div class="iconlylight-outlinebookmark-parent">
              <img
                class="iconlylight-outlinebookmark"
                loading="lazy"
                alt=""
                src="/images/Setting/iconlylight-outlinebookmark.svg"
              />

              <b class="activities" id="activitiesText">Activities</b>
            </div>
          </div>
          <div class="chat">
            <div class="chat-message-wrapper">
              <div class="chat-message">
                <img
                  class="iconlylight-outlinechat"
                  loading="lazy"
                  alt=""
                  src="/images/Setting/iconlylight-outlinechat.svg"
                />

                <div class="chat-heading">
                  <b class="messages" id="messagesText">Messages</b>
                </div>
                <div class="home-k-p-i">
                  <div class="new-message-icon">
                    <div class="new-message-icon-child"></div>
                    <b class="new-message-count">4</b>
                  </div>
                </div>
              </div>
            </div>
            <button class="settings-icon">
              <div class="settings-icon-child"></div>
              <div class="settings-background"></div>
              <div class="settings-content">
                <div class="new-message-parent">
                  <div class="new-message">
                    <img
                      class="iconlylight-outlinesetting"
                      alt=""
                      src="/images/Setting/iconlylight-outlinesetting.svg"
                    />
                  </div>
                  <b class="settings" id="settingsText">Settings</b>
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="sign-out-label-wrapper">
          <div class="sign-out-label">
            <div class="navigation-icons3">
              <img
                class="iconlylight-outlinelogout"
                loading="lazy"
                alt=""
                src="/images/Setting/iconlylight-outlinelogout@2x.png"
              />
            </div>
            <b class="sign-out" id="signOutText">Sign Out</b>
          </div>
        </div>
      </div>
      <div class="search-bar">
        <div class="search-bar1">
          <div class="search-input">
            <div class="search">
              <div class="search-child"></div>
              <img
                class="iconlylight-outlinesearch"
                alt=""
                src="/images/Setting/iconlylight-outlinesearch.svg"
              />

              <div class="search-placeholder">
                <div class="search-task-documents">
                  Search Task, Documents, Activities...
                </div>
              </div>
            </div>
            <div class="toggle-search">
              <img
                class="toggle-icon"
                loading="lazy"
                alt=""
                src="/images/Setting/toggle.svg"
              />
            </div>
          </div>
          <div class="user-wrapper">
            <div class="user">
              <div class="user-child"></div>
              <div class="sign-in">
                <div class="user-name">
                  <div class="user-name-label">
                    <h1 class="user-profile">User Profile</h1>
                    <img
                      class="user-name-label-child"
                      alt=""
                      src="/images/Setting/vector-75.svg"
                    />
                  </div>
                  <div class="user-options">
                    <div class="language">
                      <div class="search-toggle">
                        <h1 class="languages">Languages</h1>
                      </div>
                      <div class="profile">
                        <div class="profile-child"></div>
                        <b class="english">English</b>
                        <div class="icon-chevron-left-wrapper">
                          <img
                            class="icon-chevron-left"
                            alt=""
                            src="/images/Setting/icon--chevron-left@2x.png"
                          />
                        </div>
                      </div>
                    </div>
                    <img
                      class="user-options-child"
                      alt=""
                      src="/images/Setting/vector-76.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="user-panel">
                <div class="school">
                  <div class="school-name">
                    <div class="wrapper-group-16">
                      <img
                        class="wrapper-group-16-child"
                        loading="lazy"
                        alt=""
                        src="/images/Setting/group-16.svg"
                      />
                    </div>
                    <div class="user-university">
                      <div class="soict-parent">
                        <b class="soict">SOICT</b>
                        <h1 class="hust">HUST</h1>
                        <h2 class="hanoi-vietnam-utc">
                          Hanoi, Vietnam, UTC +7
                        </h2>
                      </div>
                    </div>
                  </div>
                  <div class="language-option">
                    <div class="row-3" id="row3Container">
                      <button class="upload-photo">
                        <b class="edit">Edit</b>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="security-label">
                <div class="security-icon">
                  <img
                    class="security-icon-child"
                    loading="lazy"
                    alt=""
                    src="/images/Setting/vector-76-1.svg"
                  />
                </div>
                <div class="passwords-email-and-security-wrapper">
                  <h1 class="passwords-email-and">
                    Passwords, email and security
                  </h1>
                </div>
                <div class="sign-in-label-wrapper">
                  <div class="sign-in-label">
                    <img
                      class="sign-in-label-child"
                      loading="lazy"
                      alt=""
                      src="/images/Setting/vector-77.svg"
                    />

                    <div class="school-details">
                      <h1 class="sign-in-and">Sign in and restore</h1>
                    </div>
                  </div>
                </div>
                <div class="change-password">
                  <div class="vector-parent">
                    <img
                      class="frame-item"
                      alt=""
                      src="/images/Setting/rectangle-2500.svg"
                      data-scroll-to="rectangle"
                      style="width: 700px; height: 400px;"
                    />

                    <div
                      class="password-change-action-parent"
                      id="groupContainer"
                    >
                      <div class="password-change-action">
                        <div class="change-password1">
                          <div class="change-now">
                            <b class="change-password2">Change password</b>
                          </div>
                          <img
                            class="icon-chevron-left1"
                            alt=""
                            src="/images/Setting/icon--chevron-left-1@2x.png"
                          />
                        </div>
                      </div>
                      <img
                        class="frame-inner"
                        alt=""
                        src="/images/Setting/vector-75-1.svg"
                      />
                    </div>
                    <div class="login-info-action">
                      <div class="change-email-action">
                        <div class="change-email-wrapper">
                          <h1 class="change-email">Change email</h1>
                        </div>
                        <img
                          class="icon-chevron-left2"
                          loading="lazy"
                          alt=""
                          src="/images/Setting/icon--chevron-left-1@2x.png"
                        />
                      </div>
                    </div>
                    <div class="login-info-icon-parent">
                      <img
                        class="login-info-icon"
                        loading="lazy"
                        alt=""
                        src="/images/Setting/vector-75-2.svg"
                      />

                      <div class="login-info-navigation">
                        <div class="login-info-option">
                          <h1 class="login-information-saved">
                            Login information saved
                          </h1>
                          <div class="change-email-option">
                            <img
                              class="icon-chevron-left3"
                              loading="lazy"
                              alt=""
                              src="/images/Setting/icon--chevron-left-1@2x.png"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="security-check-wrapper">
                  <h1 class="security-check">Security check</h1>
                </div>
              </div>
              <div class="user-inner">
                <div class="rectangle-parent">
                  <div class="rectangle-div"></div>
                  <div class="user-info-parent">
                    <div class="user-info">
                      <div class="where-you-login">
                        <div class="security-check-navigation">
                          <h1 class="where-you-log">Where you log in</h1>
                        </div>
                        <img
                          class="icon-chevron-left4"
                          loading="lazy"
                          alt=""
                          src="/images/Setting/icon--chevron-left-1@2x.png"
                        />
                      </div>
                    </div>
                    <div class="notification-settings">
                      <img
                        class="notification-settings-child"
                        loading="lazy"
                        alt=""
                        src="/images/Setting/vector-75-3.svg"
                      />

                      <div class="notification-item-parent" id="groupContainer">
                        <div class="notification-item">
                          <div class="notification-settings-name">
                            <div class="setting-notifications-wrapper">
                              <b class="setting-notifications"
                                >Setting Notifications</b
                              >
                            </div>
                            <img
                              class="icon-chevron-left5"
                              alt=""
                              src="/images/Setting/icon--chevron-left-1@2x.png"
                            />
                          </div>
                        </div>
                        <img
                          class="vector-icon"
                          alt=""
                          src="/images/Setting/vector-75-4.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="security">
                    <div class="security-check-parent">
                      <h1 class="security-check1">Security check</h1>
                      <div class="school-info">
                        <img
                          class="icon-chevron-left6"
                          loading="lazy"
                          alt=""
                          src="/images/Setting/icon--chevron-left-1@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="component-3mingcutearow-to-r-parent">
        <img class="component-3mingcutearow-to-r-icon" alt="" />

        <div class="component-3profile">
          <div class="component-3profile-child"></div>
          <div class="allura-avatar-parent">
            <img
              class="allura-avatar-icon"
              alt=""
              src="/images/Setting/allura-avatar@2x.png"
            />

            <b class="soict1">SOICT</b>
          </div>
          <img class="icon-chevron-left7" alt="" />
        </div>
        <div class="rectangle-group">
          <div class="instance-child"></div>
          <div class="bar-content">
            <div class="bar-elements">
              <div class="notification-icon-parent">
                <div class="notification-icon">
                  <img
                    class="iconlylight-outlinenotificat"
                    loading="lazy"
                    alt=""
                    src="/images/Setting/iconlylight-outlinenotification.svg"
                  />
                </div>
                <div class="help-icon">
                  <img
                    class="material-symbolshelp-outline-icon"
                    loading="lazy"
                    alt=""
                    src="/images/Setting/materialsymbolshelpoutline-1.svg"
                  />
                </div>
                <div class="component-3profile1">
                  <div class="component-3profile-item"></div>
                  <div class="allura-avatar-group">
                    <img
                      class="allura-avatar-icon1"
                      alt=""
                      src="/images/Setting/allura-avatar@2x.png"
                    />

                    <div class="user-name1">
                      <a class="soict2">SOICT</a>
                    </div>
                  </div>
                  <div class="profile-chevron">
                    <img
                      class="icon-chevron-left8"
                      alt=""
                      src="/images/Setting/icon--chevron-left-7@2x.png"
                    />
                  </div>
                </div>
                <img
                  class="component-3mingcutearow-to-r-icon1"
                  loading="lazy"
                  alt=""
                  src="/images/Setting/component-3mingcutearowtorightline-1.svg"
                />
              </div>
              <img class="component-3mingcutearow-to-r-icon2" alt="" />
            </div>
            <div class="calendar-wrapper">
              <div class="calendar1">
                <div class="calendar-header">
                  <div class="header-content">
                    <div class="my-calendar-wrapper">
                      <a class="my-calendar">My Calendar</a>
                    </div>
                    <div class="month-selector">
                      <div class="july-2024-parent">
                        <b class="july-2024">JULY 2024</b>
                        <div class="month-chevron">
                          <img
                            class="vector-2-stroke"
                            alt=""
                            src="/images/Setting/vector-2-stroke.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="calendar-events">
                  <div class="weekdays-weeks">
                    <div class="weekdays">
                      <div class="mo">Mo</div>
                      <div class="tu">Tu</div>
                      <div class="we">We</div>
                      <div class="th">Th</div>
                      <div class="fr">Fr</div>
                      <div class="sa">Sa</div>
                      <div class="su">Su</div>
                    </div>
                    <div class="weeks-container">
                      <div class="weeks">
                        <div class="week-01">
                          <div class="div">1</div>
                          <div class="div1">2</div>
                          <div class="div2">3</div>
                          <div class="week-days">
                            <div class="div3">1</div>
                          </div>
                          <div class="div4">2</div>
                          <div class="week-days1">
                            <div class="div5">3</div>
                          </div>
                          <div class="div6">4</div>
                        </div>
                      </div>
                      <div class="week-two-container">
                        <div class="week-two">
                          <div class="week-02">
                            <div class="wrapper">
                              <div class="div7">5</div>
                            </div>
                            <div class="container">
                              <div class="div8">6</div>
                            </div>
                            <div class="day-numbers">
                              <div class="div9">7</div>
                            </div>
                            <img class="current-day-icon" alt="" />

                            <div class="day-numbers1">
                              <div class="div10">8</div>
                            </div>
                            <div class="div11" id="text32">9</div>
                            <div class="div12">10</div>
                            <div class="div13">11</div>
                          </div>
                          <div class="week-two-child"></div>
                        </div>
                      </div>
                      <div class="week-03">
                        <div class="frame">
                          <div class="div14">12</div>
                        </div>
                        <div class="frame-div">
                          <div class="div15">13</div>
                        </div>
                        <div class="week-three-days">
                          <div class="div16">14</div>
                        </div>
                        <div class="div17">15</div>
                        <div class="div18">16</div>
                        <div class="week-three-days1">
                          <div class="div19">17</div>
                        </div>
                        <div class="div20">18</div>
                      </div>
                    </div>
                    <div class="week-04">
                      <div class="wrapper1">
                        <div class="div21">19</div>
                      </div>
                      <div class="wrapper2">
                        <div class="div22">20</div>
                      </div>
                      <div class="week-four-days">
                        <div class="div23">21</div>
                      </div>
                      <div class="div24">22</div>
                      <div class="div25">23</div>
                      <div class="week-four-days1">
                        <div class="div26">24</div>
                      </div>
                      <div class="div27">25</div>
                    </div>
                    <div class="week-five-container">
                      <div class="week-05">
                        <div class="wrapper3">
                          <div class="div28">26</div>
                        </div>
                        <div class="week-five-days">
                          <div class="div29">27</div>
                        </div>
                        <div class="week-five-days1">
                          <div class="div30">28</div>
                        </div>
                        <div class="div31">29</div>
                        <div class="div32">30</div>
                        <div class="div33">31</div>
                        <b class="b">30</b>
                      </div>
                    </div>
                  </div>
                  <img
                    class="calendar-events-child"
                    loading="lazy"
                    alt=""
                    src="/images/Setting/ellipse-56.svg"
                  />

                  <div class="calendar-events-item"></div>
                  <div class="calendar-events-inner"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="history-content-wrapper">
            <div class="history-content">
              <div class="history-header">
                <div class="history-parent">
                  <b class="history">History</b>
                  <div class="see-all-wrapper">
                    <b class="see-all">See all</b>
                  </div>
                </div>
              </div>
              <div class="frame-group">
                <div class="history-item-wrapper">
                  <div class="history-item">
                    <div class="item-info">
                      <div class="logo2-1-wrapper">
                        <img
                          class="logo2-1-icon"
                          loading="lazy"
                          alt=""
                          src="/images/Setting/logo2-1@2x.png"
                        />
                      </div>
                      <div class="logo-instance-two">
                        <div class="logo-instance-two-child"></div>
                        <div class="logo-instance-two-inner">
                          <div class="layout-design-parent">
                            <b class="layout-design">Layout Design</b>
                            <div class="th-july-2024-parent">
                              <b class="th-july-2024">10th July 2024</b>
                              <div class="task-one-status">
                                <div class="event-marker"></div>
                              </div>
                              <b class="am-9">8 A.M - 9 A.M </b>
                            </div>
                            <b class="update-processing">update processing</b>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item-info1">
                      <div class="logo2-2-wrapper">
                        <img
                          class="logo2-2-icon"
                          loading="lazy"
                          alt=""
                          src="/images/Setting/logo2-1@2x.png"
                        />
                      </div>
                      <div class="task-details-two">
                        <div class="task-details-two-child"></div>
                        <div class="task-details-two-inner">
                          <div class="survay-parent">
                            <b class="survay">Survay</b>
                            <div class="th-july-2024-group">
                              <b class="th-july-20241">13th July 2024</b>
                              <div class="ellipse-wrapper">
                                <div class="ellipse-div"></div>
                              </div>
                              <b class="am-91">8 A.M - 9 A.M </b>
                            </div>
                            <b class="update-status">update status</b>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="logo2-3-parent">
                      <img
                        class="logo2-3-icon"
                        loading="lazy"
                        alt=""
                        src="/images/Setting/logo2-1@2x.png"
                      />

                      <div class="task-progress-one-parent">
                        <div class="task-progress-one"></div>
                        <div class="frame-wrapper">
                          <div class="blackwhite-design-parent">
                            <b class="blackwhite-design">Black&White Design</b>
                            <div class="th-july-2024-container">
                              <b class="th-july-20242">18th July 2024</b>
                              <div class="task-two-status">
                                <div class="completed-icon-one"></div>
                              </div>
                              <b class="am-92">8 A.M - 9 A.M </b>
                            </div>
                            <b class="completed">completed</b>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="task-three-container">
                      <img
                        class="logo2-4-icon"
                        loading="lazy"
                        alt=""
                        src="/images/Setting/logo2-1@2x.png"
                      />

                      <div class="task-three-details">
                        <div class="fix-design-wrapper">
                          <b class="fix-design">Fix Design</b>
                        </div>
                        <div class="task-three-date-details-contai-wrapper">
                          <div class="task-three-date-details-contai">
                            <div class="task-progress-two"></div>
                            <div class="rd-july-2024-parent">
                              <b class="rd-july-2024">23rd July 2024</b>
                              <div class="task-three-status">
                                <div class="created-icon-two"></div>
                              </div>
                              <b class="am-1">10 A.M - 1 P.M </b>
                            </div>
                          </div>
                        </div>
                        <b class="created">created</b>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="scroll">
                  <div class="scroll-bar"></div>
                  <div class="scroll-bar1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var ToHomeText = document.getElementById("ToHome");
      if (ToHomeText) {
        ToHomeText.addEventListener("click", function (e) {
           window.location.href = "/KPIEdu/Home";
        });
      }

      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      
      var classesContainer = document.getElementById("classesContainer");
      if (classesContainer) {
        classesContainer.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var activitiesText = document.getElementById("activitiesText");
      if (activitiesText) {
        activitiesText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='rectangle']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var row3Container = document.getElementById("row3Container");
      if (row3Container) {
        row3Container.addEventListener("click", function (e) {
          // Please sync "Setting/User Profile" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Setting/User Profile" to the project
        });
      }
      
      var text32 = document.getElementById("text32");
      if (text32) {
        text32.addEventListener("click", function (e) {
          // Please sync "KPI Completion Progress" to the project
        });
      }
      </script>
  </body>
</html>
