<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/signupglobal.css" />
    <link rel="stylesheet" href="/css/signupindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="sign-up">
      <img class="image-icon" alt="" src="/images/image@2x.png" />

      <div class="create-an-account-wrapper">
        <div class="create-an-account">
          <div class="password-hide-see">
            <img class="icon" alt="" />

            <div class="hide">Hide</div>
          </div>
          <div class="error-message">Error message</div>
          <div class="password-hide-see1">
            <img class="icon1" alt="" />

            <div class="hide1">Hide</div>
          </div>
          <div class="error-message1">Error message</div>
          <div class="create-an-account-child"></div>
          <header class="header-nav">
            <div class="links">
              <div class="home">Home</div>
              <div class="web-designs">Web designs</div>
              <div class="mobile-designs">Mobile designs</div>
              <div class="illustrations">Illustrations</div>
            </div>
            <div class="frame-parent">
              <img
                class="frame-child"
                loading="lazy"
                alt=""
                src="/images/group-1.svg"
              />

              <div class="kpi-edu-wrapper">
                <a class="kpi-edu">
                  <span>KPI</span>
                  <span class="edu"> Edu</span>
                </a>
              </div>
            </div>
            <div class="button">
              <div class="icons-parent">
                <img class="icons" alt="" />

                <div class="sign-up1">Log in</div>
              </div>
            </div>
            <div class="header-nav-inner">
              <div class="text-parent">
                <a class="text">English (united States)</a>
                <img class="icons1" alt="" src="/images/icons.svg" />
              </div>
            </div>
            <div class="button1">
              <div class="icons-group">
                <img class="icons2" alt="" />

                <div class="sign-up2">Sign up</div>
              </div>
            </div>
            <div class="divider"></div>
          </header>
          <div class="create-an-account-inner">
            <form class="frame-group">
              <div class="create-an-account-container">
                <h1 class="create-an-account1">Create an account</h1>
              </div>
              <div class="frame-container">
                <div class="frame-wrapper">
                  <div class="vector-parent">
                    <img class="frame-item" loading="lazy" alt="" />

                    <div class="have-an-account-login">
                      <div class="already-have-an-container">
                        <span class="already-have-an"
                          >Already have an ccount?</span>
                        <span class="span"> </span>
                        <span class="log-in" onclick="redirectToLogin()" style="color:blue; cursor:pointer;">Log in </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="label-parent">
                  <div class="label">What’s your email?</div>
                  <div class="text-field">
                    <input
                      class="input"
                      placeholder="Enter your email address"
                      type="text"
                    />

                    <div class="text-field-child"></div>
                    <img class="icons3" alt="" />
                  </div>
                </div>
              </div>
              <div class="label-group">
                <div class="label1">What should we call you?</div>
                <div class="text-field1">
                  <input
                    class="enter-your-profile"
                    placeholder="Enter your profile name"
                    type="text"
                  />

                  <div class="text-field-item"></div>
                  <img class="icons4" alt="" />
                </div>
              </div>
              <div class="frame-div">
                <div class="label-container">
                  <div class="label2">Create a password</div>
                  <div class="frame-parent1">
                    <div class="icon-wrapper">
                      <img
                        class="icon2"
                        loading="lazy"
                        alt=""
                        src="/images/icon-2.svg"
                      />
                    </div>
                    <div class="hide2">Hide</div>
                  </div>
                </div>
                <div class="text-field2">
                  <input
                    class="input1"
                    placeholder="Enter your password"
                    type="text"
                  />

                  <div class="text-field-inner"></div>
                  <img class="icons5" alt="" />
                </div>
                <div class="error-message2">
                  Use 8 or more characters with a mix of letters, numbers &
                  symbols
                </div>
              </div>
              <div class="frame-parent2">
                <div class="frame-parent3">
                  <div class="label-parent1">
                    <p class="label3">Confirm your password</p>
                    <div class="frame-parent4">
                      <div class="icon-container">
                        <img
                          class="icon3"
                          loading="lazy"
                          alt=""
                          src="/images/icon-2.svg"
                        />
                      </div>
                      <div class="hide3">Hide</div>
                    </div>
                  </div>
                  <div class="text-field3">
                    <input
                      class="input2"
                      placeholder="Enter your password"
                      type="text"
                    />

                    <div class="rectangle-div"></div>
                    <img class="icons6" alt="" />
                  </div>
                </div>
                <div class="link-text-parent">
                  <div class="link-text">
                    <p class="by-creating-an-container">
                      <span class="by-creating-an"
                        >By creating an account, you agree to the
                      </span>
                      <span class="terms-of-use">Terms of use</span>
                      <span class="span1"> </span>
                      <span class="and">and</span>
                      <span class="span2"> </span>
                      <span class="privacy-policy">
                        <span class="privacy-policy1">Privacy Policy.</span>
                        <span class="span3"> </span>
                      </span>
                    </p>
                  </div>
                  <button type="button" class="button2" onclick="ToLogin()">
                    <div class="icons-container">
                      <img class="icons7" alt="" />

                      <div class="sign-up3">Create an account</div>
                    </div>
                  </button>
                </div>
              </div>
              <div class="frame-wrapper1">
                <div class="or-continue-with-parent">
                  <h3 class="or-continue-with">OR Continue with</h3>
                  <div class="frame-wrapper2">
                    <div class="social-media-signuplogin-parent">
                      <button class="social-media-signuplogin">
                        <img
                          class="social-media-logo"
                          alt=""
                          src="/images/social-media-logo.svg"
                        />

                        <div class="continue-with-facebook-wrapper">
                          <div class="continue-with-facebook">Facebook</div>
                        </div>
                      </button>
                      <button class="social-media-signuplogin1">
                        <div class="social-media-logo-wrapper">
                          <img
                            class="social-media-logo1"
                            alt=""
                            src="/images/social-media-logo-1.svg"
                          />
                        </div>
                        <div class="continue-with-google">Google</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      function redirectToLogin() {
        window.location.href = "/KPIEdu/Login";
      }

      function ToLogin() {
        window.location.href = "/KPIEdu/Login";
      }
    </script>
  </body>
</html>
