<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/Task Listglobal.css" />
    <link rel="stylesheet" href="/css/Task List.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="task-list">
      <div class="task-list-child"></div>
      <div class="search">
        <div class="search-child"></div>
        <div class="search-task-documents-activi-parent">
          <div class="search-task-documents">
            Search Task, Documents, Activities...
          </div>
          <img
            class="iconlylight-outlinesearch"
            alt=""
            src="/images/Task List/iconlylight-outlinesearch.svg"
          />
        </div>
      </div>
      <img class="toggle-icon" alt="" src="/images/Task List/toggle.svg" />

      <div class="completion-progress-parent">
        <div class="completion-progress">
          <div class="completion-progress-child"></div>
          <b class="task-list1">Task list</b>
          <div class="scroll">
            <div class="scroll-child"></div>
            <div class="scroll-item"></div>
          </div>
          <img
            class="swm-icon-pack-arrowsmallleft"
            alt=""
            src="/images/Task List/swm-icon-pack--arrowsmallleft.svg"
            id="swmIconPackArrowsmallleft"
          />

          <img class="cocoboldadd-icon" alt="" src="/images/Task List/cocoboldadd.svg" />
        </div>
        <div class="group-parent">
          <img class="group-child" alt="" src="/images/Task List/group-20.svg" />

          <b class="b">25%</b>
        </div>
        <div class="group-container">
          <img class="group-child" alt="" src="/images/Task List/group-21.svg" />

          <b class="b">97%</b>
        </div>
        <div class="task-1-parent">
          <b class="task-1">Task 1</b>
          <b class="plan-1">Plan 1</b>
          <div class="profile">
            <div class="profile-child"></div>
            <div class="not-started-wrapper">
              <b class="not-started">Not Started</b>
            </div>
            <div class="icon-chevron-left"></div>
          </div>
          <div class="profile">
            <div class="profile-child"></div>
            <div class="profile-child"></div>
            <div class="not-started-wrapper">
              <b class="not-started">Not Started</b>
            </div>
            <div class="icon-chevron-left"></div>
            <div class="ellipse-div"></div>
          </div>
        </div>
        <div class="create-database-parent">
          <b class="create-database">Create Database</b>
          <b class="plan-1"> Plan 2</b>
          <div class="profile2">
            <div class="profile-child"></div>
            <div class="profile-child1"></div>
            <img class="rectangle-icon" alt="" src="/images/Task List/rectangle-9.svg" />

            <div class="not-started-wrapper">
              <b class="not-started">In Progress</b>
            </div>
            <div class="icon-chevron-left2"></div>
            <div class="profile-child2"></div>
          </div>
        </div>
        <div class="buil-controller-parent">
          <b class="create-database">Buil Controller</b>
          <b class="plan-3">Plan 3</b>
          <div class="profile3">
            <div class="profile-child"></div>
            <div class="profile-child4"></div>
            <div class="done-wrapper">
              <b class="not-started">
                <p class="done1">Done</p>
              </b>
            </div>
            <div class="icon-chevron-left3"></div>
            <div class="profile-child5"></div>
          </div>
        </div>
        <div class="build-algorithms-parent">
          <b class="create-database">Build Algorithms</b>
          <b class="plan-1">Plan 4</b>
          <div class="profile3">
            <div class="profile-child"></div>
            <div class="profile-child4"></div>
            <div class="done-wrapper">
              <b class="not-started">
                <p class="done1">Done</p>
              </b>
            </div>
            <div class="icon-chevron-left3"></div>
            <img class="ellipse-icon" alt="" src="/images/Task List/ellipse-59.svg" />
          </div>
        </div>
        <div class="pension-parent">
          <b class="create-database">Pension</b>
          <b class="plan-1">Chapter 5</b>
        </div>
      </div>
      <div class="rectangle-parent">
        <div class="instance-child"></div>
        <div class="scroll1">
          <div class="scroll-inner"></div>
          <div class="scroll-child1"></div>
        </div>
        <b class="history">History</b>
        <b class="see-all">See all</b>
        <div class="instance-item"></div>
        <img class="logo2-2-icon" alt="" src="/images/Task List/logo2-2@2x.png" />

        <div class="group-wrapper">
          <div class="survay-parent">
            <b class="survay">Survay</b>
            <b class="update-status">update status</b>
            <div class="th-july-2024-parent">
              <b class="th-july-2024">13th July 2024</b>
              <b class="am-9">8 A.M - 9 A.M </b>
              <div class="group-inner"></div>
            </div>
          </div>
        </div>
        <div class="instance-inner"></div>
        <img class="logo2-3-icon" alt="" src="/images/Task List/logo2-2@2x.png" />

        <div class="group-frame">
          <div class="blackwhite-design-parent">
            <b class="survay">Black&White Design</b>
            <b class="update-status">completed</b>
            <div class="th-july-2024-parent">
              <b class="th-july-2024">18th July 2024</b>
              <b class="am-9">8 A.M - 9 A.M </b>
              <div class="group-inner"></div>
            </div>
          </div>
        </div>
        <div class="instance-child1"></div>
        <img class="logo2-4-icon" alt="" src="/images/Task List/logo2-2@2x.png" />

        <b class="fix-design">Fix Design</b>
        <div class="rd-july-2024-parent">
          <b class="th-july-2024">23rd July 2024</b>
          <b class="am-9">10 A.M - 1 P.M </b>
          <div class="group-inner"></div>
        </div>
        <div class="instance-child2"></div>
        <div class="group-div">
          <div class="layout-design-parent">
            <b class="survay">Layout Design</b>
            <b class="update-status">update processing</b>
            <div class="th-july-2024-container">
              <b class="th-july-2024">10th July 2024</b>
              <b class="am-92">8 A.M - 9 A.M </b>
              <div class="group-child3"></div>
            </div>
          </div>
        </div>
        <img
          class="component-3mingcutearow-to-r-icon"
          alt=""
          src="/images/Task List/component-3mingcutearowtorightline.svg"
          id="component3mingcutearowToR"
        />

        <div class="calendar">
          <div class="month-selector">
            <div class="vector-2-stroke-parent">
              <img
                class="vector-2-stroke"
                alt=""
                src="/images/Task List/vector-2-stroke.svg"
              />

              <b class="july-2024">JULY 2024</b>
            </div>
          </div>
          <div class="calendar-events">
            <div class="weekdays-weeks">
              <div class="weekdays-weeks-child"></div>
              <div class="weekdays">
                <div class="mo">Mo</div>
                <div class="tu">Tu</div>
                <div class="we">We</div>
                <div class="th">Th</div>
                <div class="fr">Fr</div>
                <div class="sa">Sa</div>
                <div class="su">Su</div>
              </div>
              <div class="week-01">
                <div class="div">1</div>
                <div class="div1">2</div>
                <div class="div2">3</div>
                <div class="div3">1</div>
                <div class="div4">2</div>
                <div class="div5">3</div>
                <div class="div6">4</div>
              </div>
              <div class="week-02">
                <div class="div7">5</div>
                <div class="div8">6</div>
                <div class="div9">7</div>
                <img
                  class="current-day-icon"
                  alt=""
                  src="/images/Task List/current-day.svg"
                />

                <div class="div10" id="text3">9</div>
                <div class="div11">10</div>
                <div class="div12">11</div>
                <div class="div13">8</div>
              </div>
              <div class="week-03">
                <div class="div14">12</div>
                <div class="div15">13</div>
                <div class="div16">14</div>
                <div class="div17">15</div>
                <div class="div18">16</div>
                <div class="div19">17</div>
                <div class="div20">18</div>
              </div>
              <div class="week-04">
                <div class="div14">19</div>
                <div class="div22">20</div>
                <div class="div23">21</div>
                <div class="div24">22</div>
                <div class="div25">23</div>
                <div class="div26">24</div>
                <div class="div27">25</div>
              </div>
              <div class="week-05">
                <div class="div28">26</div>
                <div class="div29">27</div>
                <div class="div30">28</div>
                <div class="div31">29</div>
                <div class="div32">30</div>
                <div class="div33">31</div>
                <b class="b2">30</b>
              </div>
            </div>
          </div>
          <img class="calendar-child" alt="" src="/images/Task List/ellipse-56.svg" />

          <div class="calendar-item"></div>
          <div class="calendar-inner"></div>
          <b class="my-calendar">My Calendar</b>
        </div>
        <div class="component-3profile-parent">
          <div class="component-3profile">
            <div class="component-3profile-child"></div>
            <div class="allura-avatar-parent">
              <img
                class="allura-avatar-icon"
                alt=""
                src="/images/Task List/allura-avatar@2x.png"
              />

              <b class="soict">SOICT</b>
            </div>
            <img
              class="icon-chevron-left5"
              alt=""
              src="/images/Task List/icon--chevron-left@2x.png"
            />
          </div>
          <img
            class="iconlylight-outlinenotificat"
            alt=""
            src="/images/Task List/iconlylight-outlinenotification.svg"
            id="iconlyLightOutlineNotificat"
          />

          <img
            class="component-3mingcutearow-to-r-icon1"
            alt=""
            src="/images/Task List/component-3mingcutearowtorightline1.svg"
            id="component3mingcutearowToR"
          />

          <img
            class="material-symbolshelp-outline-icon"
            alt=""
            src="/images/Task List/materialsymbolshelpoutline.svg"
            id="materialSymbolshelpOutlineIcon"
          />
        </div>
        <img class="logo2-1-icon" alt="" src="/images/Task List/logo2-2@2x.png" />

        <b class="created">created</b>
      </div>
      <div class="left-barplan">
        <div class="vector-2-stroke-parent">
          <div class="instance-child3"></div>
        </div>
        <div class="calendar1" id="calendarContainer">
          <b class="calendar2">Calendar</b>
          <img class="group-icon" alt="" src="/images/Task List/group.svg" />
        </div>
        <div class="home" id="homeContainer">
          <div class="vector-2-stroke-parent">
            <b class="home1">Home</b>
            <img
              class="iconlyboldhome"
              alt=""
              src="/images/Task List/iconlyboldhome.svg"
            />
          </div>
        </div>
        <div class="history1">
          <div class="bookmarks" id="bookmarksContainer">
            <b class="history2" id="historyText">History</b>
          </div>
          <img class="vector-icon" alt="" src="/images/Task List/vector.svg" />
        </div>
        <div class="messages" id="messagesContainer">
          <b class="messages1" id="messagesText">Messages</b>
          <img
            class="iconlylight-outlinechat"
            alt=""
            src="/images/Task List/iconlylight-outlinechat.svg"
          />

          <div class="ellipse-parent">
            <div class="group-child4"></div>
            <b class="b3">4</b>
          </div>
        </div>
        <div class="settings" id="settingsContainer">
          <b class="settings1" id="settingsText">Settings</b>
          <img
            class="iconlylight-outlinesetting"
            alt=""
            src="/images/Task List/iconlylight-outlinesetting.svg"
          />
        </div>
        <div class="sign-out">
          <b class="sign-out1" id="signOutText">Sign Out</b>
          <img
            class="iconlylight-outlinelogout"
            alt=""
            src="/images/Task List/iconlylight-outlinelogout@2x.png"
          />
        </div>
        <div class="logo">
          <img class="logo-child" alt="" src="/images/Task List/group-1.svg" />

          <b class="kpi-edu">
            <span>KPI</span>
            <span class="edu"> Edu</span>
          </b>
        </div>
        <div class="plan" id="planContainer">
          <div class="rectangle-group">
            <div class="frame-child"></div>
            <div class="frame-item"></div>
          </div>
          <div class="frame-div">
            <div class="classes-wrapper" id="groupContainer">
              <div class="vector-2-stroke-parent">
                <b class="kpi">Plan</b>
              </div>
            </div>
            <img
              class="iconlylight-outline3-user"
              alt=""
              src="/images/Task List/iconlylight-outline3-user.svg"
            />
          </div>
        </div>
        <div class="documents" id="documentsContainer">
          <img
            class="carbonsummary-kpi-icon"
            alt=""
            src="/images/Task List/carbonsummarykpi.svg"
          />

          <b class="kpi1">KPI</b>
        </div>
      </div>
    </div>

    <div id="component5Container" class="popup-overlay" style="display: none">
      <div class="component-5">
        <b class="notification">Notification</b>
        <b class="new">New</b>
        <div class="group-parent1">
          <img class="frame-inner" alt="" src="/images/Task List/group-11.svg" />

          <div class="day-ago">5 day ago</div>
          <div class="you-have-deadline-container">
            <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
            <p class="you-have-deadline">
              Black&White Design - Sale website design
            </p>
          </div>
          <b class="kpi-edu1">KPI EDU</b>
          <div class="frame-child1"></div>
        </div>
        <div class="group-parent2">
          <img class="frame-inner" alt="" src="/images/Task List/group-12.svg" />

          <div class="day-ago">5 day ago</div>
          <div class="you-have-deadline-container">
            <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
            <p class="you-have-deadline">
              Black&White Design - Sale website design
            </p>
          </div>
          <b class="kpi-edu1">KPI EDU</b>
          <div class="frame-child1"></div>
        </div>
        <div class="group-parent3">
          <img class="frame-inner" alt="" src="/images/Task List/group-13.svg" />

          <div class="day-ago">5 day ago</div>
          <div class="you-have-deadline-container">
            <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
            <p class="you-have-deadline">
              Black&White Design - Sale website design
            </p>
          </div>
          <b class="kpi-edu1">KPI EDU</b>
        </div>
        <div class="group-parent4">
          <img class="frame-inner" alt="" src="/images/Task List/group-14.svg" />

          <div class="day-ago">5 day ago</div>
          <div class="you-have-deadline-container">
            <p class="you-have-deadline">You have deadline at: 8:00 07/04</p>
            <p class="you-have-deadline">
              Black&White Design - Sale website design
            </p>
          </div>
          <b class="kpi-edu1">KPI EDU</b>
        </div>
        <b class="read">Read</b>
      </div>
    </div>

    <div id="frameContainer" class="popup-overlay" style="display: none">
      <div class="kpi-management-software-user-g-parent">
        <b class="kpi-management-software"
          >KPI Management Software User Guide</b
        >
        <b class="the-kpi-management"
          >The KPI management software helps you efficiently track and manage
          plans and tasks. Below is a detailed guide on how to use the features
          of the software:</b
        >
        <b class="managing-plans-creating-container">
          <p class="managing-plans">1. Managing Plans</p>
          <p class="managing-plans">Creating a New Plan</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">Go to the "Plans" page.</li>
            <li class="go-to-the">Click the "Create Plan" button.</li>
            <li class="go-to-the">
              Enter the plan name, description, and other relevant information.
            </li>
            <li class="go-to-the">Click "Save" to create a new plan.</li>
          </ol>
          <p class="managing-plans">Viewing and Editing a Plan</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">
              Select the plan you want to view or edit from the plan list.
            </li>
            <li class="go-to-the">
              Click on the plan name to open the plan details.
            </li>
            <li class="go-to-the">
              Edit the plan information if needed and click "Save" to update.
            </li>
          </ol>
          <p class="managing-plans">2. Managing Tasks</p>
          <p class="managing-plans">Adding a New Task to a Plan</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">
              Open the plan to which you want to add a task.
            </li>
            <li class="go-to-the">Click the "Add Task" button.</li>
            <li class="go-to-the">
              Enter the task name, description, status (Completed, In Progress,
              Not Started), deadline, priority, and progress.
            </li>
            <li class="go-to-the">Click "Save" to create a new task.</li>
          </ol>
          <p class="managing-plans">Updating Task Status and Progress</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">
              Select the task you want to update from the task list within the
              plan.
            </li>
            <li class="go-to-the">
              Click on the task name to open the task details.
            </li>
            <li class="go-to-the">
              Update the status, completion progress, and other information if
              needed.
            </li>
            <li class="go-to-the">Click "Save" to save the changes.</li>
          </ol>
          <p class="managing-plans">3. Viewing History</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">Go to the "History" page.</li>
            <li class="go-to-the">
              View the list of recent activities by you and your team members.
            </li>
            <li class="go-to-the">
              Click on individual activities to see details if needed.
            </li>
          </ol>
          <p class="managing-plans">4. Messaging and Attaching Files</p>
          <p class="managing-plans">Sending a Message</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">Go to the "Messages" page.</li>
            <li class="go-to-the">
              Select the recipient from your contact list or enter the
              recipient's name.
            </li>
            <li class="go-to-the">Type your message content.</li>
            <li class="go-to-the">Click "Send" to send the message.</li>
          </ol>
          <p class="managing-plans">Attaching Files or Images</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">
              While composing a message, click on the attachment icon.
            </li>
            <li class="go-to-the">
              Choose a file or image from your computer.
            </li>
            <li class="go-to-the">
              Click "Attach" to add the file to your message.
            </li>
            <li class="go-to-the">
              Click "Send" to send the message with the attached file.
            </li>
          </ol>
          <p class="managing-plans">5. Viewing the Schedule</p>
          <p class="managing-plans">Viewing the Weekly Schedule</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">Go to the "Schedule" page.</li>
            <li class="go-to-the">
              Select the weekly view to see your tasks for the current week.
            </li>
            <li class="go-to-the">
              Click on each day to see the details of the tasks for that day.
            </li>
          </ol>
          <p class="managing-plans">Tracking Long-Term Tasks</p>
          <ol class="go-to-the-plans-page-click">
            <li class="go-to-the">
              In the schedule, select the task that spans multiple days.
            </li>
            <li class="go-to-the">
              View the highlighted or marked days to know the duration of the
              task.
            </li>
            <li class="go-to-the">
              Click on the task to see details and edit if necessary.
            </li>
          </ol>
          <p class="managing-plans">Conclusion</p>
          <p class="managing-plans">
            The KPI management software provides various tools to help you
            manage your plans and tasks efficiently. Make sure to regularly
            update the status and progress of tasks to track them timely and
            achieve your set goals. If you encounter any issues, please contact
            the technical support team for assistance. Happy using the software!
          </p>
        </b>
      </div>
    </div>

    <script>
      var swmIconPackArrowsmallleft = document.getElementById(
        "swmIconPackArrowsmallleft"
      );
      if (swmIconPackArrowsmallleft) {
        swmIconPackArrowsmallleft.addEventListener("click", function (e) {
          // Please sync "Plan Processing" to the project
        });
      }
      
      var component3mingcutearowToR = document.getElementById(
        "component3mingcutearowToR"
      );
      if (component3mingcutearowToR) {
        component3mingcutearowToR.addEventListener("click", function (e) {
          // Please sync "Task List1" to the project
        });
      }
      
      var text3 = document.getElementById("text3");
      if (text3) {
        text3.addEventListener("click", function (e) {
          // Please sync "Task List1" to the project
        });
      }
      
      var iconlyLightOutlineNotificat = document.getElementById(
        "iconlyLightOutlineNotificat"
      );
      if (iconlyLightOutlineNotificat) {
        iconlyLightOutlineNotificat.addEventListener("click", function () {
          var popup = document.getElementById("component5Container");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var materialSymbolshelpOutlineIcon = document.getElementById(
        "materialSymbolshelpOutlineIcon"
      );
      if (materialSymbolshelpOutlineIcon) {
        materialSymbolshelpOutlineIcon.addEventListener("click", function () {
          var popup = document.getElementById("frameContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var calendarContainer = document.getElementById("calendarContainer");
      if (calendarContainer) {
        calendarContainer.addEventListener("click", function (e) {
          // Please sync "Calendar" to the project
        });
      }
      
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          // Please sync "Dashboard" to the project
        });
      }
      
      var historyText = document.getElementById("historyText");
      if (historyText) {
        historyText.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var bookmarksContainer = document.getElementById("bookmarksContainer");
      if (bookmarksContainer) {
        bookmarksContainer.addEventListener("click", function (e) {
          // Please sync "Activities" to the project
        });
      }
      
      var messagesText = document.getElementById("messagesText");
      if (messagesText) {
        messagesText.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var messagesContainer = document.getElementById("messagesContainer");
      if (messagesContainer) {
        messagesContainer.addEventListener("click", function (e) {
          // Please sync "Messages" to the project
        });
      }
      
      var settingsText = document.getElementById("settingsText");
      if (settingsText) {
        settingsText.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var settingsContainer = document.getElementById("settingsContainer");
      if (settingsContainer) {
        settingsContainer.addEventListener("click", function (e) {
          // Please sync "Setting" to the project
        });
      }
      
      var signOutText = document.getElementById("signOutText");
      if (signOutText) {
        signOutText.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var planContainer = document.getElementById("planContainer");
      if (planContainer) {
        planContainer.addEventListener("click", function (e) {
          // Please sync "Plan Processing 1" to the project
        });
      }
      
      var documentsContainer = document.getElementById("documentsContainer");
      if (documentsContainer) {
        documentsContainer.addEventListener("click", function (e) {
          // Please sync "KPI" to the project
        });
      }
      </script>
  </body>
</html>
