.search-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 438px;
  height: 50px;
}
.search-task-documents {
  position: absolute;
  top: 2px;
  left: 34px;
  font-weight: 600;
}
.iconlylight-outlinesearch {
  position: absolute;
  height: 100%;
  width: 8.05%;
  top: 0;
  right: 91.95%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search,
.search-task-documents-activi-parent {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 298px;
  height: 24.5px;
}
.search {
  top: 43px;
  left: 292px;
  width: 438px;
  height: 50px;
  font-size: 15px;
}
.toggle-icon {
  position: absolute;
  top: 53px;
  left: 842px;
  width: 127px;
  height: 29.8px;
}
.activitiesdelete-all-child {
  position: absolute;
  top: 138px;
  left: 478px;
  border-radius: 20px;
  background-color: var(--color-white);
  width: 681px;
  height: 823.2px;
}
.swm-icon-pack-trash2 {
  position: absolute;
  top: 504px;
  left: 714px;
  width: 178px;
  height: 155px;
  overflow: hidden;
}
.history {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 179px;
  height: 36px;
  cursor: pointer;
}
.scroll-child,
.scroll-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
}
.scroll-child {
  background-color: #eee;
  width: 7.3px;
  height: 688.8px;
}
.scroll-item {
  background-color: var(--color-royalblue);
  width: 7px;
  height: 686px;
}
.activities,
.scroll {
  position: absolute;
  top: 56px;
  left: 578px;
  width: 7.3px;
  height: 688.8px;
}
.activities {
  top: 183px;
  left: 535px;
  width: 585.3px;
  height: 744.8px;
  font-size: 36px;
  color: #333;
}
.icon-circle-tick {
  position: absolute;
  height: 5.4%;
  width: 3.84%;
  top: 25.49%;
  right: 24.7%;
  bottom: 69.11%;
  left: 71.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.delete-all {
  position: absolute;
  top: 197px;
  left: 950px;
  display: flex;
  color: var(--color-royalblue);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 21px;
}
.divider1 {
  width: 294px;
  background-color: var(--color-dimgray-100);
  height: 2px;
  display: none;
}
.divider1,
.divider2,
.or {
  position: relative;
}
.or {
  width: 35px;
  display: none;
}
.divider2 {
  flex: 1;
  background-color: var(--color-dimgray-100);
  height: 2px;
}
.divider {
  position: absolute;
  top: 251px;
  left: 525px;
  width: 537px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  color: #111;
  font-family: var(--font-avenir);
}
.you-havent-any {
  margin: 0;
}
.you-havent-any-container1 {
  width: 100%;
}
.you-havent-any-container {
  position: absolute;
  top: 392px;
  left: 559px;
  font-size: 25px;
  font-weight: 500;
  font-family: var(--font-poppins);
  text-align: center;
  display: flex;
  align-items: center;
  width: 470px;
  height: 52px;
}
.instance-child {
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-white);
}
.instance-child,
.left-barhistory-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.calendar1,
.group-icon {
  position: absolute;
  top: 0;
  left: 29.69%;
}
.group-icon {
  height: 91.85%;
  width: 19.3%;
  top: 3.7%;
  right: 80.7%;
  bottom: 4.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calendar,
.calendar-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 27px;
}
.calendar {
  top: 455px;
  left: 71px;
  cursor: pointer;
}
.home1,
.iconlyboldhome {
  position: absolute;
  top: 0;
  left: 39.39%;
}
.iconlyboldhome {
  height: 97.41%;
  width: 25.25%;
  right: 74.75%;
  bottom: 2.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home {
  position: absolute;
  height: 2.64%;
  width: 36.67%;
  top: 21.19%;
  right: 37.04%;
  bottom: 76.17%;
  left: 26.3%;
  cursor: pointer;
}
.frame-child,
.frame-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-aliceblue);
}
.frame-item {
  width: 2.22%;
  right: 97.78%;
  background-color: var(--color-royalblue);
}
.rectangle-parent {
  position: absolute;
  height: 225.93%;
  width: 234.78%;
  top: -62.96%;
  right: -73.04%;
  bottom: -62.96%;
  left: -61.74%;
}
.bookmarks,
.history2,
.vector-icon {
  position: absolute;
  height: 100%;
  top: 0;
}
.history2 {
  width: 100%;
  left: 0;
  display: inline-block;
  cursor: pointer;
}
.bookmarks,
.vector-icon {
  bottom: 0;
}
.bookmarks {
  width: 66.96%;
  right: 0;
  left: 33.04%;
  cursor: pointer;
}
.vector-icon {
  width: 24.35%;
  right: 75.65%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.history1 {
  position: absolute;
  top: 528px;
  left: 71px;
  width: 115px;
  height: 27px;
  color: var(--color-royalblue);
}
.messages1 {
  position: absolute;
  top: 0;
  left: 22.62%;
  cursor: pointer;
}
.iconlylight-outlinechat {
  position: absolute;
  height: 100%;
  width: 16.07%;
  top: 0;
  right: 83.93%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.group-child {
  position: absolute;
  top: 0;
}
.group-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.b {
  height: 95.45%;
  width: 42.27%;
  left: 27.27%;
  display: inline-block;
}
.ellipse-parent {
  position: absolute;
  height: 81.48%;
  width: 13.1%;
  top: 11.11%;
  right: 0;
  bottom: 7.41%;
  left: 86.9%;
  font-size: 15.56px;
  color: var(--color-white);
}
.messages,
.settings1 {
  position: absolute;
  cursor: pointer;
}
.messages {
  height: 2.64%;
  width: 62.22%;
  top: 58.5%;
  right: 11.48%;
  bottom: 38.87%;
  left: 26.3%;
}
.settings1 {
  top: 0;
  left: 31.93%;
}
.iconlylight-outlinesetting {
  position: absolute;
  height: 95.56%;
  width: 20.17%;
  top: 3.7%;
  right: 79.83%;
  bottom: 0.74%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.settings,
.sign-out1 {
  position: absolute;
  cursor: pointer;
}
.settings {
  height: 2.64%;
  width: 44.07%;
  top: 65.53%;
  right: 29.63%;
  bottom: 31.84%;
  left: 26.3%;
}
.sign-out1 {
  top: 0;
  left: 28.57%;
}
.iconlylight-outlinelogout {
  position: absolute;
  height: 86.67%;
  width: 20.17%;
  top: 7.41%;
  right: 79.83%;
  bottom: 5.93%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sign-out {
  position: absolute;
  height: 2.64%;
  width: 44.07%;
  top: 91.99%;
  right: 28.15%;
  bottom: 5.37%;
  left: 27.78%;
  color: var(--color-indianred);
}
.logo-child {
  position: absolute;
  height: 100%;
  width: 31.12%;
  top: 0;
  right: 68.88%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.edu {
  color: var(--color-dodgerblue);
}
.kpi-edu,
.logo {
  position: absolute;
}
.kpi-edu {
  height: 72.22%;
  width: 62.24%;
  top: 16.67%;
  left: 37.78%;
  display: inline-block;
}
.logo {
  height: 3.52%;
  width: 49.63%;
  top: 4.1%;
  right: 25.19%;
  bottom: 92.38%;
  left: 25.19%;
  font-size: 22.66px;
  color: var(--color-orange);
  font-family: var(--font-ubuntu);
}
.classes-wrapper,
.kpi {
  position: absolute;
  top: 0;
  left: 0;
}
.classes-wrapper {
  height: 100%;
  width: 54.22%;
  right: 0;
  bottom: 0;
  left: 45.78%;
  cursor: pointer;
}
.iconlylight-outline3-user {
  position: absolute;
  height: 84.81%;
  width: 30.72%;
  top: 11.11%;
  right: 69.28%;
  bottom: 4.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent,
.plan {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 27px;
}
.plan {
  top: 306px;
  left: 71px;
  cursor: pointer;
}
.carbonsummary-kpi-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.kpi1 {
  position: absolute;
  top: 0;
  left: 38px;
}
.carbonsummary-kpi-parent,
.documents {
  position: absolute;
  top: 0;
  left: 0;
  width: 71px;
  height: 32px;
}
.documents {
  top: 378px;
  left: 71px;
  cursor: pointer;
}
.left-barhistory,
.left-barhistory-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 1024px;
}
.left-barhistory-wrapper {
  background-color: var(--color-gray-200);
  overflow: hidden;
}
.component-15-icon {
  position: absolute;
  top: 0;
  left: 1371px;
  width: 69px;
  height: 1024px;
}
.activitiesdelete-all {
  width: 100%;
  position: relative;
  background-color: var(--color-aliceblue);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-open-sans);
}
