.calendar-child,
.search-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue-100);
  width: 1440px;
  height: 1024px;
}
.search-child {
  border-radius: var(--br-31xl);
  background-color: var(--white);
  width: 438px;
  height: 50px;
}
.search-task-documents {
  position: absolute;
  top: 2px;
  left: 34px;
  font-weight: 600;
}
.iconlylight-outlinesearch {
  position: absolute;
  height: 100%;
  width: 8.05%;
  top: 0;
  right: 91.95%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search,
.search-task-documents-activi-parent {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 298px;
  height: 24.5px;
}
.search {
  top: 43px;
  left: 292px;
  width: 438px;
  height: 50px;
  font-size: 15px;
}
.group-child,
.toggle-icon {
  position: absolute;
  top: 51px;
  left: 1225px;
  width: 127px;
  height: 29.8px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: var(--white);
  width: 1073px;
  height: 791px;
}
.icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon,
.icon1,
.search1 {
  position: relative;
}
.search1 {
  flex: 1;
  line-height: 16px;
}
.icon1 {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field,
.field-master {
  width: 184px;
  flex-direction: row;
  justify-content: flex-start;
}
.field-master {
  border-radius: var(--br-9xs);
  background-color: var(--gray-100);
  display: none;
  align-items: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.field {
  height: 36px;
  display: flex;
  align-items: flex-start;
}
.header,
.icon-button-master {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header {
  position: absolute;
  top: 0;
  left: 8px;
  width: 696px;
  height: 50px;
  align-items: flex-start;
  color: var(--gray-400);
}
.icon-button-master {
  border-radius: var(--br-7xs) 0 0 var(--br-7xs);
  background-color: var(--gray-100);
  align-items: center;
  padding: var(--padding-9xs);
}
.icon-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  position: relative;
  line-height: 16px;
}
.button-master {
  background-color: var(--gray-100);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.arrows,
.button-master,
.icon-button-master1 {
  display: flex;
  flex-direction: row;
}
.icon-button-master1 {
  border-radius: 0 var(--br-7xs) var(--br-7xs) 0;
  background-color: var(--gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.arrows {
  position: absolute;
  top: 10px;
  left: -8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
  color: var(--gray-900);
}
.text1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.button-master1 {
  border-radius: var(--br-5xs);
  align-items: center;
  padding: var(--padding-9xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.button-master1,
.button-master2,
.button2,
.day-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-master2 {
  border-radius: var(--br-5xs);
  background-color: var(--red-600);
  align-items: center;
  padding: var(--padding-9xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.button2,
.day-toggle {
  align-items: flex-start;
}
.button2 {
  color: var(--white);
}
.day-toggle {
  position: absolute;
  top: -7px;
  left: 761.18px;
  font-size: var(--text-sm-medium-size);
}
.div,
.sun {
  align-self: stretch;
  position: relative;
  line-height: 12px;
}
.div {
  font-size: var(--font-size-3xl);
  line-height: 32px;
  font-weight: 500;
  color: var(--color-black);
}
.day,
.day1,
.day2 {
  width: 14.29%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.day {
  position: absolute;
  height: 100%;
  top: 0;
  right: 85.71%;
  bottom: 0;
  left: 0;
  box-shadow: -1px -1px 0#e0e0e0 inset;
  background-color: var(--gray-50);
}
.day1,
.day2 {
  height: 87.45%;
  top: 6.25%;
  bottom: 6.3%;
  background-color: var(--white);
}
.day1 {
  position: absolute;
  right: 71.43%;
  left: 14.29%;
  box-shadow: -1px -1px 0#e0e0e0 inset;
}
.day2 {
  right: 57.14%;
  left: 28.57%;
}
.day2,
.day3,
.day4 {
  position: absolute;
  box-shadow: -1px -1px 0#e0e0e0 inset;
}
.day3 {
  height: 87.45%;
  width: 14.29%;
  top: 6.25%;
  right: 42.85%;
  bottom: 6.3%;
  left: 42.86%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.day4 {
  right: 28.57%;
  left: 57.14%;
  background-color: var(--blue-50);
}
.day4,
.day5,
.day6 {
  height: 87.45%;
  width: 14.29%;
  top: 6.25%;
  bottom: 6.3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.day5 {
  position: absolute;
  right: 14.28%;
  left: 71.43%;
  box-shadow: -1px -1px 0#e0e0e0 inset;
  background-color: var(--white);
}
.day6 {
  right: 0;
  left: 85.71%;
  box-shadow: 0-1px 0#e0e0e0 inset;
  background-color: var(--gray-50);
  overflow: hidden;
}
.day6,
.days,
.gmt-5 {
  position: absolute;
}
.days {
  height: 111.6%;
  width: 91.34%;
  top: -10.67%;
  right: 4.35%;
  bottom: -0.93%;
  left: 4.32%;
}
.gmt-5 {
  height: 75.05%;
  width: 4.34%;
  top: 0;
  left: 96.75%;
  font-size: var(--text-xs-regular-size);
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.week-days {
  position: absolute;
  height: 7.28%;
  width: 95.84%;
  top: 1.91%;
  right: 4.92%;
  bottom: 90.8%;
  left: -0.77%;
  font-size: var(--font-size-3xs);
}
.time {
  position: absolute;
  top: 0;
  left: -11px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 36px;
}
.block1 {
  align-self: stretch;
  box-shadow: 0-1px 0#f7f7f7 inset;
  height: 36px;
}
.block,
.block1,
.block2 {
  background-color: var(--gray-50);
}
.block2 {
  align-self: stretch;
  height: 36px;
}
.block {
  position: absolute;
  height: 100%;
  width: 14.28%;
  top: 0;
  right: 85.72%;
  bottom: 0;
  left: 0;
  box-shadow: -1px -1px 0#e0e0e0 inset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block4 {
  box-shadow: 0-1px 0#f7f7f7 inset;
}
.block4,
.block5 {
  align-self: stretch;
  background-color: var(--white);
  height: 36px;
}
.block3,
.block6,
.block9 {
  position: absolute;
  height: 100%;
  width: 14.28%;
  top: 0;
  right: 71.43%;
  bottom: 0;
  left: 14.29%;
  box-shadow: -1px -1px 0#e0e0e0 inset;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block6,
.block9 {
  right: 57.14%;
  left: 28.57%;
}
.block9 {
  right: 42.86%;
  left: 42.86%;
}
.block13 {
  align-self: stretch;
  box-shadow: 0-1px 0#f7f7f7 inset;
  height: 36px;
}
.block12,
.block13,
.block14 {
  background-color: var(--blue-50);
}
.block14 {
  align-self: stretch;
  height: 36px;
}
.block12 {
  position: absolute;
  top: 0;
  right: 28.57%;
  left: 57.15%;
  box-shadow: -1px -1px 0#e0e0e0 inset;
}
.block12,
.block15,
.block18 {
  height: 100%;
  width: 14.28%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block15 {
  position: absolute;
  top: 0;
  right: 14.29%;
  left: 71.43%;
  box-shadow: -1px -1px 0#e0e0e0 inset;
  background-color: var(--white);
}
.block18 {
  right: 0;
  left: 85.72%;
  box-shadow: 0-1px 0#e0e0e0 inset;
  background-color: var(--gray-50);
}
.block18,
.blocks,
.time1 {
  position: absolute;
  top: 0;
}
.blocks {
  height: 100%;
  width: 87.54%;
  right: 8.31%;
  bottom: 0;
  left: 4.15%;
}
.time1 {
  height: 44.44%;
  width: 5.52%;
  left: 92.68%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row {
  position: absolute;
  height: 8.61%;
  width: 99.97%;
  top: 8.79%;
  right: 0.8%;
  bottom: 82.61%;
  left: -0.77%;
}
.time2 {
  position: absolute;
  top: 12px;
  left: -19px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 36px;
}
.block21,
.block24,
.block27 {
  height: 100%;
  width: 14.29%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block21 {
  position: absolute;
  right: 85.71%;
  left: 0;
  box-shadow: -1px -1px 0#e0e0e0 inset;
  background-color: var(--gray-50);
}
.block24,
.block27 {
  background-color: var(--white);
}
.block24 {
  position: absolute;
  right: 71.43%;
  left: 14.29%;
  box-shadow: -1px -1px 0#e0e0e0 inset;
}
.block27 {
  right: 57.14%;
  left: 28.57%;
}
.block27,
.block30,
.block33 {
  position: absolute;
  box-shadow: -1px -1px 0#e0e0e0 inset;
}
.block30 {
  height: 100%;
  width: 14.29%;
  top: 0;
  right: 42.85%;
  bottom: 0;
  left: 42.86%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block33 {
  right: 28.57%;
  left: 57.14%;
  background-color: var(--blue-50);
}
.block33,
.block36,
.block39 {
  height: 100%;
  width: 14.29%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block36 {
  position: absolute;
  right: 14.28%;
  left: 71.43%;
  box-shadow: -1px -1px 0#e0e0e0 inset;
  background-color: var(--white);
}
.block39 {
  right: 0;
  left: 85.72%;
  box-shadow: 0-1px 0#e0e0e0 inset;
  background-color: var(--gray-50);
}
.block39,
.blocks1,
.time3 {
  position: absolute;
}
.blocks1 {
  height: 100%;
  width: 87.54%;
  top: 23.3%;
  right: 9.08%;
  bottom: -23.3%;
  left: 3.38%;
}
.time3 {
  height: 44.66%;
  width: 5.39%;
  top: 23.18%;
  left: 92.02%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row1 {
  position: absolute;
  height: 8.21%;
  width: 100%;
  top: 15.49%;
  right: 0;
  bottom: 76.3%;
  left: 0;
}
.time5 {
  position: absolute;
  height: 42.72%;
  width: 5.39%;
  top: 24.25%;
  left: 92.02%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row2 {
  position: absolute;
  height: 8.21%;
  width: 100%;
  top: 23.69%;
  right: 0;
  bottom: 68.1%;
  left: 0;
}
.time7 {
  position: absolute;
  height: 44.66%;
  width: 5.39%;
  top: 23.37%;
  left: 92.02%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row3 {
  position: absolute;
  height: 8.21%;
  width: 100%;
  top: 31.89%;
  right: 0;
  bottom: 59.9%;
  left: 0;
}
.time9 {
  position: absolute;
  height: 44.66%;
  width: 5.39%;
  top: 22.49%;
  left: 92.02%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row4 {
  position: absolute;
  height: 8.21%;
  width: 100%;
  top: 40.09%;
  right: 0;
  bottom: 51.7%;
  left: 0;
}
.time11 {
  position: absolute;
  height: 44.66%;
  width: 5.39%;
  top: 23.56%;
  left: 92.02%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row5 {
  position: absolute;
  height: 8.21%;
  width: 100%;
  top: 48.29%;
  right: 0;
  bottom: 43.5%;
  left: 0;
}
.time13 {
  position: absolute;
  height: 44.66%;
  width: 5.39%;
  top: 22.68%;
  left: 92.02%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row6 {
  position: absolute;
  height: 8.21%;
  width: 100%;
  top: 56.49%;
  right: 0;
  bottom: 35.3%;
  left: 0;
}
.bar,
.end {
  position: relative;
}
.bar {
  align-self: stretch;
  width: 3px;
  background-color: #16d03b;
}
.end {
  line-height: 16px;
  font-weight: 500;
}
.video-camera-icon {
  width: 8px;
  position: relative;
  height: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.video-camera-wrapper {
  border-radius: var(--br-81xl);
  background-color: var(--color-limegreen-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs);
}
.end1,
.time15 {
  align-self: stretch;
}
.time15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.end1 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.body,
.event {
  border-radius: var(--br-9xs);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.body {
  flex: 1;
  height: 68px;
  flex-direction: column;
  padding: var(--padding-7xs);
  box-sizing: border-box;
}
.event {
  width: 89.6px;
  background-color: rgba(86, 245, 102, 0.28);
  height: 48.6px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
}
.block165 {
  align-self: stretch;
  box-shadow: 0-1px 0#f7f7f7 inset;
  background-color: var(--blue-50);
  height: 36px;
}
.block162,
.block163,
.block164,
.block165 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block164 {
  width: 90.6px;
  box-shadow: -1px -1px 0#e0e0e0 inset;
  background-color: var(--blue-50);
  height: 51.5px;
}
.block162,
.block163 {
  background-color: var(--white);
}
.block163 {
  align-self: stretch;
  box-shadow: 0-1px 0#f7f7f7 inset;
  height: 36px;
}
.block162 {
  position: absolute;
  height: 93.2%;
  width: 14.35%;
  top: 0.45%;
  right: 14.21%;
  bottom: 6.35%;
  left: 71.44%;
  box-shadow: -1px -1px 0#e0e0e0 inset;
}
.blocks7 {
  position: absolute;
  height: 100%;
  width: 87.54%;
  top: 23.3%;
  right: 9.08%;
  bottom: -23.3%;
  left: 3.38%;
  color: var(--color-limegreen-100);
}
.time16 {
  position: absolute;
  height: 44.66%;
  width: 5.39%;
  top: 23.75%;
  left: 92.02%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row7 {
  position: absolute;
  height: 8.21%;
  width: 100%;
  top: 64.69%;
  right: 0;
  bottom: 27.1%;
  left: 0;
}
.time18 {
  position: absolute;
  height: 44.66%;
  width: 5.39%;
  top: 22.87%;
  left: 92.02%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row8 {
  position: absolute;
  height: 8.21%;
  width: 100%;
  top: 72.9%;
  right: 0;
  bottom: 18.9%;
  left: 0;
}
.block204,
.block205,
.block206 {
  position: absolute;
  left: 0.47px;
  background-color: var(--gray-50);
  width: 90px;
  height: 36px;
}
.block205 {
  top: 0.33px;
  box-shadow: 0-1px 0#f7f7f7 inset;
}
.block204,
.block206 {
  top: 36.33px;
}
.block204 {
  height: 100%;
  width: 14.29%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 85.72%;
  box-shadow: 0-1px 0#e0e0e0 inset;
}
.time20 {
  position: absolute;
  height: 44.66%;
  width: 5.39%;
  top: 23.94%;
  left: 92.02%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row9 {
  position: absolute;
  height: 8.21%;
  width: 100%;
  top: 81.1%;
  right: 0;
  bottom: 10.7%;
  left: 0;
}
.bar1 {
  align-self: stretch;
  width: 3px;
  position: relative;
  background-color: var(--lightblue-500);
}
.event1,
.video-camera-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.video-camera-container {
  border-radius: var(--br-81xl);
  background-color: var(--lightblue-700);
  padding: var(--padding-11xs);
}
.event1 {
  position: absolute;
  height: 95.15%;
  width: 42.88%;
  top: -25.48%;
  right: 42.81%;
  bottom: 30.34%;
  left: 14.31%;
  border-radius: var(--br-9xs);
  background-color: var(--color-deepskyblue-100);
  overflow: hidden;
}
.blocks10 {
  position: absolute;
  height: 100%;
  width: 87.54%;
  top: 23.3%;
  right: 9.08%;
  bottom: -23.3%;
  left: 3.38%;
  color: var(--lightblue-700);
}
.time23 {
  position: absolute;
  height: 44.66%;
  width: 5.39%;
  top: 23.06%;
  left: 92.02%;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hour-row10,
.inner-stack {
  position: absolute;
  height: 8.21%;
  width: 100%;
  top: 89.3%;
  right: 0;
  bottom: 2.49%;
  left: 0;
}
.inner-stack {
  height: 97.12%;
  width: 101.4%;
  top: 6.64%;
  right: -2.81%;
  bottom: -3.76%;
  left: 1.4%;
}
.calendar-base,
.event2 {
  position: absolute;
  height: 81.67%;
  width: 95.74%;
  top: 8.72%;
  right: 2.04%;
  bottom: 9.61%;
  left: 2.22%;
}
.event2 {
  height: 19.1%;
  width: 19.84%;
  top: 20.22%;
  right: 80.16%;
  bottom: 60.67%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-deepskyblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bar3 {
  align-self: stretch;
  width: 3px;
  position: relative;
  background-color: var(--violet-500);
}
.event3,
.event4,
.event5,
.frame-div {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  border-radius: var(--br-81xl);
  background-color: var(--lightblue-700);
  display: none;
  padding: var(--padding-11xs);
}
.event3,
.event4,
.event5 {
  position: absolute;
  width: 19.84%;
  right: 80.16%;
  left: 0;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
}
.event3 {
  height: 39.31%;
  top: 40.45%;
  bottom: 20.24%;
  background-color: rgba(97, 93, 106, 0.1);
  color: var(--violet-700);
}
.event4,
.event5 {
  height: 19.1%;
  top: 80.9%;
  bottom: 0;
  background-color: var(--color-deepskyblue-100);
}
.event5 {
  right: 19.97%;
  left: 60.19%;
}
.bar6 {
  align-self: stretch;
  width: 3px;
  position: relative;
  background-color: var(--emerald-500);
}
.event6,
.event7,
.event8 {
  position: absolute;
  height: 19.1%;
  top: 0;
  bottom: 80.9%;
  border-radius: var(--br-9xs);
  overflow: hidden;
}
.event6 {
  width: 9.85%;
  right: 60.19%;
  left: 29.96%;
  background-color: rgba(16, 185, 129, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--emerald-700);
}
.event7,
.event8 {
  width: 19.84%;
  background-color: var(--color-deepskyblue-100);
}
.event7 {
  right: 40.08%;
  left: 40.08%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.event8 {
  right: -0.01%;
  left: 80.17%;
}
.event10,
.event8,
.event9,
.video-camera-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.video-camera-wrapper6 {
  border-radius: var(--br-81xl);
  background-color: var(--violet-700);
  padding: var(--padding-11xs);
}
.event10,
.event9 {
  position: absolute;
  height: 19.1%;
  width: 19.84%;
  top: 40.45%;
  right: 40.08%;
  bottom: 40.45%;
  left: 40.08%;
  border-radius: var(--br-9xs);
  background-color: var(--color-mediumslateblue-100);
  overflow: hidden;
  color: var(--violet-700);
}
.event10 {
  top: 20.22%;
  right: 19.97%;
  bottom: 60.67%;
  left: 60.19%;
}
.event-parent {
  position: absolute;
  height: 32.16%;
  width: 60.55%;
  top: 32.81%;
  right: 20.42%;
  bottom: 35.03%;
  left: 19.03%;
  color: var(--lightblue-700);
}
.rectangle-parent {
  position: absolute;
  top: 156px;
  left: 284px;
  width: 1073px;
  height: 791px;
  cursor: pointer;
  color: var(--gray-500);
  font-family: var(--text-sm-medium);
}
.calendar1,
.event11 {
  position: absolute;
  display: flex;
}
.calendar1 {
  top: 176px;
  left: 303px;
  font-size: 36px;
  color: #333;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 179px;
  height: 36px;
}
.event11 {
  top: 773.22px;
  left: 618.04px;
  border-radius: var(--br-9xs);
  background-color: var(--color-deepskyblue-100);
  width: 650px;
  height: 49px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--lightblue-700);
  font-family: var(--text-sm-medium);
}
.component-10-icon {
  position: absolute;
  top: 0;
  left: 1371px;
  width: 69px;
  height: 1024px;
}
.instance-child {
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--white);
}
.frame-child,
.frame-item,
.instance-child,
.left-barcalendar-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child,
.frame-item {
  background-color: var(--color-aliceblue-100);
}
.frame-item {
  width: 2.22%;
  right: 97.78%;
  background-color: var(--color-royalblue);
}
.rectangle-group {
  position: absolute;
  top: calc(50% - 30.5px);
  left: calc(50% - 135px);
  width: 270px;
  height: 61px;
}
.calendar3,
.group-icon {
  position: absolute;
  top: 0;
  left: 29.69%;
}
.group-icon {
  height: 91.85%;
  width: 19.3%;
  top: 3.7%;
  right: 80.7%;
  bottom: 4.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calendar-parent {
  position: absolute;
  top: 17px;
  left: 71px;
  width: 128px;
  height: 27px;
}
.calendar2 {
  position: absolute;
  top: calc(50% - 74px);
  left: calc(50% - 135px);
  width: 270px;
  height: 61px;
  cursor: pointer;
  color: var(--color-royalblue);
}
.home1,
.iconlyboldhome {
  position: absolute;
  top: 0;
  left: 39.39%;
}
.iconlyboldhome {
  height: 97.41%;
  width: 25.25%;
  right: 74.75%;
  bottom: 2.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home {
  position: absolute;
  height: 2.64%;
  width: 36.67%;
  top: 21.19%;
  right: 37.04%;
  bottom: 76.17%;
  left: 26.3%;
  cursor: pointer;
}
.bookmarks,
.history1,
.vector-icon {
  position: absolute;
  height: 100%;
  top: 0;
}
.history1 {
  width: 100%;
  left: 0;
  display: inline-block;
  cursor: pointer;
}
.bookmarks,
.vector-icon {
  bottom: 0;
}
.bookmarks {
  width: 66.96%;
  right: 0;
  left: 33.04%;
  cursor: pointer;
}
.vector-icon {
  width: 24.35%;
  right: 75.65%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.history {
  position: absolute;
  top: 528px;
  left: 71px;
  width: 115px;
  height: 27px;
}
.messages1 {
  position: absolute;
  top: 0;
  left: 22.62%;
  cursor: pointer;
}
.iconlylight-outlinechat {
  position: absolute;
  height: 100%;
  width: 16.07%;
  top: 0;
  right: 83.93%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.group-item {
  position: absolute;
  top: 0;
}
.group-item {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.b {
  height: 95.45%;
  width: 42.27%;
  left: 27.27%;
  display: inline-block;
}
.ellipse-parent {
  position: absolute;
  height: 81.48%;
  width: 13.1%;
  top: 11.11%;
  right: 0;
  bottom: 7.41%;
  left: 86.9%;
  font-size: 15.56px;
  color: var(--white);
}
.messages,
.settings1 {
  position: absolute;
  cursor: pointer;
}
.messages {
  height: 2.64%;
  width: 62.22%;
  top: 58.5%;
  right: 11.48%;
  bottom: 38.87%;
  left: 26.3%;
}
.settings1 {
  top: 0;
  left: 31.93%;
}
.iconlylight-outlinesetting {
  position: absolute;
  height: 95.56%;
  width: 20.17%;
  top: 3.7%;
  right: 79.83%;
  bottom: 0.74%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.settings,
.sign-out1 {
  position: absolute;
  cursor: pointer;
}
.settings {
  height: 2.64%;
  width: 44.07%;
  top: 65.53%;
  right: 29.63%;
  bottom: 31.84%;
  left: 26.3%;
}
.sign-out1 {
  top: 0;
  left: 28.57%;
}
.iconlylight-outlinelogout {
  position: absolute;
  height: 86.67%;
  width: 20.17%;
  top: 7.41%;
  right: 79.83%;
  bottom: 5.93%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sign-out {
  position: absolute;
  height: 2.64%;
  width: 44.07%;
  top: 91.99%;
  right: 28.15%;
  bottom: 5.37%;
  left: 27.78%;
  color: var(--color-indianred);
}
.logo-child {
  position: absolute;
  height: 100%;
  width: 31.12%;
  top: 0;
  right: 68.88%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.edu {
  color: var(--color-dodgerblue);
}
.kpi-edu,
.logo {
  position: absolute;
}
.kpi-edu {
  height: 72.22%;
  width: 62.24%;
  top: 16.67%;
  left: 37.78%;
  display: inline-block;
}
.logo {
  height: 3.52%;
  width: 49.63%;
  top: 4.1%;
  right: 25.19%;
  bottom: 92.38%;
  left: 25.19%;
  font-size: 22.66px;
  color: var(--color-orange);
  font-family: var(--font-ubuntu);
}
.classes-wrapper,
.kpi {
  position: absolute;
  top: 0;
  left: 0;
}
.classes-wrapper {
  height: 100%;
  width: 54.22%;
  right: 0;
  bottom: 0;
  left: 45.78%;
  cursor: pointer;
}
.iconlylight-outline3-user {
  position: absolute;
  height: 84.81%;
  width: 30.72%;
  top: 11.11%;
  right: 69.28%;
  bottom: 4.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent,
.plan {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 27px;
}
.plan {
  top: 306px;
  left: 71px;
  cursor: pointer;
}
.carbonsummary-kpi-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.kpi1 {
  position: absolute;
  top: 0;
  left: 38px;
}
.carbonsummary-kpi-parent,
.documents {
  position: absolute;
  top: 0;
  left: 0;
  width: 71px;
  height: 32px;
}
.documents {
  top: 378px;
  left: 71px;
  cursor: pointer;
}
.left-bar-calendar,
.left-barcalendar {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 1024px;
}
.left-bar-calendar {
  font-size: var(--font-size-xl);
}
.calendar {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-xs-regular-size);
  color: var(--color-gray-100);
  font-family: var(--font-open-sans);
}
