body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --m3-label-large: Roboto;
  --font-open-sans: "Open Sans";
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-ubuntu: Ubuntu;

  /* font sizes */
  --m3-label-large-size: 14px;
  --font-size-9xs: 4px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-5xs: 8px;
  --font-size-smi: 13px;
  --font-size-base-5: 16.5px;
  --font-size-3xl-7: 22.7px;
  --font-size-base-6: 15.6px;

  /* Colors */
  --color-aliceblue: #f0f7ff;
  --background-paper-elevation-0: #fff;
  --color-black: #000;
  --color-gray-100: #8a8a8a;
  --color-gray-200: #878689;
  --color-gray-300: #222;
  --color-gray-400: rgba(255, 255, 255, 0);
  --text-primary: rgba(0, 0, 0, 0.87);
  --color-royalblue: #0077ff;
  --schemes-primary: #006874;
  --color-darkslategray-100: #444;
  --light-primary: #333;
  --color-darkgray: #9f9f9f;
  --color-gold: #ffd600;
  --light-secondary: #666;
  --color-whitesmoke: #e9e9e9;
  --color-dodgerblue: #5285f2;
  --color-orange: #ff9900;
  --color-indianred: #e55858;
  --color-silver: #bdbdbd;

  /* Gaps */
  --gap-5xs: 8px;

  /* Paddings */
  --padding-base: 16px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-6xs: 7px;
  --br-7xs: 6px;
  --br-3xs: 10px;
  --br-31xl: 50px;
}
