body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

.language-selector {
    font-size: 12px;
    color: #666666;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.social-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ffffff;
}

.social-button img {
    width: 20px;
    margin-right: 10px;
}

.facebook {
    color: #3b5998;
    border-color: #3b5998;
}

.google {
    color: #db4a39;
    border-color: #db4a39;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    align-self: flex-start;
    margin-bottom: 5px;
    color: #666666;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

.password-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    white-space: nowrap; /* Ngăn ngắt dòng */
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    margin-left: 5px;
    font-size: 14px;
    color: #666666;
    white-space: nowrap; /* Ngăn ngắt dòng */
}

.forgot-password {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    white-space: nowrap; /* Ngăn ngắt dòng */
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
