.search-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--theme-colors-ui-contrast);
  width: 438px;
  height: 50px;
}
.search-task-documents {
  position: absolute;
  top: 2px;
  left: 34px;
  font-weight: 600;
}
.iconlylight-outlinesearch {
  position: absolute;
  height: 100%;
  width: 8.05%;
  top: 0;
  right: 91.95%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search,
.search-task-documents-activi-parent {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 298px;
  height: 24.5px;
}
.search {
  top: 43px;
  left: 292px;
  width: 438px;
  height: 50px;
}
.icon-trash-bin,
.toggle-icon {
  position: absolute;
  top: 53px;
  left: 842px;
  width: 127px;
  height: 29.8px;
}
.icon-trash-bin {
  height: 1.94%;
  width: 1.38%;
  top: 67.77%;
  right: 35.42%;
  bottom: 30.28%;
  left: 63.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layout-container {
  position: absolute;
  top: 157px;
  left: 329px;
  border-radius: var(--radius-md);
  background: linear-gradient(
      rgba(255, 255, 255, 0.97),
      rgba(255, 255, 255, 0.97)
    ),
    #153f52;
  width: 666px;
  height: 793px;
  overflow-y: auto;
}
.component-3mingcutearow-to-r-icon {
  position: absolute;
  top: 25px;
  left: 1353px;
  width: 60px;
  height: 58px;
}
.instance-child {
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--theme-colors-ui-contrast);
}
.instance-child,
.left-barmessages-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.calendar1,
.group-icon {
  position: absolute;
  top: 0;
  left: 29.69%;
}
.group-icon {
  height: 91.85%;
  width: 19.3%;
  top: 3.7%;
  right: 80.7%;
  bottom: 4.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calendar,
.calendar-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 27px;
}
.calendar {
  top: 455px;
  left: 71px;
  cursor: pointer;
}
.home1,
.iconlyboldhome {
  position: absolute;
  top: 0;
  left: 39.39%;
}
.iconlyboldhome {
  height: 97.41%;
  width: 25.25%;
  right: 74.75%;
  bottom: 2.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home {
  position: absolute;
  height: 2.64%;
  width: 36.67%;
  top: 21.19%;
  right: 37.04%;
  bottom: 76.17%;
  left: 26.3%;
  cursor: pointer;
}
.bookmarks,
.history1,
.vector-icon {
  position: absolute;
  height: 100%;
  top: 0;
}
.history1 {
  width: 100%;
  left: 0;
  display: inline-block;
  cursor: pointer;
}
.bookmarks,
.vector-icon {
  bottom: 0;
}
.bookmarks {
  width: 66.96%;
  right: 0;
  left: 33.04%;
  cursor: pointer;
}
.vector-icon {
  width: 24.35%;
  right: 75.65%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.history {
  position: absolute;
  top: 528px;
  left: 71px;
  width: 115px;
  height: 27px;
}
.frame-child,
.frame-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-aliceblue-100);
}
.frame-item {
  width: 2.22%;
  right: 97.78%;
  background-color: var(--color-royalblue);
}
.messages2 {
  position: absolute;
  top: 26.23%;
  left: 40.37%;
  cursor: pointer;
}
.iconlylight-outlinechat {
  position: absolute;
  height: 44.26%;
  width: 10%;
  top: 26.23%;
  right: 63.7%;
  bottom: 29.51%;
  left: 26.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.group-child {
  position: absolute;
  top: 0;
}
.group-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.b {
  height: 95.45%;
  width: 42.27%;
  left: 27.27%;
  display: inline-block;
}
.ellipse-parent {
  position: absolute;
  height: 36.07%;
  width: 8.15%;
  top: 31.15%;
  right: 11.48%;
  bottom: 32.79%;
  left: 80.37%;
  font-size: 15.56px;
  color: var(--theme-colors-ui-contrast);
}
.messages1,
.settings1 {
  position: absolute;
  cursor: pointer;
}
.messages1 {
  height: 5.96%;
  width: 100%;
  top: 56.93%;
  right: 0;
  bottom: 37.11%;
  left: 0;
  color: var(--color-royalblue);
}
.settings1 {
  top: 0;
  left: 31.93%;
}
.iconlylight-outlinesetting {
  position: absolute;
  height: 95.56%;
  width: 20.17%;
  top: 3.7%;
  right: 79.83%;
  bottom: 0.74%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.settings,
.sign-out1 {
  position: absolute;
  cursor: pointer;
}
.settings {
  height: 2.64%;
  width: 44.07%;
  top: 65.53%;
  right: 29.63%;
  bottom: 31.84%;
  left: 26.3%;
}
.sign-out1 {
  top: 0;
  left: 28.57%;
}
.iconlylight-outlinelogout {
  position: absolute;
  height: 86.67%;
  width: 20.17%;
  top: 7.41%;
  right: 79.83%;
  bottom: 5.93%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sign-out {
  position: absolute;
  height: 2.64%;
  width: 44.07%;
  top: 91.99%;
  right: 28.15%;
  bottom: 5.37%;
  left: 27.78%;
  color: var(--color-indianred);
}
.logo-child {
  position: absolute;
  height: 100%;
  width: 31.12%;
  top: 0;
  right: 68.88%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.edu {
  color: var(--color-dodgerblue);
}
.kpi-edu,
.logo {
  position: absolute;
}
.kpi-edu {
  height: 72.22%;
  width: 62.24%;
  top: 16.67%;
  left: 37.78%;
  display: inline-block;
}
.logo {
  height: 3.52%;
  width: 49.63%;
  top: 4.1%;
  right: 25.19%;
  bottom: 92.38%;
  left: 25.19%;
  font-size: 22.66px;
  color: var(--color-orange);
  font-family: var(--font-ubuntu);
}
.classes-wrapper,
.kpi {
  position: absolute;
  top: 0;
  left: 0;
}
.classes-wrapper {
  height: 100%;
  width: 54.22%;
  right: 0;
  bottom: 0;
  left: 45.78%;
  cursor: pointer;
}
.iconlylight-outline3-user {
  position: absolute;
  height: 84.81%;
  width: 30.72%;
  top: 11.11%;
  right: 69.28%;
  bottom: 4.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent,
.plan {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 27px;
}
.plan {
  top: 306px;
  left: 71px;
  cursor: pointer;
}
.carbonsummary-kpi-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.kpi1 {
  position: absolute;
  top: 0;
  left: 38px;
}
.carbonsummary-kpi-parent,
.documents {
  position: absolute;
  top: 0;
  left: 0;
  width: 71px;
  height: 32px;
}
.documents {
  top: 378px;
  left: 71px;
  cursor: pointer;
}
.left-barmessages,
.left-barmessages-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 1024px;
}
.left-barmessages-wrapper {
  background-color: var(--color-gray-200);
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.instance-item {
  position: absolute;
  top: 0;
  left: 5px;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--theme-colors-ui-contrast);
  width: 382px;
  height: 1024px;
}
.vector-2-stroke {
  position: absolute;
  height: 31.94%;
  width: 10.9%;
  top: 49.12%;
  right: -0.01%;
  bottom: 18.94%;
  left: 89.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.july-2024 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111.1px;
  height: 21.6px;
}
.month-selector {
  position: absolute;
  height: 7.3%;
  width: 31.7%;
  top: 0.36%;
  right: 4.22%;
  bottom: 92.34%;
  left: 64.08%;
}
.weekdays-weeks-child {
  position: absolute;
  top: 74px;
  left: 171.31px;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke-200);
  width: 38px;
  height: 38px;
}
.mo,
.tu {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mo {
  position: absolute;
  top: 0;
  left: 0;
  width: 25.5px;
  height: 20px;
}
.tu {
  left: 48.17px;
  width: 20px;
}
.th,
.tu,
.we {
  position: absolute;
  top: 0;
  height: 20px;
}
.we {
  left: 90.83px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25.5px;
}
.th {
  left: 139px;
  width: 21.3px;
}
.fr,
.sa,
.th {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fr {
  position: absolute;
  top: 0;
  left: 182.35px;
  width: 16.5px;
  height: 20px;
}
.sa {
  left: 220.88px;
  width: 20.6px;
}
.sa,
.su,
.weekdays {
  position: absolute;
  top: 0;
  height: 20px;
}
.su {
  left: 263.54px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.6px;
}
.weekdays {
  left: 0;
  width: 284.2px;
  color: var(--light-primary);
}
.div,
.div1 {
  display: none;
}
.div {
  position: absolute;
  top: 0;
  left: -136.93px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 8.3px;
  height: 20px;
}
.div1 {
  left: -92.21px;
  width: 10.3px;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  position: absolute;
  top: 0;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.div2 {
  left: -47.48px;
  display: none;
  width: 11px;
}
.div3,
.div4,
.div5,
.div6 {
  left: 0;
  display: flex;
  width: 8.3px;
}
.div4,
.div5,
.div6 {
  left: 40.6px;
  width: 10.3px;
}
.div5,
.div6 {
  left: 80.51px;
  width: 11px;
}
.div6 {
  left: 123.17px;
}
.div7,
.div8,
.div9,
.week-01 {
  position: absolute;
  top: 41.97px;
  left: 145.19px;
  width: 134.2px;
  height: 20px;
}
.div7,
.div8,
.div9 {
  top: 9.63px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.3px;
}
.div8,
.div9 {
  left: 44.73px;
  width: 11px;
}
.div9 {
  left: 90.83px;
  width: 9.6px;
}
.current-day-icon {
  position: absolute;
  top: 0;
  left: 164.21px;
  width: 38.5px;
  height: 38.5px;
}
.div10 {
  position: absolute;
  left: 177.53px;
  width: 11px;
  cursor: pointer;
}
.div10,
.div11,
.div12 {
  top: 9.63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.div11 {
  position: absolute;
  left: 214.69px;
  width: 18.6px;
}
.div12 {
  left: 258.73px;
  width: 15.8px;
}
.div12,
.div13,
.week-02 {
  position: absolute;
}
.div13 {
  top: 9.63px;
  left: 136.24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 20px;
}
.week-02 {
  top: 74.31px;
  left: 7.57px;
  width: 274.6px;
  height: 38.5px;
}
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.6px;
  height: 20px;
}
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 45.41px;
}
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 90.14px;
  width: 19.3px;
}
.div17,
.div18,
.div19,
.div20 {
  left: 136.93px;
  width: 18.6px;
}
.div18,
.div19,
.div20 {
  left: 178.22px;
}
.div19,
.div20 {
  left: 218.82px;
  width: 17.9px;
}
.div20 {
  left: 261.48px;
  width: 18.6px;
}
.week-03 {
  top: 125.92px;
  left: 3.44px;
  width: 280.1px;
}
.div22,
.div23,
.week-03 {
  position: absolute;
  height: 20px;
}
.div22 {
  top: 0;
  left: 44.04px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.3px;
}
.div23 {
  left: 90.83px;
  width: 18.6px;
}
.div23,
.div24,
.div25,
.div26 {
  top: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div24 {
  position: absolute;
  left: 135.56px;
  width: 20.6px;
  height: 20px;
}
.div25,
.div26 {
  width: 21.3px;
}
.div25 {
  position: absolute;
  left: 176.84px;
  height: 20px;
}
.div26 {
  left: 217.44px;
}
.div26,
.div27,
.week-04 {
  position: absolute;
  height: 20px;
}
.div27 {
  top: 0;
  left: 260.1px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.6px;
}
.week-04 {
  top: 167.9px;
  left: 3.44px;
  width: 280.7px;
}
.div28 {
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.6px;
}
.div28,
.div29,
.div30,
.div31 {
  position: absolute;
  height: 20px;
}
.div29 {
  top: 0;
  left: 46.1px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}
.div30,
.div31 {
  width: 20.6px;
}
.div30 {
  top: 0;
  left: 90.83px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div31 {
  left: 136.93px;
}
.div31,
.div32,
.div33 {
  top: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div32 {
  position: absolute;
  left: 178.22px;
  width: 21.3px;
  height: 20px;
}
.div33 {
  left: 221.57px;
  width: 18.6px;
}
.b1,
.div33,
.week-05 {
  position: absolute;
  height: 20px;
}
.b1 {
  top: 0;
  left: 261.48px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 22.7px;
}
.week-05 {
  top: 209.87px;
  left: 2.06px;
  width: 240.1px;
}
.weekdays-weeks {
  width: 284.2px;
  position: relative;
  height: 229.8px;
}
.calendar-events {
  position: absolute;
  top: 51.99px;
  left: 0;
  width: 382px;
  height: 244px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--light-secondary);
  font-family: var(--ui-14-regular);
}
.calendar-child,
.calendar-inner,
.calendar-item {
  position: absolute;
  top: 155.71px;
  left: 236.76px;
  width: 4.9px;
  height: 4.2px;
}
.calendar-inner,
.calendar-item {
  top: 156px;
  left: 278px;
  border-radius: 50%;
  background-color: var(--color-gold);
}
.calendar-inner {
  top: 196px;
  left: 196px;
}
.my-calendar {
  position: absolute;
  top: 0;
  left: 39px;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--light-primary);
  text-align: left;
  align-items: center;
  width: 130px;
  height: 21px;
}
.calendar-wrapper {
  position: absolute;
  height: 28.91%;
  width: 98.71%;
  top: 11.62%;
  right: 0;
  bottom: 59.47%;
  left: 1.29%;
  text-align: center;
}
.allura-avatar-icon,
.component-3profile-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.component-3profile-child {
  width: 100%;
  right: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-aliceblue-100);
}
.allura-avatar-icon {
  width: 35.19%;
  right: 64.81%;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.soict {
  position: absolute;
  height: 52.76%;
  width: 38.89%;
  top: 23.71%;
  left: 61.11%;
  letter-spacing: -0.03em;
  display: inline-block;
}
.allura-avatar-parent {
  position: absolute;
  height: 75.9%;
  width: 59.34%;
  top: 12%;
  right: 30.77%;
  bottom: 12.1%;
  left: 9.89%;
}
.icon-chevron-left {
  position: absolute;
  height: 23.9%;
  width: 6.59%;
  top: 42%;
  right: 6.59%;
  bottom: 34.1%;
  left: 86.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.component-3profile {
  position: absolute;
  top: 4px;
  left: 123px;
  width: 182px;
  height: 50.2px;
}
.iconlylight-outlinenotificat {
  position: absolute;
  height: 48.28%;
  width: 6.35%;
  top: 24.14%;
  right: 85.98%;
  bottom: 27.59%;
  left: 7.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-3mingcutearow-to-r-icon1 {
  position: absolute;
  top: -1px;
  left: 318px;
  width: 60px;
  height: 58px;
  cursor: pointer;
}
.material-symbolshelp-outline-icon {
  position: absolute;
  height: 58.62%;
  width: 8.99%;
  top: 18.97%;
  right: 72.22%;
  bottom: 22.41%;
  left: 18.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-3profile-parent,
.this-week {
  position: absolute;
  color: var(--light-primary);
}
.component-3profile-parent {
  top: 39px;
  left: 4px;
  background-color: var(--theme-colors-ui-contrast);
  width: 378px;
  height: 58px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.this-week {
  top: 14px;
  left: 25px;
  font-size: var(--font-size-xl);
  display: flex;
  font-family: var(--font-open-sans);
  align-items: center;
  width: 153.8px;
  height: 21.2px;
}
.checkbox {
  width: 16px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(70, 79, 96, 0.16),
    0 2px 5px rgba(89, 96, 120, 0.1);
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-100);
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.fix-design,
.sales-website-design {
  width: 56px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.sales-website-design {
  width: 113px;
  height: 19px;
}
.april-8-2024 {
  width: 93px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkbox-parent,
.column-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.column-header {
  width: 45px;
  padding: var(--padding-xs) 0;
  font-size: var(--body-sans-serif-desktop-default-body-s-default-size);
  color: var(--black);
}
.checkbox-parent {
  position: absolute;
  top: 57px;
  left: 4px;
  width: 373px;
  height: 49px;
  padding: 0 var(--padding-31xl) 0 var(--padding-3xs);
  gap: var(--gap-6xl);
}
.checkbox1 {
  width: 16px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(70, 79, 96, 0.16),
    0 2px 5px rgba(89, 96, 120, 0.1);
  border-radius: var(--br-9xs);
  background-color: var(--color-skyblue);
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox-group {
  position: absolute;
  top: 192px;
  left: 4px;
  width: 373px;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl) 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-6xl);
}
.code-html {
  width: 56px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  height: 19px;
  flex-shrink: 0;
}
.checkbox-container,
.checkbox-parent1,
.frame-div {
  position: absolute;
  top: 253px;
  left: 4px;
  width: 373px;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl) 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-6xl);
}
.checkbox-parent1,
.frame-div {
  top: 314px;
}
.checkbox-parent1 {
  top: 375px;
}
.checkbox5 {
  width: 16px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(70, 79, 96, 0.16),
    0 2px 5px rgba(89, 96, 120, 0.1);
  border-radius: var(--br-9xs);
  background-color: var(--color-seagreen);
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox-parent2,
.checkbox-parent3 {
  position: absolute;
  top: 436px;
  left: 4px;
  width: 373px;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl) 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-6xl);
}
.checkbox-parent3 {
  top: 497px;
}
.task-21 {
  margin: 0;
}
.checkbox-parent4 {
  position: absolute;
  top: 122px;
  left: 4px;
  width: 373px;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl) 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-6xl);
}
.frame-inner {
  position: absolute;
  top: 179.5px;
  left: 14px;
  width: 349px;
  height: 248px;
}
.scroll-child {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  height: 275px;
}
.scroll,
.scroll-child,
.scroll-inner {
  position: absolute;
  width: 3px;
}
.scroll-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-royalblue);
  height: 92px;
}
.scroll {
  top: 68px;
  left: 373px;
  height: 275px;
}
.see-all {
  position: absolute;
  top: 14px;
  left: 310px;
  font-size: var(--font-size-smi);
  font-family: var(--font-open-sans);
  color: var(--color-royalblue);
  text-align: center;
  cursor: pointer;
}
.this-week-parent {
  position: absolute;
  top: 457px;
  left: 5px;
  background-color: var(--theme-colors-ui-contrast);
  width: 382px;
  height: 567px;
  overflow: hidden;
  font-size: var(--body-sans-serif-desktop-default-body-xs-default-size);
  color: var(--gray-900);
  font-family: var(--ui-14-regular);
}
.rectangle-group {
  position: absolute;
  top: 7px;
  left: 1053px;
  width: 387px;
  height: 1024px;
  overflow: hidden;
  font-size: 16.51px;
}
.custom-icon {
  width: 18px;
  position: relative;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.truncation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing-spacing-xs) var(--spacing-spacing-sm);
  z-index: 0;
}
.breadcrumb-base,
.focus-ring {
  border-radius: var(--radius-xs);
}
.focus-ring {
  width: 126.67%;
  position: absolute;
  margin: 0 !important;
  height: 123.08%;
  top: -15.38%;
  right: -13.33%;
  bottom: -7.69%;
  left: -13.33%;
  border: 4px solid var(--interactive-colors-focus-secondary);
  box-sizing: border-box;
  display: none;
  z-index: 1;
}
.breadcrumb-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.slash {
  width: 12px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  height: 20px;
  flex-shrink: 0;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.avatar-item-icon {
  width: 32px;
  position: relative;
  border-radius: var(--radius-full);
  height: 32px;
}
.supporting-text,
.text {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text {
  font-weight: 500;
}
.supporting-text {
  font-size: var(--body-sans-serif-desktop-default-body-xs-default-size);
  color: var(--theme-colors-text-2);
}
.avatar,
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-spacing-md);
}
.overflow-menu-list-header {
  width: 200px;
  border-bottom: 1px solid var(--theme-colors-border-2);
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing-spacing-lg);
}
.avatar-item-icon1 {
  width: 24px;
  position: relative;
  border-radius: var(--radius-full);
  height: 24px;
  display: none;
}
.circle-dash-icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  display: none;
}
.checkmark100-icon,
.circle-dash-icon,
.option {
  position: relative;
  overflow: hidden;
}
.option {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.checkmark100-icon {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}
.overflow-menu-checkmark {
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.overflow-menu-list-item-base {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-spacing-md) var(--spacing-spacing-xl);
  gap: var(--spacing-spacing-md);
}
.overflow-menu-list-item {
  align-self: stretch;
  background-color: var(--theme-colors-ui-contrast);
  display: flex;
  color: var(--component-specific-button-primary);
}
.command-shortcut,
.key,
.overflow-menu-list-item {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.key {
  display: flex;
  padding: var(--padding-11xs) var(--padding-9xs);
}
.command-shortcut {
  border-radius: var(--br-9xs);
  background: linear-gradient(
      rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-11);
  display: none;
}
.overflow-menu-list-item1,
.overflow-menu-list-item4 {
  background-color: var(--theme-colors-ui-contrast);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.overflow-menu-list-item1 {
  align-self: stretch;
  display: flex;
}
.overflow-menu-list-item4 {
  width: 200px;
  display: none;
}
.overflow-menu,
.overflow-menu-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.overflow-menu-list {
  align-self: stretch;
  padding: var(--spacing-spacing-xs) 0;
  color: var(--theme-colors-text-2);
}
.overflow-menu {
  position: absolute;
  top: 12px;
  left: 0;
  box-shadow: var(--md);
  border-radius: var(--radius-sm);
  background-color: var(--theme-colors-ui-contrast);
  border: 1px solid var(--theme-colors-border-11);
  box-sizing: border-box;
  width: 200px;
}
.breadcrumb-overflow-menu-list {
  width: 1px;
  position: relative;
  height: 1px;
  display: none;
  text-align: left;
  font-size: var(--body-sans-serif-desktop-default-body-s-default-size);
  color: var(--component-specific-button-primary);
}
.breadcrumb-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: var(--body-sans-serif-desktop-default-body-m-default-size);
}
.custom-icon1 {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.text12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-spacing-xs) var(--spacing-spacing-sm);
  gap: var(--spacing-spacing-sm);
  z-index: 0;
}
.focus-ring1 {
  width: 107.34%;
  position: absolute;
  margin: 0 !important;
  height: 133.33%;
  top: -16.67%;
  right: -3.67%;
  bottom: -16.67%;
  left: -3.67%;
  border-radius: var(--radius-xs);
  border: 4px solid var(--interactive-colors-focus-secondary);
  box-sizing: border-box;
  display: none;
  z-index: 1;
}
.slash1 {
  width: 12px;
  position: relative;
  font-size: var(--body-sans-serif-desktop-default-body-m-default-size);
  font-weight: 500;
  text-align: center;
  display: inline-block;
  height: 20px;
  flex-shrink: 0;
}
.breadcrumb-overflow-menu-list1 {
  width: 1px;
  position: relative;
  height: 1px;
  display: none;
  color: var(--component-specific-button-primary);
}
.breadcrumb-item1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.focus-ring2 {
  width: 108.99%;
  position: absolute;
  margin: 0 !important;
  height: 133.33%;
  top: -16.67%;
  right: -4.49%;
  bottom: -16.67%;
  left: -4.49%;
  border-radius: var(--radius-xs);
  border: 4px solid var(--interactive-colors-focus-secondary);
  box-sizing: border-box;
  display: none;
  z-index: 1;
}
.breadcrumb-base3 {
  border-radius: var(--radius-xs);
  background: linear-gradient(
      rgba(255, 255, 255, 0.92),
      rgba(255, 255, 255, 0.92)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-11);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.breadcrumb-overflow-menu-list3 {
  width: 1px;
  position: relative;
  height: 1px;
  display: none;
}
.breadcrumb-item3,
.breadcrumb-item4 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.breadcrumb-item3 {
  display: flex;
  color: var(--component-specific-button-primary);
}
.breadcrumb-item4 {
  display: none;
}
.breadcrumb,
.row {
  flex-direction: row;
  justify-content: flex-start;
}
.breadcrumb {
  display: flex;
  align-items: center;
  gap: var(--spacing-spacing-xs);
}
.row {
  width: 1216px;
  display: none;
  align-items: flex-start;
  padding: var(--boundvariablesdata1) var(--boundvariablesdata) 0;
  box-sizing: border-box;
}
.icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-button-master {
  border-radius: var(--br-7xs) 0 0 var(--br-7xs);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.icon-button {
  width: 30px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.avatar-item-icon104 {
  width: 56px;
  position: relative;
  border-radius: var(--radius-full);
  height: 56px;
  object-fit: cover;
}
.header {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.typo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header1 {
  flex: 1;
  position: relative;
}
.text-and-supporting-text8,
.typo1 {
  display: flex;
  justify-content: flex-start;
}
.typo1 {
  width: 100%;
  flex-direction: row;
  align-items: center;
  max-width: var(--widths-width-lg);
  font-size: var(--body-sans-serif-desktop-default-body-m-default-size);
  color: var(--theme-colors-text-2);
}
.text-and-supporting-text8 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-spacing-xs);
}
.button,
.button-base {
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-base {
  padding: var(--spacing-spacing-md);
}
.button {
  border: 1px solid var(--theme-colors-border-2);
}
.icon-leading {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text103 {
  position: relative;
  font-weight: 500;
}
.button-base2,
.button2,
.button3 {
  border-radius: var(--radius-md);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-base2 {
  display: flex;
  padding: var(--spacing-spacing-md) var(--spacing-spacing-xl);
  gap: var(--gap-5xs);
}
.button2,
.button3 {
  border: 1px solid var(--theme-colors-border-2);
  display: none;
}
.button3 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.92),
      rgba(255, 255, 255, 0.92)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-11);
}
.button4 {
  background-color: var(--component-specific-button-primary);
  display: flex;
  color: var(--theme-colors-text-inverse);
}
.button4,
.button5,
.button6 {
  border-radius: var(--radius-md);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button5 {
  background-color: var(--accent-accent);
  display: none;
  color: var(--accent-on-accent);
}
.button6 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.92),
      rgba(255, 255, 255, 0.92)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-11);
  display: flex;
}
.list-overflow,
.overflow-menu8 {
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.overflow-menu8 {
  width: 200px;
  box-shadow: var(--md);
  border-radius: var(--radius-sm);
  background-color: var(--theme-colors-ui-contrast);
  border: 1px solid var(--theme-colors-border-11);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.list-overflow {
  width: 28px;
  height: 0;
  display: none;
  align-items: flex-end;
  padding: var(--padding-5xs) 0 0;
}
.header-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-spacing-lg);
}
.container,
.content7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-sans-serif-desktop-default-body-s-default-size);
}
.content7 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--boundvariablesdata1) var(--boundvariablesdata);
  gap: var(--spacing-spacing-xl);
  font-size: var(--heading-sans-serif-desktop-default-heading-l-default-size);
  color: var(--component-specific-button-primary);
}
.circle-dash-icon108 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.marker-icon,
.tab-label {
  position: relative;
}
.marker-icon {
  width: 8px;
  height: 8px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.avatar-item-icon118 {
  width: 14px;
  position: relative;
  border-radius: var(--radius-full);
  height: 14px;
  display: none;
}
.content9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--spacing-spacing-xs);
  gap: var(--spacing-spacing-xs);
}
.badge-base {
  display: flex;
  justify-content: center;
  padding: var(--spacing-spacing-xs);
}
.badge,
.badge-base,
.text-overflow {
  flex-direction: row;
  align-items: center;
}
.badge {
  border-radius: var(--radius-2xl);
  background: linear-gradient(
      rgba(255, 255, 255, 0.82),
      rgba(255, 255, 255, 0.82)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-2);
  overflow: hidden;
  display: none;
  justify-content: center;
  text-align: center;
  font-size: var(--body-sans-serif-desktop-default-body-xs-default-size);
}
.text-overflow {
  height: 18px;
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-spacing-md);
}
.tab-base,
.tab-label-padding {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tab-label-padding {
  align-self: stretch;
  flex-direction: row;
  padding: var(--spacing-spacing-lg) var(--spacing-spacing-xl);
}
.tab-base {
  border-radius: var(--radius-sm);
  background: linear-gradient(
      rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)
    ),
    #068ac2;
  flex-direction: column;
}
.badge1,
.tabs-item {
  color: var(--component-specific-button-primary);
}
.tabs-item {
  border-radius: var(--radius-xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.badge1 {
  border-radius: var(--radius-2xl);
  background: linear-gradient(
      rgba(255, 255, 255, 0.82),
      rgba(255, 255, 255, 0.82)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-2);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--body-sans-serif-desktop-default-body-xs-default-size);
}
.tab-base1,
.tabs-item1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tab-base1 {
  border-radius: var(--radius-sm);
  justify-content: flex-start;
}
.tabs-item1 {
  border-radius: var(--radius-xs);
}
.tabs,
.tabs-item1,
.tabs-item4 {
  justify-content: flex-start;
}
.tabs-item4 {
  border-radius: var(--radius-xs);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.tabs {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-spacing-lg);
}
.container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--spacing-spacing-lg) 0;
}
.content8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.page-header,
.page-header-utilities {
  flex-direction: column;
  align-items: flex-start;
}
.page-header-utilities {
  width: 1216px;
  display: none;
  justify-content: center;
  padding: 0 var(--spacing-spacing-4xl);
  box-sizing: border-box;
}
.page-header {
  align-self: stretch;
  background-color: var(--theme-colors-ui-contrast);
  border-bottom: 1px solid var(--theme-colors-border-2);
  display: flex;
  justify-content: flex-start;
  z-index: 2;
}
.divider {
  flex: 1;
  position: relative;
  background-color: var(--theme-colors-border-2);
  height: 1px;
}
.content-divider {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.avatar-base-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-181xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.avatar-online-indicator {
  position: absolute;
  right: -1.5px;
  bottom: -1.5px;
  border-radius: var(--radius-full);
  background-color: var(--system-colors-success-1);
  border: 1.5px solid var(--theme-colors-ui-contrast);
  box-sizing: border-box;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.sub-text {
  position: relative;
  font-size: var(--body-sans-serif-desktop-default-body-xs-default-size);
  color: var(--theme-colors-text-2);
}
.name-and-time {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
}
.file-type,
.page-icon {
  position: absolute;
  width: 80%;
  left: 10%;
}
.page-icon {
  height: 100%;
  top: 0;
  right: 10%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.file-type {
  height: 27.5%;
  top: 57.5%;
  display: inline-block;
}
.file-icon {
  width: 36px;
  position: relative;
  height: 36px;
}
.supporting-text9,
.text129 {
  align-self: stretch;
  position: relative;
}
.text129 {
  font-weight: 500;
}
.supporting-text9 {
  color: var(--theme-colors-text-2);
}
.message-base,
.message-bubble,
.text-and-supporting-text10 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-and-supporting-text10 {
  flex-direction: column;
  text-align: left;
  font-size: var(--body-sans-serif-desktop-default-body-s-default-size);
  color: var(--component-specific-button-primary);
  font-family: var(--body-sans-serif-desktop-default-body-s-default);
}
.message-base,
.message-bubble {
  flex-direction: row;
}
.message-base {
  flex: 1;
  gap: var(--gap-xs);
}
.message-bubble {
  border-radius: var(--radius-sm);
  background: linear-gradient(
      rgba(255, 255, 255, 0.92),
      rgba(255, 255, 255, 0.92)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-11);
  padding: var(--spacing-spacing-lg) var(--spacing-spacing-xl)
    var(--spacing-spacing-xl);
  font-size: 9px;
  color: var(--theme-colors-text-2);
  font-family: var(--ui-14-regular);
}
.emoji-icon {
  width: 16px;
  position: relative;
  height: 16px;
  object-fit: cover;
}
.label {
  width: 62px;
  position: relative;
  display: none;
}
.message-reaction {
  border-radius: var(--br-base);
  background: linear-gradient(
      rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-11);
  box-sizing: border-box;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  gap: var(--gap-9xs);
  mix-blend-mode: normal;
}
.chat-icon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.row2 {
  width: 316px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-9xs);
}
.content17,
.message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content17 {
  width: 316px;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.message {
  flex-direction: row;
  gap: var(--gap-xs);
  max-width: var(--widths-width-md);
}
.row1 {
  text-align: center;
}
.message-base1,
.message-bubble1,
.row1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.message-base1 {
  flex: 1;
}
.message-bubble1 {
  border-radius: 0 var(--radius-sm) var(--radius-sm) var(--radius-sm);
  background: linear-gradient(
      rgba(255, 255, 255, 0.92),
      rgba(255, 255, 255, 0.92)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-11);
  padding: var(--spacing-spacing-lg) var(--spacing-spacing-xl)
    var(--spacing-spacing-xl);
}
.message-reaction3,
.row4 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.message-reaction3 {
  border-radius: var(--br-base);
  background: linear-gradient(
      rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-11);
  box-sizing: border-box;
  height: 24px;
  display: none;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  mix-blend-mode: normal;
}
.row4 {
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.content18,
.message-bubble2,
.message1,
.row3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content18 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.message-bubble2,
.message1,
.row3 {
  flex-direction: row;
}
.message1 {
  width: 560px;
  gap: var(--gap-xs);
  max-width: var(--widths-width-md);
}
.message-bubble2,
.row3 {
  align-self: stretch;
}
.message-bubble2 {
  border-radius: var(--radius-sm) 0 var(--radius-sm) var(--radius-sm);
  background: linear-gradient(
      rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)
    ),
    #068ac2;
  overflow: hidden;
  align-items: center;
  padding: var(--spacing-spacing-lg) var(--spacing-spacing-xl)
    var(--spacing-spacing-xl);
}
.message3,
.row5,
.row6,
.section {
  flex-direction: row;
  justify-content: flex-end;
}
.row6 {
  width: 360px;
  display: none;
  align-items: center;
  gap: var(--gap-9xs);
  text-align: center;
}
.message3,
.row5,
.section {
  display: flex;
  align-items: flex-start;
}
.message3 {
  width: 330px;
  max-width: var(--widths-width-md);
}
.row5,
.section {
  align-self: stretch;
}
.section {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
}
.row8 {
  width: 316px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-9xs);
  text-align: center;
}
.loading-dot {
  width: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--component-specific-button-primary);
  height: 4px;
}
.dot {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.loading-dot1 {
  width: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--theme-colors-text-2);
  height: 4px;
}
.dot1,
.dot2 {
  height: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.dot2 {
  align-items: flex-end;
}
.content22,
.message-base4,
.message-bubble4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.content22 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-9xs);
}
.message-base4,
.message-bubble4 {
  align-items: flex-start;
}
.message-bubble4 {
  border-radius: 0 var(--radius-sm) var(--radius-sm) var(--radius-sm);
  background: linear-gradient(
      rgba(255, 255, 255, 0.92),
      rgba(255, 255, 255, 0.92)
    ),
    #153f52;
  border: 1px solid var(--theme-colors-border-11);
  padding: var(--padding-3xs) var(--padding-xs);
}
.message-group,
.wrap {
  align-self: stretch;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.message-group {
  flex-shrink: 0;
  padding: 0 var(--container-container-padding)
    var(--container-container-padding);
  gap: 24px;
}
.wrap {
  flex: 1;
  z-index: 1;
  text-align: center;
  color: var(--component-specific-button-primary);
}
.hold-icon {
  width: 5px;
  position: absolute;
  margin: 0 !important;
  right: 4px;
  bottom: 4px;
  height: 5px;
  display: none;
  z-index: 0;
}
.action-button,
.action-button-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.action-button-base {
  overflow: hidden;
  padding: var(--spacing-spacing-sm);
  z-index: 1;
}
.action-button {
  border-radius: var(--radius-xs);
  position: relative;
}
.label-text {
  width: 288px;
  position: relative;
  display: none;
}
.text135 {
  flex: 1;
  position: relative;
  display: inline-block;
  height: 18px;
}
.text-overflow8 {
  flex: 1;
  height: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.fill {
  position: absolute;
  height: 62.5%;
  width: 50%;
  top: 18.75%;
  right: 25%;
  bottom: 18.75%;
  left: 25%;
  background-color: var(--theme-colors-icon-inverse);
}
.warning-filled-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.status-icon {
  width: 16px;
  position: relative;
  height: 16px;
}
.fill1 {
  position: absolute;
  height: 56.25%;
  width: 25%;
  top: 31.25%;
  right: 37.5%;
  bottom: 12.5%;
  left: 37.5%;
  background-color: var(--theme-colors-icon-inverse);
}
.container2,
.icon11 {
  flex-direction: row;
  justify-content: flex-start;
}
.icon11 {
  display: none;
  align-items: flex-start;
  padding: var(--padding-12xs) 0;
}
.container2 {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 var(--padding-sm) 0 0;
  gap: var(--gap-base);
  z-index: 0;
}
.focus-ring8 {
  width: 101.63%;
  position: absolute;
  margin: 0 !important;
  height: 125%;
  top: -12.5%;
  right: -0.81%;
  bottom: -12.5%;
  left: -0.81%;
  border-radius: var(--br-7xs);
  border: 4px solid var(--interactive-colors-focus-primary);
  box-sizing: border-box;
  display: none;
  z-index: 1;
}
.action-button-base1,
.action-button1 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.action-button-base1 {
  overflow: hidden;
  display: flex;
  padding: var(--padding-7xs);
  z-index: 1;
}
.action-button1 {
  border-radius: var(--br-9xs);
  display: none;
  position: relative;
  z-index: 2;
}
.label-input,
.text-input-field {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.text-input-field {
  border-radius: var(--br-7xs);
  height: 32px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-11xs) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-11xs);
  font-size: var(--body-sans-serif-desktop-default-body-s-default-size);
  color: var(--theme-colors-text-placeholder);
}
.label-input {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-family: var(--body-sans-serif-desktop-default-body-s-default);
}
.error-text,
.helper-text,
.warning-text {
  width: 288px;
  position: relative;
  color: var(--theme-colors-text-hint);
  display: none;
}
.error-text,
.warning-text {
  color: var(--theme-colors-text-error);
}
.warning-text {
  color: var(--theme-colors-text-1);
}
.text-input,
.text-input-base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-input-base {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.text-input {
  flex: 1;
}
.hold-icon3 {
  width: 5px;
  position: absolute;
  margin: 0 !important;
  right: 4px;
  bottom: 4px;
  height: 5px;
  z-index: 0;
}
.action-button3,
.action-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.action-button3 {
  border-radius: var(--radius-xs);
  background-color: var(--component-specific-button-primary);
  position: relative;
}
.action-group {
  align-self: stretch;
  border-radius: var(--radius-sm);
  background-color: var(--theme-colors-ui-contrast);
  border: 1px solid var(--theme-colors-border-2);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-9xs);
}
.chat-bar {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.chat,
.chat-bar,
.message-input {
  display: flex;
  justify-content: flex-start;
}
.message-input {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--container-container-padding-sm)
    var(--container-container-padding);
  z-index: 0;
  font-size: var(--body-sans-serif-desktop-default-body-xs-default-size);
  font-family: var(--body-sans-serif-desktop-default-body-s-default1);
}
.chat {
  position: absolute;
  top: 157px;
  left: 329px;
  background-color: var(--theme-colors-ui-contrast);
  width: 666px;
  height: 793px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  font-size: var(--body-sans-serif-desktop-default-body-s-default-size);
  color: var(--theme-colors-text-2);
  font-family: var(--body-sans-serif-desktop-default-body-s-default);
}
.messages {
  width: 100%;
  position: relative;
  background-color: var(--color-aliceblue-100);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
  font-family: var(--font-open-sans);
}
.kpi-management-software,
.the-kpi-management {
  position: absolute;
  top: 30px;
  left: 840px;
  letter-spacing: -0.03em;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.the-kpi-management {
  top: 74px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 709px;
}
.managing-plans {
  margin: 0;
}
.go-to-the {
  margin-bottom: 0;
}
.go-to-the-plans-page-click {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.managing-plans-creating-container {
  position: absolute;
  top: 125px;
  left: 842px;
  font-size: var(--body-sans-serif-desktop-default-body-xs-default-size);
  letter-spacing: -0.03em;
  display: inline-block;
  width: 826px;
  height: 797px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.kpi-management-software-user-g-parent {
  width: 855px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--theme-colors-ui-contrast);
  height: 922px;
  overflow: hidden;
  transform: rotate(180deg);
  transform-origin: 0 0;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 24px;
  color: var(--black);
  font-family: var(--font-open-sans);
}
.new,
.notification {
  position: absolute;
  top: 32px;
  left: 130px;
  font-size: var(--font-size-xl);
  display: flex;
  font-family: var(--font-open-sans);
  color: var(--black);
  align-items: center;
  width: 124px;
  height: 41px;
}
.new {
  top: 88px;
  left: 26px;
  width: 58px;
  height: 22px;
}
.frame-child1 {
  position: absolute;
  height: 46.15%;
  width: 13.25%;
  top: 26.92%;
  right: 83.39%;
  bottom: 26.92%;
  left: 3.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.day-ago {
  position: absolute;
  height: 16.79%;
  width: 35.85%;
  top: 83.33%;
  left: 20.45%;
  color: var(--color-silver);
  display: inline-block;
}
.you-have-deadline {
  margin: 0;
}
.kpi-edu1,
.you-have-deadline-container {
  position: absolute;
  height: 34.62%;
  width: 58.26%;
  top: 50%;
  left: 20.45%;
  display: inline-block;
}
.kpi-edu1 {
  height: 28.33%;
  width: 35.74%;
  top: 17.95%;
  font-size: var(--font-size-xl);
}
.ellipse-div {
  position: absolute;
  height: 11.54%;
  width: 2.52%;
  top: 26.92%;
  right: 52.94%;
  bottom: 61.54%;
  left: 44.54%;
  border-radius: 50%;
  background-color: var(--color-dodgerblue);
}
.group-container,
.group-parent1,
.group-parent2,
.group-parent3 {
  position: absolute;
  top: 129px;
  left: 14px;
  width: 357px;
  height: 78px;
  overflow: hidden;
}
.group-parent1,
.group-parent2,
.group-parent3 {
  top: 226px;
}
.group-parent2,
.group-parent3 {
  top: 369px;
}
.group-parent3 {
  top: 466px;
}
.read {
  position: absolute;
  top: 323px;
  left: 26px;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
  color: var(--black);
}
.component-5 {
  width: 385px;
  position: relative;
  background-color: var(--theme-colors-ui-contrast);
  height: 600px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--light-primary);
  font-family: var(--ui-14-regular);
}
