.plan-processing-1-child,
.search-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue);
  width: 1440px;
  height: 1024px;
}
.search-child {
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 438px;
  height: 50px;
}
.search-task-documents {
  position: absolute;
  top: 2px;
  left: 34px;
  font-weight: 600;
}
.iconlylight-outlinesearch {
  position: absolute;
  height: 100%;
  width: 8.05%;
  top: 0;
  right: 91.95%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-task-documents-activi-parent {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 298px;
  height: 24.5px;
}
.search,
.toggle-icon {
  position: absolute;
  top: 43px;
  left: 292px;
  width: 438px;
  height: 50px;
}
.toggle-icon {
  top: 53px;
  left: 842px;
  width: 127px;
  height: 29.8px;
}
.completion-progress-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 681px;
  height: 823.2px;
}
.plan-processing {
  position: absolute;
  top: 51px;
  left: 66px;
  font-size: 36px;
  display: inline-block;
  width: 449px;
  height: 49px;
}
.graduation-thesis,
.plan-2 {
  position: absolute;
  top: 29.93px;
  left: 0;
  display: inline-block;
  width: 304.3px;
  height: 49.9px;
}
.plan-2 {
  top: 70.64px;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  width: 123px;
  height: 24px;
}
.b,
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 145.3px;
  height: 145.3px;
}
.b {
  top: 54.88px;
  left: 47.4px;
  display: inline-block;
  width: 52.4px;
  height: 34.9px;
}
.group-parent {
  position: absolute;
  top: 0;
  left: 402.51px;
  width: 145.3px;
  height: 145.3px;
}
.mon-april-8,
.p {
  margin: 0;
}
.p {
  font-size: var(--font-size-3xs);
}
.mon-april-8-container {
  position: absolute;
  top: 74.64px;
  left: 76px;
  display: inline-block;
  color: var(--color-black);
  width: 306px;
  height: 9px;
  font-size: var(--font-size-mini);
}
.view {
  position: absolute;
  top: 104.64px;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-royalblue);
  text-align: center;
}
.social-ins {
  position: absolute;
  top: 289.36px;
  left: 65px;
  width: 547.8px;
  height: 145.3px;
}
.scroll-child {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: #eee;
  height: 626.1px;
}
.scroll,
.scroll-child,
.scroll-item {
  position: absolute;
  width: 12.5px;
}
.scroll-item {
  top: 114.75px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-royalblue);
  height: 209.5px;
}
.scroll {
  top: 134.7px;
  left: 644.62px;
  height: 626.1px;
}
.cocoboldadd-icon {
  position: absolute;
  height: 5.95%;
  width: 7.05%;
  top: 6.92%;
  right: 36.56%;
  bottom: 87.12%;
  left: 56.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.sales-website-design {
  position: absolute;
  top: 30px;
  left: 0;
  display: inline-block;
  width: 253px;
  height: 50px;
}
.social-ins1 {
  position: absolute;
  top: 125px;
  left: 65px;
  width: 547.8px;
  height: 145.3px;
  cursor: pointer;
}
.sun-march-9 {
  position: absolute;
  top: 74.64px;
  left: 76px;
  font-size: var(--font-size-mini);
  display: inline-block;
  color: var(--color-black);
  width: 306px;
  height: 9px;
}
.build-a-pet,
.social-ins2 {
  position: absolute;
  top: 618px;
  left: 65px;
  width: 547.8px;
  height: 145.3px;
}
.build-a-pet {
  top: 30px;
  left: 0;
  display: inline-block;
  width: 390px;
  height: 50px;
}
.tue-june-18 {
  margin: 0;
  font-size: var(--font-size-mini);
}
.tue-june-18-container {
  position: absolute;
  top: 74.64px;
  left: 76px;
  display: inline-block;
  color: var(--color-black);
  width: 306px;
  height: 9px;
  font-size: var(--font-size-3xs);
}
.social-ins3 {
  position: absolute;
  top: 454px;
  left: 65px;
  width: 547.8px;
  height: 145.3px;
}
.completion-progress {
  position: absolute;
  top: 162px;
  left: 495px;
  width: 681px;
  height: 823.2px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
.component-7-icon {
  position: absolute;
  top: 0;
  left: 1371px;
  width: 69px;
  height: 1024px;
}
.instance-child {
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-white);
}
.instance-child,
.left-barplan-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.calendar1,
.group-icon1 {
  position: absolute;
  top: 0;
  left: 29.69%;
}
.group-icon1 {
  height: 91.85%;
  width: 19.3%;
  top: 3.7%;
  right: 80.7%;
  bottom: 4.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calendar {
  position: absolute;
  height: 2.64%;
  width: 47.41%;
  top: 44.43%;
  right: 26.3%;
  bottom: 52.93%;
  left: 26.3%;
  cursor: pointer;
}
.home1,
.iconlyboldhome {
  position: absolute;
  top: 0;
  left: 39.39%;
}
.iconlyboldhome {
  height: 97.41%;
  width: 25.25%;
  right: 74.75%;
  bottom: 2.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home {
  position: absolute;
  height: 2.64%;
  width: 36.67%;
  top: 21.19%;
  right: 37.04%;
  bottom: 76.17%;
  left: 26.3%;
  cursor: pointer;
}
.bookmarks,
.history1,
.vector-icon {
  position: absolute;
  height: 100%;
  top: 0;
}
.history1 {
  width: 100%;
  left: 0;
  display: inline-block;
  cursor: pointer;
}
.bookmarks,
.vector-icon {
  bottom: 0;
}
.bookmarks {
  width: 66.96%;
  right: 0;
  left: 33.04%;
  cursor: pointer;
}
.vector-icon {
  width: 24.35%;
  right: 75.65%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.history {
  position: absolute;
  top: 528px;
  left: 71px;
  width: 115px;
  height: 27px;
}
.messages1 {
  position: absolute;
  top: 0;
  left: 22.62%;
  cursor: pointer;
}
.iconlylight-outlinechat {
  position: absolute;
  height: 100%;
  width: 16.07%;
  top: 0;
  right: 83.93%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b4,
.ellipse-div {
  position: absolute;
  top: 0;
}
.ellipse-div {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.b4 {
  height: 95.45%;
  width: 42.27%;
  left: 27.27%;
  display: inline-block;
}
.ellipse-parent {
  position: absolute;
  height: 81.48%;
  width: 13.1%;
  top: 11.11%;
  right: 0;
  bottom: 7.41%;
  left: 86.9%;
  font-size: 15.56px;
  color: var(--color-white);
}
.messages,
.settings1 {
  position: absolute;
  cursor: pointer;
}
.messages {
  height: 2.64%;
  width: 62.22%;
  top: 58.5%;
  right: 11.48%;
  bottom: 38.87%;
  left: 26.3%;
}
.settings1 {
  top: 0;
  left: 31.93%;
}
.iconlylight-outlinesetting {
  position: absolute;
  height: 95.56%;
  width: 20.17%;
  top: 3.7%;
  right: 79.83%;
  bottom: 0.74%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.settings,
.sign-out1 {
  position: absolute;
  cursor: pointer;
}
.settings {
  height: 2.64%;
  width: 44.07%;
  top: 65.53%;
  right: 29.63%;
  bottom: 31.84%;
  left: 26.3%;
}
.sign-out1 {
  top: 0;
  left: 28.57%;
}
.iconlylight-outlinelogout {
  position: absolute;
  height: 86.67%;
  width: 20.17%;
  top: 7.41%;
  right: 79.83%;
  bottom: 5.93%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sign-out {
  position: absolute;
  height: 2.64%;
  width: 44.07%;
  top: 91.99%;
  right: 28.15%;
  bottom: 5.37%;
  left: 27.78%;
  color: var(--color-indianred);
}
.logo-child {
  position: absolute;
  height: 100%;
  width: 31.12%;
  top: 0;
  right: 68.88%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.edu {
  color: var(--color-dodgerblue);
}
.kpi-edu,
.logo {
  position: absolute;
}
.kpi-edu {
  height: 72.22%;
  width: 62.24%;
  top: 16.67%;
  left: 37.78%;
  display: inline-block;
}
.logo {
  height: 3.52%;
  width: 49.63%;
  top: 4.1%;
  right: 25.19%;
  bottom: 92.38%;
  left: 25.19%;
  font-size: 22.66px;
  color: var(--color-orange);
  font-family: var(--font-ubuntu);
}
.frame-child,
.frame-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-aliceblue);
}
.frame-item {
  width: 2.22%;
  right: 97.78%;
  background-color: var(--color-royalblue);
}
.rectangle-parent {
  position: absolute;
  top: calc(50% - 30.5px);
  left: calc(50% - 135px);
  width: 270px;
  height: 61px;
}
.classes-wrapper,
.kpi {
  position: absolute;
  top: 0;
  left: 0;
}
.classes-wrapper {
  height: 100%;
  width: 54.22%;
  right: 0;
  bottom: 0;
  left: 45.78%;
  cursor: pointer;
}
.iconlylight-outline3-user {
  position: absolute;
  height: 84.81%;
  width: 30.72%;
  top: 11.11%;
  right: 69.28%;
  bottom: 4.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-div {
  position: absolute;
  top: 17px;
  left: 71px;
  width: 83px;
  height: 27px;
}
.plan {
  position: absolute;
  top: calc(50% - 223px);
  left: calc(50% - 135px);
  width: 270px;
  height: 61px;
  cursor: pointer;
  color: var(--color-royalblue);
}
.carbonsummary-kpi-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.documents,
.kpi1 {
  position: absolute;
  top: 0;
  left: 38px;
}
.documents {
  top: 378px;
  left: 71px;
  width: 71px;
  height: 32px;
  cursor: pointer;
}
.left-barplan,
.left-barplan-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 1024px;
}
.left-barplan-wrapper {
  font-size: var(--font-size-xl);
}
.uilimport-icon {
  position: absolute;
  top: 219px;
  left: 948px;
  width: 49px;
  height: 42px;
}
.plan-processing-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-open-sans);
}
