.sales-website-design {
  position: absolute;
  top: 18px;
  left: 22px;
  display: inline-block;
  width: 253px;
  height: 50px;
}
.test-sample {
  top: 48px;
  width: 94px;
}
.blackwhite-design,
.color-design,
.div,
.fix-design,
.survey,
.test-sample {
  position: absolute;
  left: 0;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.div {
  top: 0;
  color: var(--color-gray-300);
  width: 382px;
}
.blackwhite-design,
.color-design,
.fix-design,
.survey {
  top: 84px;
  width: 169px;
}
.blackwhite-design,
.fix-design,
.survey {
  top: 120px;
  width: 190px;
}
.fix-design,
.survey {
  top: 156px;
  width: 74px;
}
.survey {
  top: 192px;
}
.add-characters {
  width: 1px;
  position: relative;
  letter-spacing: 16px;
  line-height: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.progress {
  align-self: stretch;
  background-color: var(--schemes-primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.color {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 99.5px);
  background-color: var(--color-aliceblue);
  width: 199px;
}
.bar,
.color,
.opacity-icon {
  mix-blend-mode: normal;
}
.opacity-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 99.5px);
  max-height: 100%;
  width: 199px;
  opacity: 0.6;
}
.bar {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.container,
.progresscontainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.progresscontainer {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
}
.container {
  width: 200px;
  height: 4px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  z-index: 0;
}
.body2 {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 143%;
}
.typography {
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 1;
  font-size: var(--m3-label-large-size);
  color: var(--text-primary);
}
.min-width {
  width: 200px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 1.9px);
  left: calc(50% - 100.05px);
  height: 4px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.progress-linear {
  position: absolute;
  top: 56px;
  left: 198px;
  width: 208.1px;
  height: 3.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-9xs);
  color: transparent;
}
.add-characters1 {
  width: 107px;
  position: relative;
  letter-spacing: 16px;
  line-height: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.progress1 {
  align-self: stretch;
  background-color: var(--color-royalblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.color-icon,
.opacity {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 46.5px);
  width: 93px;
  mix-blend-mode: normal;
}
.color-icon {
  max-height: 100%;
}
.opacity {
  opacity: 0.6;
}
.progress-linear1 {
  position: absolute;
  top: 92px;
  left: 198px;
  width: 208.1px;
  height: 3.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-9xs);
  color: transparent;
}
.add-characters2 {
  width: 198px;
  position: relative;
  letter-spacing: 16px;
  line-height: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.progress2 {
  align-self: stretch;
  width: 203px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.color1,
.opacity1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 0.5px);
  background-color: var(--schemes-primary);
  width: 1px;
  mix-blend-mode: normal;
}
.opacity1 {
  background-color: var(--background-paper-elevation-0);
  opacity: 0.6;
}
.min-width2,
.progress-linear2 {
  position: absolute;
  width: 200px;
  height: 4px;
}
.min-width2 {
  margin: 0 !important;
  top: calc(50% - 2px);
  left: calc(50% - 100px);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.progress-linear2 {
  top: 128px;
  left: 198px;
  background-color: var(--color-royalblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-9xs);
  color: transparent;
}
.add-characters3 {
  width: 182px;
  position: relative;
  letter-spacing: 16px;
  line-height: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.color2,
.opacity2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 9px);
  width: 18px;
  mix-blend-mode: normal;
}
.color2 {
  background-color: var(--color-aliceblue);
}
.opacity2 {
  opacity: 0.6;
}
.progress-linear3 {
  position: absolute;
  top: 164px;
  left: 198px;
  width: 208.1px;
  height: 3.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-9xs);
  color: transparent;
}
.add-characters4 {
  width: 149px;
  position: relative;
  letter-spacing: 16px;
  line-height: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.progress4 {
  align-self: stretch;
  width: 183px;
  background-color: var(--color-royalblue);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.color3,
.opacity3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 8.5px);
  width: 17px;
  mix-blend-mode: normal;
}
.color3 {
  background-color: var(--color-aliceblue);
}
.opacity3 {
  opacity: 0.6;
}
.progress-linear4 {
  position: absolute;
  top: 200px;
  left: 198px;
  width: 208.1px;
  height: 3.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-9xs);
  color: transparent;
}
.test-sample-parent {
  position: absolute;
  top: 29px;
  left: 268px;
  width: 406.1px;
  height: 212px;
  font-size: var(--m3-label-large-size);
  color: var(--color-black);
  font-family: var(--m3-label-large);
}
.figpie-icon {
  position: absolute;
  top: 77px;
  left: 36px;
  width: 150px;
  height: 150px;
}
.sales-website-design-parent {
  width: 748px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--background-paper-elevation-0);
  height: 260px;
  overflow-y: auto;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.preliminary-research {
  position: absolute;
  top: 48px;
  left: 0;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  width: 166px;
}
.thesis-proposal-writing {
  margin: 0;
}
.figpie-icon1 {
  position: absolute;
  top: 75px;
  left: 36px;
  width: 150px;
  height: 150px;
}
.database-implementation,
.development-environment {
  position: absolute;
  top: 156px;
  left: 0;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  width: 190px;
}
.development-environment {
  top: 192px;
}
.figpie-icon3 {
  position: absolute;
  top: 74px;
  left: 36px;
  width: 150px;
  height: 150px;
}
.prototype-development,
.wireframe-creation {
  position: absolute;
  top: 156px;
  left: 0;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  width: 139px;
}
.prototype-development {
  top: 192px;
  width: 150px;
}
.frame-parent {
  position: absolute;
  top: 508px;
  left: 289px;
  height: 516px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
  font-size: var(--font-size-xl);
}
.kpi-child,
.search-child {
  position: absolute;
  top: 0;
  left: 274px;
  background-color: var(--color-aliceblue);
  width: 777px;
  height: 513px;
}
.search-child {
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--background-paper-elevation-0);
  width: 438px;
  height: 50px;
}
.search-task-documents {
  position: absolute;
  top: 2px;
  left: 34px;
  font-weight: 600;
}
.iconlylight-outlinesearch {
  position: absolute;
  height: 100%;
  width: 8.05%;
  top: 0;
  right: 91.95%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search,
.search-task-documents-activi-parent {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 298px;
  height: 24.5px;
}
.search {
  top: 32px;
  left: 323px;
  width: 438px;
  height: 50px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.kpi-item,
.toggle-icon {
  position: absolute;
  top: 48px;
  left: 859px;
  width: 127px;
  height: 29.8px;
}
.kpi-item {
  top: 1024px;
  left: 1072px;
  width: 415px;
  height: 88px;
  overflow: hidden;
}
.instance-child {
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--background-paper-elevation-0);
}
.instance-child,
.left-barplan-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.calendar1,
.group-icon {
  position: absolute;
  top: 0;
  left: 29.69%;
}
.group-icon {
  height: 91.85%;
  width: 19.3%;
  top: 3.7%;
  right: 80.7%;
  bottom: 4.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calendar {
  position: absolute;
  height: 2.64%;
  width: 47.41%;
  top: 44.43%;
  right: 26.3%;
  bottom: 52.93%;
  left: 26.3%;
  cursor: pointer;
}
.home1,
.iconlyboldhome {
  position: absolute;
  top: 0;
  left: 39.39%;
}
.iconlyboldhome {
  height: 97.41%;
  width: 25.25%;
  right: 74.75%;
  bottom: 2.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home {
  position: absolute;
  height: 2.64%;
  width: 36.67%;
  top: 21.19%;
  right: 37.04%;
  bottom: 76.17%;
  left: 26.3%;
  cursor: pointer;
}
.bookmarks,
.history1,
.vector-icon {
  position: absolute;
  height: 100%;
  top: 0;
}
.history1 {
  width: 100%;
  left: 0;
  display: inline-block;
  cursor: pointer;
}
.bookmarks,
.vector-icon {
  bottom: 0;
}
.bookmarks {
  width: 66.96%;
  right: 0;
  left: 33.04%;
  cursor: pointer;
}
.vector-icon {
  width: 24.35%;
  right: 75.65%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.history {
  position: absolute;
  top: 528px;
  left: 71px;
  width: 115px;
  height: 27px;
}
.messages1 {
  position: absolute;
  top: 0;
  left: 22.62%;
  cursor: pointer;
}
.iconlylight-outlinechat {
  position: absolute;
  height: 100%;
  width: 16.07%;
  top: 0;
  right: 83.93%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.group-child {
  position: absolute;
  top: 0;
}
.group-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.b {
  height: 95.45%;
  width: 42.27%;
  left: 27.27%;
  display: inline-block;
}
.ellipse-parent {
  position: absolute;
  height: 81.48%;
  width: 13.1%;
  top: 11.11%;
  right: 0;
  bottom: 7.41%;
  left: 86.9%;
  font-size: 15.56px;
  color: var(--background-paper-elevation-0);
}
.messages,
.settings1 {
  position: absolute;
  cursor: pointer;
}
.messages {
  height: 2.64%;
  width: 62.22%;
  top: 58.5%;
  right: 11.48%;
  bottom: 38.87%;
  left: 26.3%;
}
.settings1 {
  top: 0;
  left: 31.93%;
}
.iconlylight-outlinesetting {
  position: absolute;
  height: 95.56%;
  width: 20.17%;
  top: 3.7%;
  right: 79.83%;
  bottom: 0.74%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.settings,
.sign-out1 {
  position: absolute;
  cursor: pointer;
}
.settings {
  height: 2.64%;
  width: 44.07%;
  top: 65.53%;
  right: 29.63%;
  bottom: 31.84%;
  left: 26.3%;
}
.sign-out1 {
  top: 0;
  left: 28.57%;
}
.iconlylight-outlinelogout {
  position: absolute;
  height: 86.67%;
  width: 20.17%;
  top: 7.41%;
  right: 79.83%;
  bottom: 5.93%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sign-out {
  position: absolute;
  height: 2.64%;
  width: 44.07%;
  top: 91.99%;
  right: 28.15%;
  bottom: 5.37%;
  left: 27.78%;
  color: var(--color-indianred);
}
.logo-child {
  position: absolute;
  height: 100%;
  width: 31.12%;
  top: 0;
  right: 68.88%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.edu {
  color: var(--color-dodgerblue);
}
.kpi-edu,
.logo {
  position: absolute;
}
.kpi-edu {
  height: 72.22%;
  width: 62.24%;
  top: 16.67%;
  left: 37.78%;
  display: inline-block;
}
.logo {
  height: 3.52%;
  width: 49.63%;
  top: 4.1%;
  right: 25.19%;
  bottom: 92.38%;
  left: 25.19%;
  font-size: 22.66px;
  color: var(--color-orange);
  font-family: var(--font-ubuntu);
}
.classes-wrapper,
.kpi1 {
  position: absolute;
  top: 0;
  left: 0;
}
.classes-wrapper {
  height: 100%;
  width: 54.22%;
  right: 0;
  bottom: 0;
  left: 45.78%;
  cursor: pointer;
}
.iconlylight-outline3-user {
  position: absolute;
  height: 84.81%;
  width: 30.72%;
  top: 11.11%;
  right: 69.28%;
  bottom: 4.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent,
.plan {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 27px;
}
.plan {
  top: 306px;
  left: 71px;
  cursor: pointer;
}
.frame-child,
.frame-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-aliceblue);
}
.frame-item {
  width: 2.22%;
  right: 97.78%;
  background-color: var(--color-royalblue);
}
.rectangle-parent {
  position: absolute;
  top: calc(50% - 30.5px);
  left: calc(50% - 135px);
  width: 270px;
  height: 61px;
}
.carbonsummary-kpi-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.kpi2 {
  position: absolute;
  top: 0;
  left: 38px;
}
.carbonsummary-kpi-parent {
  position: absolute;
  top: 14px;
  left: 71px;
  width: 71px;
  height: 32px;
}
.documents {
  position: absolute;
  top: calc(50% - 148px);
  left: calc(50% - 135px);
  width: 270px;
  height: 61px;
  cursor: pointer;
  color: var(--color-royalblue);
}
.left-barplan {
  top: 0;
  left: 0;
  width: 270px;
}
.instance-item,
.left-bar-kpi,
.left-barplan {
  position: absolute;
  height: 1024px;
}
.left-bar-kpi {
  top: 0;
  left: 0;
  width: 270px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.instance-item {
  top: 35px;
  left: 29px;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--background-paper-elevation-0);
  width: 382px;
}
.allura-avatar-icon,
.component-3profile-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.component-3profile-child {
  width: 100%;
  right: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-aliceblue);
}
.allura-avatar-icon {
  width: 35.19%;
  right: 64.81%;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.soict {
  position: absolute;
  height: 52.76%;
  width: 38.89%;
  top: 23.71%;
  left: 61.11%;
  letter-spacing: -0.03em;
  display: inline-block;
}
.allura-avatar-parent {
  position: absolute;
  height: 75.9%;
  width: 59.34%;
  top: 12%;
  right: 30.77%;
  bottom: 12.1%;
  left: 9.89%;
}
.icon-chevron-left {
  position: absolute;
  height: 23.9%;
  width: 6.59%;
  top: 42%;
  right: 6.59%;
  bottom: 34.1%;
  left: 86.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.component-3profile {
  position: absolute;
  top: 4px;
  left: 123px;
  width: 182px;
  height: 50.2px;
}
.iconlylight-outlinenotificat {
  position: absolute;
  height: 48.28%;
  width: 6.35%;
  top: 24.14%;
  right: 85.98%;
  bottom: 27.59%;
  left: 7.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-3mingcutearow-to-r-icon {
  position: absolute;
  top: -1px;
  left: 318px;
  width: 60px;
  height: 58px;
  cursor: pointer;
}
.material-symbolshelp-outline-icon {
  position: absolute;
  height: 58.62%;
  width: 8.99%;
  top: 18.97%;
  right: 72.22%;
  bottom: 22.41%;
  left: 18.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-3profile-parent {
  position: absolute;
  top: 61px;
  left: 29px;
  background-color: var(--background-paper-elevation-0);
  width: 378px;
  height: 58px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.vector-2-stroke {
  position: absolute;
  height: 31.94%;
  width: 10.9%;
  top: 49.12%;
  right: -0.01%;
  bottom: 18.94%;
  left: 89.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.july-2024 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111.1px;
  height: 21.6px;
}
.month-selector {
  position: absolute;
  height: 7.3%;
  width: 31.7%;
  top: 0.36%;
  right: 4.22%;
  bottom: 92.34%;
  left: 64.08%;
}
.weekdays-weeks-child {
  position: absolute;
  top: 74px;
  left: 171.31px;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke);
  width: 38px;
  height: 38px;
}
.mo,
.tu {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mo {
  position: absolute;
  top: 0;
  left: 0;
  width: 25.5px;
  height: 20px;
}
.tu {
  left: 48.17px;
  width: 20px;
}
.th,
.tu,
.we {
  position: absolute;
  top: 0;
  height: 20px;
}
.we {
  left: 90.83px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25.5px;
}
.th {
  left: 139px;
  width: 21.3px;
}
.fr,
.sa,
.su,
.th {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fr {
  position: absolute;
  top: 0;
  left: 182.35px;
  width: 16.5px;
  height: 20px;
}
.sa,
.su {
  width: 20.6px;
}
.sa {
  position: absolute;
  top: 0;
  left: 220.88px;
  height: 20px;
}
.su {
  left: 263.54px;
}
.div4,
.su,
.weekdays {
  position: absolute;
  top: 0;
  height: 20px;
}
.weekdays {
  left: 0;
  width: 284.2px;
  color: var(--light-primary);
}
.div4 {
  left: -136.93px;
  font-weight: 500;
  display: none;
  align-items: center;
  justify-content: center;
  width: 8.3px;
}
.div5 {
  left: -92.21px;
  display: none;
  width: 10.3px;
}
.div10,
.div5,
.div6,
.div7,
.div8,
.div9 {
  position: absolute;
  top: 0;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.div6 {
  left: -47.48px;
  display: none;
  width: 11px;
}
.div10,
.div7,
.div8,
.div9 {
  left: 0;
  display: flex;
  width: 8.3px;
}
.div10,
.div8,
.div9 {
  left: 40.6px;
  width: 10.3px;
}
.div10,
.div9 {
  left: 80.51px;
  width: 11px;
}
.div10 {
  left: 123.17px;
}
.div11,
.div12,
.div13,
.week-01 {
  position: absolute;
  top: 41.97px;
  left: 145.19px;
  width: 134.2px;
  height: 20px;
}
.div11,
.div12,
.div13 {
  top: 9.63px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.3px;
}
.div12,
.div13 {
  left: 44.73px;
  width: 11px;
}
.div13 {
  left: 90.83px;
  width: 9.6px;
}
.current-day-icon {
  position: absolute;
  top: 0;
  left: 164.21px;
  width: 38.5px;
  height: 38.5px;
}
.div14 {
  position: absolute;
  left: 177.53px;
  width: 11px;
  cursor: pointer;
}
.div14,
.div15,
.div16 {
  top: 9.63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.div15 {
  position: absolute;
  left: 214.69px;
  width: 18.6px;
}
.div16 {
  left: 258.73px;
  width: 15.8px;
}
.div16,
.div17,
.week-02 {
  position: absolute;
}
.div17 {
  top: 9.63px;
  left: 136.24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 20px;
}
.week-02 {
  top: 74.31px;
  left: 7.57px;
  width: 274.6px;
  height: 38.5px;
}
.div18,
.div19,
.div20,
.div21,
.div22,
.div23,
.div24 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.6px;
  height: 20px;
}
.div19,
.div20,
.div21,
.div22,
.div23,
.div24 {
  left: 45.42px;
}
.div20,
.div21,
.div22,
.div23,
.div24 {
  left: 90.14px;
  width: 19.3px;
}
.div21,
.div22,
.div23,
.div24 {
  left: 136.93px;
  width: 18.6px;
}
.div22,
.div23,
.div24 {
  left: 178.22px;
}
.div23,
.div24 {
  left: 218.82px;
  width: 17.9px;
}
.div24 {
  left: 261.48px;
  width: 18.6px;
}
.week-03 {
  top: 125.92px;
  left: 3.44px;
  width: 280.1px;
}
.div26,
.div27,
.week-03 {
  position: absolute;
  height: 20px;
}
.div26 {
  top: 0;
  left: 44.04px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.3px;
}
.div27 {
  left: 90.83px;
  width: 18.6px;
}
.div27,
.div28,
.div29,
.div30 {
  top: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div28 {
  position: absolute;
  left: 135.56px;
  width: 20.6px;
  height: 20px;
}
.div29,
.div30 {
  width: 21.3px;
}
.div29 {
  position: absolute;
  left: 176.84px;
  height: 20px;
}
.div30 {
  left: 217.44px;
}
.div30,
.div31,
.week-04 {
  position: absolute;
  height: 20px;
}
.div31 {
  top: 0;
  left: 260.1px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.6px;
}
.week-04 {
  top: 167.9px;
  left: 3.44px;
  width: 280.7px;
}
.div32 {
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.6px;
}
.div32,
.div33,
.div34,
.div35 {
  position: absolute;
  height: 20px;
}
.div33 {
  top: 0;
  left: 46.1px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}
.div34,
.div35 {
  width: 20.6px;
}
.div34 {
  top: 0;
  left: 90.83px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div35 {
  left: 136.93px;
}
.div35,
.div36,
.div37 {
  top: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div36 {
  position: absolute;
  left: 178.22px;
  width: 21.3px;
  height: 20px;
}
.div37 {
  left: 221.57px;
  width: 18.6px;
}
.b1,
.div37,
.week-05 {
  position: absolute;
  height: 20px;
}
.b1 {
  top: 0;
  left: 261.48px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 22.7px;
}
.week-05 {
  top: 209.87px;
  left: 2.06px;
  width: 240.1px;
}
.weekdays-weeks {
  width: 284.2px;
  position: relative;
  height: 229.8px;
}
.calendar-events {
  position: absolute;
  top: 51.99px;
  left: 0;
  width: 382px;
  height: 244px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--light-secondary);
  font-family: var(--font-inter);
}
.calendar-child,
.calendar-inner,
.calendar-item {
  position: absolute;
  top: 155.71px;
  left: 236.76px;
  width: 4.9px;
  height: 4.2px;
}
.calendar-inner,
.calendar-item {
  top: 156px;
  left: 278px;
  border-radius: 50%;
  background-color: var(--color-gold);
}
.calendar-inner {
  top: 196px;
  left: 196px;
}
.my-calendar {
  position: absolute;
  top: 0;
  left: 17.09px;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--light-primary);
  align-items: center;
  justify-content: center;
  width: 153.8px;
  height: 21.2px;
}
.calendar-wrapper {
  position: absolute;
  height: 27.95%;
  width: 92.94%;
  top: 15.49%;
  right: 0;
  bottom: 56.56%;
  left: 7.06%;
  text-align: center;
  font-size: 16.51px;
  color: var(--color-gray-100);
}
.tasks-status,
.vector-icon1 {
  position: absolute;
  height: 100%;
  top: 0;
}
.vector-icon1 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.tasks-status {
  width: 51.04%;
  left: 0.8%;
  display: inline-block;
}
.vector-icon2 {
  position: absolute;
  height: 39.55%;
  width: 100%;
  top: 5.34%;
  right: 0;
  bottom: 55.11%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group {
  position: absolute;
  height: 7.56%;
  width: 65.45%;
  top: 0;
  right: 24.87%;
  bottom: 92.44%;
  left: 9.69%;
  font-size: var(--font-size-xl);
  color: var(--light-primary);
}
.vector-icon3,
.vector-icon4 {
  position: absolute;
  height: 81.14%;
  width: 98.09%;
  top: 12.18%;
  right: 1.91%;
  bottom: 6.68%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon4 {
  width: 93.89%;
  right: 6.11%;
}
.completed,
.group3,
.vector-icon5 {
  position: absolute;
  height: 100%;
  top: 0;
}
.completed {
  width: 100%;
  left: 0;
  display: inline-block;
}
.group3,
.vector-icon5 {
  width: 68.08%;
  right: -0.06%;
  bottom: 0;
  left: 31.97%;
}
.vector-icon5 {
  height: 11.43%;
  width: 26.84%;
  top: 51.43%;
  right: 73.16%;
  bottom: 37.14%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group2,
.vector-icon6 {
  position: absolute;
  height: 100%;
  width: 30.78%;
  top: 0;
  right: 69.22%;
  bottom: 0;
  left: 0;
}
.vector-icon6 {
  height: 81.14%;
  width: 94.71%;
  top: 12.18%;
  right: 5.29%;
  bottom: 6.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group5,
.vector-icon7 {
  position: absolute;
  height: 100%;
  width: 67.34%;
  top: 0;
  right: 0.05%;
  bottom: 0;
  left: 32.62%;
}
.vector-icon7 {
  height: 11.43%;
  width: 27.38%;
  top: 52.77%;
  right: 72.62%;
  bottom: 35.8%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group4,
.vector-icon8 {
  position: absolute;
  height: 100%;
  width: 30.18%;
  top: 0;
  right: 34.27%;
  bottom: 0;
  left: 35.56%;
}
.vector-icon8 {
  height: 81.14%;
  width: 93.45%;
  top: 12.18%;
  right: 6.55%;
  bottom: 6.68%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group7,
.vector-icon9 {
  position: absolute;
  height: 100%;
  width: 66.27%;
  top: 0;
  right: 0.05%;
  bottom: 0;
  left: 33.68%;
}
.vector-icon9 {
  height: 11.43%;
  width: 28.28%;
  top: 52.77%;
  right: 71.72%;
  bottom: 35.8%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group6 {
  position: absolute;
  height: 100%;
  width: 29.22%;
  top: 0;
  right: -0.02%;
  bottom: 0;
  left: 70.8%;
}
.group1,
.vector-icon10 {
  position: absolute;
  height: 6.01%;
  width: 82.07%;
  top: 89.35%;
  right: 9.03%;
  bottom: 4.64%;
  left: 8.9%;
}
.vector-icon10 {
  height: 88.17%;
  width: 89.27%;
  top: 3.93%;
  right: 0.02%;
  bottom: 7.89%;
  left: 10.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group10,
.group11,
.group12,
.group13,
.group14,
.group15 {
  position: absolute;
  height: 5.69%;
  width: 1.38%;
  top: 94.26%;
  right: 79.77%;
  bottom: 0.04%;
  left: 18.84%;
}
.group11,
.group12,
.group13,
.group14,
.group15 {
  width: 1.58%;
  right: 63.76%;
  left: 34.66%;
}
.group12,
.group13,
.group14,
.group15 {
  width: 1.77%;
  right: 47.75%;
  left: 50.48%;
}
.group13,
.group14,
.group15 {
  right: 31.83%;
  left: 66.4%;
}
.group14,
.group15 {
  width: 1.58%;
  right: 16.01%;
  left: 82.42%;
}
.group15 {
  width: 1.77%;
  right: 0;
  left: 98.24%;
}
.group16,
.group17,
.group18,
.group19,
.group20 {
  position: absolute;
  height: 5.69%;
  width: 1.77%;
  top: 88.91%;
  right: 91.11%;
  bottom: 5.4%;
  left: 7.13%;
  text-align: right;
  color: var(--color-darkslategray-100);
}
.group17,
.group18,
.group19,
.group20 {
  width: 1.58%;
  top: 71.35%;
  right: 91.1%;
  bottom: 22.96%;
  left: 7.32%;
}
.group18,
.group19,
.group20 {
  width: 1.77%;
  top: 53.78%;
  right: 91.11%;
  bottom: 40.52%;
  left: 7.13%;
}
.group19,
.group20 {
  top: 36.22%;
  bottom: 58.09%;
}
.group20 {
  top: 18.66%;
  bottom: 75.65%;
}
.group21,
.group8,
.group9 {
  position: absolute;
  top: 0;
  left: 0;
}
.group21 {
  height: 4.91%;
  width: 9.62%;
  right: 90.38%;
  bottom: 95.09%;
  text-align: right;
  color: var(--color-darkslategray-100);
}
.group8,
.group9 {
  height: 100%;
  width: 93.29%;
  right: 6.71%;
  bottom: 0;
}
.group8 {
  height: 70.03%;
  width: 72.96%;
  top: 16.49%;
  right: 17.36%;
  bottom: 13.47%;
  left: 9.69%;
  text-align: center;
}
.basic-line-chart {
  position: absolute;
  top: 474px;
  left: 29px;
  width: 382px;
  height: 291px;
  overflow: hidden;
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}
.plan-status {
  position: absolute;
  height: 100%;
  width: 40.04%;
  top: 0;
  left: 0;
  display: inline-block;
}
.vector-icon11 {
  position: absolute;
  height: 39.55%;
  width: 88.95%;
  top: 39.31%;
  right: 0.02%;
  bottom: 21.14%;
  left: 11.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group22 {
  position: absolute;
  height: 7.69%;
  width: 73.22%;
  top: 5.24%;
  right: 17.36%;
  bottom: 87.06%;
  left: 9.42%;
  font-size: var(--font-size-xl);
  color: var(--light-primary);
}
.vector-icon12,
.vector-icon13 {
  position: absolute;
  height: 94.94%;
  width: 100%;
  top: 3.36%;
  right: 0;
  bottom: 1.69%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon13 {
  height: 81.1%;
  top: 12.16%;
  bottom: 6.74%;
}
.group25,
.vector-icon14 {
  position: absolute;
  height: 100%;
  width: 40.27%;
  top: 0;
  right: 48.75%;
  bottom: 0;
  left: 10.98%;
}
.vector-icon14 {
  height: 81.1%;
  width: 7.95%;
  top: 12.16%;
  right: 92.05%;
  bottom: 6.74%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group24,
.group27 {
  position: absolute;
  height: 27.66%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 72.34%;
  left: 0;
}
.group27 {
  height: 100%;
  width: 34.16%;
  right: 54.86%;
  bottom: 0;
  left: 10.98%;
}
.group26,
.group29 {
  position: absolute;
  height: 27.66%;
  width: 100%;
  top: 36.23%;
  right: 0;
  bottom: 36.11%;
  left: 0;
}
.group29 {
  height: 100%;
  width: 37.19%;
  top: 0;
  right: 51.83%;
  bottom: 0;
  left: 10.98%;
}
.group23,
.group28 {
  position: absolute;
  height: 27.66%;
  width: 100%;
  top: 72.46%;
  right: 0;
  bottom: -0.12%;
  left: 0;
}
.group23 {
  height: 20.73%;
  width: 44.14%;
  top: 38.11%;
  right: -7.49%;
  bottom: 41.15%;
  left: 63.35%;
  color: var(--color-gray-400);
}
.vector-icon19,
.vector-icon20,
.vector-icon21 {
  position: absolute;
  height: 20.02%;
  width: 1.28%;
  top: 80.04%;
  right: -1.28%;
  bottom: -0.06%;
  left: 100%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon20,
.vector-icon21 {
  width: 100%;
  right: 0;
  left: 0;
}
.vector-icon21 {
  height: 80.09%;
  top: 0;
  bottom: 19.91%;
}
.div50 {
  position: absolute;
  height: 21.62%;
  width: 55.38%;
  top: 36.41%;
  left: 28.21%;
  display: inline-block;
}
.group30,
.vector-icon22 {
  position: absolute;
  height: 30.73%;
  width: 20.42%;
  top: 23.08%;
  right: 47.64%;
  bottom: 46.19%;
  left: 31.94%;
}
.vector-icon22 {
  height: 42.89%;
  width: 12.11%;
  top: 57.15%;
  right: 87.89%;
  bottom: -0.05%;
  left: 0;
}
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon23 {
  position: absolute;
  height: 42.89%;
  width: 77.85%;
  top: 57.15%;
  right: 10.09%;
  bottom: -0.05%;
  left: 12.05%;
}
.vector-icon24 {
  height: 85.7%;
  width: 89.97%;
  top: 0;
  right: 10.03%;
  bottom: 14.3%;
  left: 0;
}
.div51,
.group31,
.vector-icon24 {
  position: absolute;
}
.div51 {
  height: 15.43%;
  width: 71.16%;
  top: 38.99%;
  left: 28.84%;
  display: inline-block;
}
.group31 {
  height: 43.04%;
  width: 22.7%;
  top: 23.08%;
  right: 65.79%;
  bottom: 33.88%;
  left: 11.52%;
}
.vector-icon25 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div52,
.group32,
.vector-icon25 {
  position: absolute;
}
.div52 {
  height: 25.03%;
  width: 40.69%;
  top: 30.31%;
  left: 40.93%;
  display: inline-block;
}
.group32 {
  height: 30.73%;
  width: 38.09%;
  top: 47.68%;
  right: 47.66%;
  bottom: 21.59%;
  left: 14.25%;
}
.pie-chart,
.rectangle-group {
  position: absolute;
  overflow: hidden;
}
.pie-chart {
  top: 765px;
  left: 29px;
  width: 382px;
  height: 286px;
  color: var(--background-paper-elevation-0);
  font-family: var(--font-inter);
}
.rectangle-group {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-500);
}
.kpi-inner {
  position: absolute;
  top: -35px;
  left: 1029px;
  width: 411px;
  height: 1059px;
  font-size: var(--font-size-smi);
}
.chart-1 {
  position: absolute;
  top: 71px;
  left: 37px;
  width: 205.6px;
  height: 208px;
}
.kpi-complete,
.text {
  position: absolute;
  letter-spacing: 0.32px;
  display: inline-block;
}
.kpi-complete {
  top: 20px;
  left: 57px;
  line-height: 133%;
  width: 165px;
  height: 27px;
}
.text {
  width: 37.42%;
  top: calc(50% + 12.5px);
  left: 42.29%;
  font-size: 20.75px;
  line-height: 20.75px;
  color: var(--background-paper-elevation-0);
  height: 49.7px;
}
.chart-1-parent {
  position: absolute;
  top: 163px;
  left: 291px;
  border-radius: var(--br-11xl);
  background-color: var(--background-paper-elevation-0);
  width: 279px;
  height: 313px;
  overflow: hidden;
  mix-blend-mode: normal;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.frame-inner {
  position: absolute;
  bottom: 28px;
  left: 49px;
  width: 17px;
  height: 50px;
}
.frame-child1,
.frame-child2,
.rectangle-icon {
  position: absolute;
  bottom: 29px;
  left: 99px;
  width: 18px;
  height: 196px;
}
.frame-child1,
.frame-child2 {
  left: 117px;
  height: 180px;
}
.frame-child2 {
  left: 200px;
  height: 132px;
}
.frame-child3,
.frame-child4,
.frame-child5 {
  position: absolute;
  bottom: 29px;
  left: 218px;
  width: 17px;
  height: 232px;
}
.frame-child4,
.frame-child5 {
  left: 150px;
  height: 107px;
}
.frame-child5 {
  left: 167px;
  width: 18px;
  height: 174px;
}
.frame-child6,
.frame-child7,
.frame-child8 {
  position: absolute;
  bottom: 29px;
  left: 250px;
  width: 17px;
  height: 52px;
}
.frame-child7,
.frame-child8 {
  left: 267px;
  width: 18px;
  height: 136px;
}
.frame-child8 {
  left: 300px;
  width: 17px;
  height: 25px;
}
.frame-child10,
.frame-child11,
.frame-child9 {
  position: absolute;
  bottom: 29px;
  left: 317px;
  width: 18px;
  height: 52px;
}
.frame-child10,
.frame-child11 {
  left: 350px;
  height: 87px;
}
.frame-child11 {
  left: 368px;
  height: 196px;
}
.mon,
.tuesday {
  position: absolute;
  top: 353px;
  left: 86px;
  font-weight: 600;
}
.tuesday {
  left: 136px;
}
.friday,
.saturday,
.sunday,
.thursday,
.wednesday {
  position: absolute;
  top: 353px;
  left: 187px;
  font-weight: 600;
}
.friday,
.saturday,
.sunday,
.thursday {
  left: 237px;
}
.friday,
.saturday,
.sunday {
  left: 287px;
}
.saturday,
.sunday {
  left: 337px;
}
.sunday {
  left: 386px;
}
.frame-child12,
.rectangle-div {
  position: absolute;
  top: 387px;
  left: 157px;
  background-color: var(--color-royalblue);
  width: 18px;
  height: 18px;
}
.frame-child12 {
  left: 373px;
  background-color: var(--color-gray-200);
}
.thi-gian-d,
.thi-gian-thc {
  position: absolute;
  top: 387px;
  left: 187px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 106px;
  height: 19px;
}
.thi-gian-d {
  left: 411px;
}
.frame-child13,
.frame-child14 {
  position: absolute;
  top: 291px;
  left: 104.5px;
  width: 19px;
  height: 15px;
}
.frame-child14 {
  left: 267px;
  background-color: var(--color-gray-200);
  width: 17px;
}
.real-time {
  top: 291px;
  left: 126px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  width: 109px;
  height: 16px;
}
.intend-time,
.real-time,
.working-performance {
  position: absolute;
  display: inline-block;
  color: var(--color-black);
}
.intend-time {
  top: 291px;
  left: 288px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  width: 109px;
  height: 16px;
}
.working-performance {
  top: 4px;
  left: 135px;
  font-size: var(--font-size-mini);
  width: 218px;
}
.vector-parent {
  position: absolute;
  bottom: 552px;
  left: 588px;
  border-radius: var(--br-11xl);
  background-color: var(--background-paper-elevation-0);
  width: 451px;
  height: 313px;
  overflow: hidden;
  mix-blend-mode: normal;
  font-size: var(--font-size-5xs);
}
.div53,
.div54,
.div55,
.div56,
.div57,
.div58,
.div59,
.div60,
.div61,
.div62 {
  position: absolute;
  top: 412px;
  left: 604px;
  font-weight: 600;
  display: inline-block;
  width: 6px;
  height: 12px;
}
.div54,
.div55,
.div56,
.div57,
.div58,
.div59,
.div60,
.div61,
.div62 {
  top: 385px;
  height: 11px;
}
.div55,
.div56,
.div57,
.div58,
.div59,
.div60,
.div61,
.div62 {
  top: 333px;
  height: 12px;
}
.div56,
.div57,
.div58,
.div59,
.div60,
.div61,
.div62 {
  top: 307px;
  left: 601px;
  width: 12px;
  height: 13px;
}
.div57,
.div58,
.div59,
.div60,
.div61,
.div62 {
  top: 259px;
  height: 12px;
}
.div58,
.div59,
.div60,
.div61,
.div62 {
  top: 233px;
  height: 23px;
}
.div59,
.div60,
.div61,
.div62 {
  top: 210px;
  height: 24px;
}
.div60,
.div61,
.div62 {
  top: 185px;
  height: 23px;
}
.div61,
.div62 {
  top: 284px;
}
.div62 {
  top: 359px;
  left: 604px;
  width: 6px;
  height: 24px;
}
.line-icon {
  position: absolute;
  top: 424px;
  left: 627px;
  width: 383px;
  height: 0;
}
.kpi-child1 {
  position: absolute;
  bottom: 580px;
  left: 654px;
  width: 18px;
  height: 98px;
}
.kpi-child2,
.kpi-child3,
.kpi-child4,
.kpi-child5,
.kpi-child6,
.kpi-child7,
.kpi-child8,
.line-div {
  position: absolute;
  top: 416.5px;
  left: 626.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 389px;
  height: 1px;
}
.kpi-child2,
.kpi-child3,
.kpi-child4,
.kpi-child5,
.kpi-child6,
.kpi-child7,
.kpi-child8 {
  top: 391.5px;
}
.kpi-child3,
.kpi-child4,
.kpi-child5,
.kpi-child6,
.kpi-child7,
.kpi-child8 {
  top: 366.5px;
}
.kpi-child4,
.kpi-child5,
.kpi-child6,
.kpi-child7,
.kpi-child8 {
  top: 341.5px;
}
.kpi-child5,
.kpi-child6,
.kpi-child7,
.kpi-child8 {
  top: 315.5px;
}
.kpi-child6,
.kpi-child7,
.kpi-child8 {
  top: 290.5px;
}
.kpi-child7,
.kpi-child8 {
  top: 265.5px;
  left: 627.5px;
}
.kpi-child8 {
  top: 240.5px;
}
.kpi-child10,
.kpi-child11,
.kpi-child9 {
  position: absolute;
  top: 216px;
  left: 628px;
  max-height: 100%;
  width: 388px;
}
.kpi-child10,
.kpi-child11 {
  top: 191px;
}
.kpi-child11 {
  top: 443px;
  left: 596px;
  width: 419px;
}
.kpi-child12 {
  position: absolute;
  top: 176px;
  left: 627px;
  width: 0;
  height: 293px;
  object-fit: contain;
}
.kpi {
  width: 100%;
  position: relative;
  background-color: var(--color-aliceblue);
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--light-primary);
  font-family: var(--font-open-sans);
}
.kpi-management-software,
.the-kpi-management {
  position: absolute;
  top: 30px;
  left: 840px;
  letter-spacing: -0.03em;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.the-kpi-management {
  top: 74px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 709px;
}
.managing-plans {
  margin: 0;
}
.go-to-the {
  margin-bottom: 0;
}
.go-to-the-plans-page-click {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.managing-plans-creating-container {
  position: absolute;
  top: 125px;
  left: 842px;
  font-size: var(--font-size-xs);
  letter-spacing: -0.03em;
  display: inline-block;
  width: 826px;
  height: 797px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.kpi-management-software-user-g-parent {
  width: 855px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--background-paper-elevation-0);
  height: 922px;
  overflow: hidden;
  transform: rotate(180deg);
  transform-origin: 0 0;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 24px;
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.new,
.notification {
  position: absolute;
  top: 32px;
  left: 130px;
  font-size: var(--font-size-xl);
  display: flex;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  align-items: center;
  width: 124px;
  height: 41px;
}
.new {
  top: 88px;
  left: 26px;
  width: 58px;
  height: 22px;
}
.frame-child15 {
  position: absolute;
  height: 46.15%;
  width: 13.25%;
  top: 26.92%;
  right: 83.39%;
  bottom: 26.92%;
  left: 3.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.day-ago {
  position: absolute;
  height: 16.79%;
  width: 35.85%;
  top: 83.33%;
  left: 20.45%;
  color: var(--color-silver);
  display: inline-block;
}
.you-have-deadline {
  margin: 0;
}
.kpi-edu1,
.you-have-deadline-container {
  position: absolute;
  height: 34.62%;
  width: 58.26%;
  top: 50%;
  left: 20.45%;
  display: inline-block;
}
.kpi-edu1 {
  height: 28.33%;
  width: 35.74%;
  top: 17.95%;
  font-size: var(--font-size-xl);
}
.ellipse-div {
  position: absolute;
  height: 11.54%;
  width: 2.52%;
  top: 26.92%;
  right: 52.94%;
  bottom: 61.54%;
  left: 44.54%;
  border-radius: 50%;
  background-color: var(--color-dodgerblue);
}
.frame-div,
.group-container,
.group-parent1,
.group-parent2 {
  position: absolute;
  top: 129px;
  left: 14px;
  width: 357px;
  height: 78px;
  overflow: hidden;
}
.frame-div,
.group-parent1,
.group-parent2 {
  top: 226px;
}
.group-parent1,
.group-parent2 {
  top: 369px;
}
.group-parent2 {
  top: 466px;
}
.read {
  position: absolute;
  top: 323px;
  left: 26px;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
  color: var(--color-black);
}
.component-5 {
  width: 385px;
  position: relative;
  background-color: var(--background-paper-elevation-0);
  height: 600px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--light-primary);
  font-family: var(--font-inter);
}
